﻿@model Pergo.Areas.Admin.ViewModels.Auth.LoginView
@{
    var siteNameAbbreviation = @Pergo.Models.Cmind.SiteSetting.SiteNameAbbreviation;
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminPergo  | Log in</title>
    <link rel="shortcut icon" href="~/Content/img/cmind.ico" type="image/png">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link href="~/Content/AdminLTE-2.4.5/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Content/AdminLTE-2.4.5/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link href="~/Content/AdminLTE-2.4.5/Ionicons/css/ionicons.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Content/AdminLTE-2.4.5/css/AdminLTE.min.css" rel="stylesheet" />
    <!-- iCheck -->
    <link href="~/Content/AdminLTE-2.4.5/iCheck/square/blue.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <style>
        .bg {
            background-color: #2b5a6c;
            background: linear-gradient(to bottom, rgb(43 90 108 / 42%) 0%, rgba(207, 122, 77, 0.28) 98%);
            background-image: url('/Content/img/Abstract white background with shadow.jpg');
            background-size: 100%;
            height: 100%;
            text-align: center;
            line-height: 600px;
        }

        .bg-blur {
            float: left;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    </style>
</head>
<body class="hold-transition">
    <div class="bg bg-blur"></div>
    <div class="login-box" style="position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -100%)">
        <div class="login-logo">
            <a href="#" style="color:#a47575;"><b>Admin</b>@siteNameAbbreviation</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body" style="background-color: rgba(0, 0, 0, 0.5); border: 3px solid white;">
            <p class="login-box-msg" style="color: white; font-size: 16px;">Sign in to start your session</p>

            @using (Html.BeginForm("Login", "AuthAdmin", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(model => model.Account, new { @class = "form-control", @placeholder = "帳號" })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
                </div>
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(model => model.Password, new { @type = "password", @class = "form-control", @placeholder = "密碼" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    @*<div class="col-xs-8">
                            <div class="checkbox icheck">
                                <label>
                                    @Html.CheckBoxFor(model => model.RememberMe, new { @class = "form-check-input" })
                                    @Html.DisplayNameFor(model => model.RememberMe)
                                </label>
                            </div>
                        </div>*@
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">登入</button>
                    </div>
                </div>
            }

            @*<a href="#">忘記密碼</a><br>*@

        </div>
    </div>

    <!-- jQuery 3 -->
    <script src="~/Content/AdminLTE-2.4.5/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/AdminLTE-2.4.5/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/Content/AdminLTE-2.4.5/iCheck/icheck.min.js"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>
</body>
</html>
