﻿@model Pergo.Areas.Admin.ViewModels.Series.SeriesView
@{
    ViewBag.Title = "Edit";
}

<section class="content-header">
    <h1>
        系列管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">編輯</h3>
                </div>

                @using (Html.BeginForm("Edit", "SeriesAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.Creater)

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.SeriesName)
                            @Html.TextBoxFor(model => model.SeriesName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SeriesName, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SeriesEngName)
                            @Html.TextBoxFor(model => model.SeriesEngName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SeriesEngName, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SeriesTitle)
                            @Html.TextBoxFor(model => model.SeriesTitle, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Brand)
                            @if (Model.ID != 0) {
                                string BrandName = Model.Brand == 1 ? "Laminate" : "Vinyl";
                                <input class="form-control" value="@BrandName" readonly/>
                                 @Html.HiddenFor(model => model.Brand)
                            }
                            else {
                                @Html.DropDownListFor(model => model.Brand, Model.BrandOptions, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Brand, "", new { @class = "text-danger" })
                            }                            
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Icon) &nbsp;(格式：svg)
                            @Html.TextBoxFor(m => m.Icon, new { @type = "file", @accept = "image/svg+xml" })
                            <p class="help-block">上傳圖片</p>
                            @Html.ValidationMessageFor(model => model.Icon, "", new { @class = "text-danger" })
                            @if (!string.IsNullOrEmpty(Model.Icon))
                            {
                                <img src="~/FileUploads/SeriesPhoto/@Model.Icon" class="img-thumbnail" style="width:200px" />
                                @Html.HiddenFor(model => model.Icon)
                                <br />
                            }
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IconHover) &nbsp;(格式：svg)
                            @Html.TextBoxFor(m => m.IconHover, new { @type = "file", @accept = "image/svg+xml" })
                            <p class="help-block">上傳圖片</p>
                            @Html.ValidationMessageFor(model => model.IconHover, "", new { @class = "text-danger" })
                            @if (!string.IsNullOrEmpty(Model.IconHover))
                            {
                                <img src="~/FileUploads/SeriesPhoto/@Model.IconHover" class="img-thumbnail" style="width:200px" />
                                @Html.HiddenFor(model => model.IconHover)
                                <br />
                            }
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SamplePic) &nbsp;(尺寸：寬:143 x 高:371 px , 格式：jpg)
                            <input type="file" id="sample_pic_file" name="sample_pic_file" accept="image/x-png,image/jpeg">
                            @*@Html.TextBoxFor(m => m.SamplePic, new { @type = "file", @accept = "image/x-png,image/jpeg" })*@
                            <p class="help-block">上傳圖片</p>
                            @Html.ValidationMessageFor(model => model.SamplePic, "", new { @class = "text-danger" })
                            @if (!string.IsNullOrEmpty(Model.SamplePic))
                            {
                                <img src="~/FileUploads/SeriesPhoto/@Model.SamplePic" class="img-thumbnail" style="width:200px" />
                                @Html.HiddenFor(model => model.SamplePic)
                                <br />
                            }
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CasePic) &nbsp;(尺寸：寬:722 x 高:722 px , 格式：jpg)
                            <input type="file" id="case_pic_file" name="case_pic_file" accept="image/x-png,image/jpeg">
                            @*@Html.TextBoxFor(m => m.CasePic, new { @type = "file", @accept = "image/x-png,image/jpeg" })*@
                            <p class="help-block">上傳圖片</p>
                            @Html.ValidationMessageFor(model => model.CasePic, "", new { @class = "text-danger" })
                            @if (!string.IsNullOrEmpty(Model.CasePic))
                            {
                                <img src="~/FileUploads/SeriesPhoto/@Model.CasePic" class="img-thumbnail" style="width:200px" />
                                @Html.HiddenFor(model => model.CasePic)
                                <br />
                            }
                        </div>

                        <div class="form-group">
                            <label>@Html.LabelFor(model => model.UsageSite)</label><br />
                            @Html.DropDownList("n", Model.SiteOptions, "---Select---", new { @class = "form-control js-approval", @style = "width:80%; display:inline; background-color:#f5fbff; ", @id = "js-signer-UsageSite" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.UsageSite, new Dictionary<string, object> { { "data-role", "tagsinput" }, { "class", "js-approval" } })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Sort)
                            @Html.TextBoxFor(model => model.Sort, new { @class = "form-control" })
                        </div>

                        <div class="form-check">
                            @Html.CheckBoxFor(model => model.IsOnline, new { @class = "form-check-input" })
                            <label class="form-check-label" for="check-box-status">
                                @Html.DisplayNameFor(model => model.IsOnline)
                            </label>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">儲存</button>
                        @if (Model.ID != 0)
                        {
                            @Html.ActionLink("花色", "Index", "ProductAdmin", new { sid = Model.ID }, new { @class = "btn btn-primary" }) <span> </span>
                            @Html.ActionLink("等級", "Index", "LevelAdmin", new { sid = Model.ID }, new { @class = "btn btn-primary" })<span> </span>
                            @Html.ActionLink("應用", "Index", "UsageAdmin", new { sid = Model.ID }, new { @class = "btn btn-primary" })
                        }
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            var $selectedSiteType = $('#UsageSite');
            var remove;

            //SiteType
            $selectedSiteType.on('itemAdded', function (event) {
                if (remove) {
                    $selectedSigner.tagsinput('remove', remove);
                    remove = '';
                }
            });
            $('#js-signer-UsageSite').on('change', function () {
                var selected = $('#js-signer-UsageSite option:selected');
                var id = selected.val();
                if (!id) {
                    return;
                }
                $selectedSiteType.tagsinput('add', selected.text());
            });
        });
    </script> 
}