﻿@model Pergo.Areas.Admin.ViewModels.SEO.SEOView
@{
    ViewBag.Title = "Edit";
    string edittype = "編輯";
}

<section class="content-header">
    <h1>
        SEO管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@Model.SEOPage &nbsp; @edittype</h3>
                </div>

                @using (Html.BeginForm("Edit", "SEOAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.Controller)
                    @Html.HiddenFor(model => model.Action)
                    @Html.HiddenFor(model => model.Parameter)

                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Title)
                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @maxlength = "50" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description)
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @style="height:100px;" })
                    </div>

                     <div class="form-group">
                        @Html.LabelFor(model => model.Keywords)
                        @Html.TextAreaFor(model => model.Keywords, new { @class = "form-control", @style = "height:100px;" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Url)
                        @Html.TextBoxFor(model => model.Url, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Image) &nbsp;(尺寸：寬:0 x 高:0 px , 格式：jpg、png、svg)
                        @Html.TextBoxFor(m => m.Image, new { @type = "file", @accept = "image/x-png,image/jpeg,image/svg+xml" })
                        <p class="help-block">上傳圖片</p>
                        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                        @if (!string.IsNullOrEmpty(Model.Image))
                        {
                        <img src="~/FileUploads/SEOPhoto/@Model.Image" class="img-thumbnail" style="width:400px" />
                        @Html.HiddenFor(model => model.Image)
                        <br />
                        }
                    </div>
                </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <!-- ckeditor -->
    <script src="~/Content/Admin/ckeditor/ckeditor.js"></script>
    <script>

        $(function () {
            //Ckeditor init
            $('.js-ckeditor').each(function (i, e) {
                var id = $(e).attr('id');
                CKEDITOR.replace(id,
                    {
                        filebrowserImageUploadUrl: '@Url.Action("Upload")',
                        font_defaultLabel: 'sans-serif',
                        //fontSize_defaultLabel: '8',
                        toolbar: [
                            { name: 'basicstyles', groups: ['basicstyles'], items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript'] },
                            { name: 'paragraph', groups: ['align'], items: ['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'] },
                            { name: 'insert', items: ['Image'] },
                            { name: 'styles', items: ['FontSize', 'lineheight'] },
                            { name: 'document', groups: ['mode'] },
                            ['Youtube'],
                        ],
                    }
                );
            });
        });
    </script>
}