﻿@model Pergo.Areas.Admin.ViewModels.SEO.SEOIndexView
@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <h1>
        SEO管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        @*<div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">搜尋</h3>
                </div>
                @using (Html.BeginForm("Index", "SEOAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.BrandType, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.DropDownListFor(model => model.BrandType, Model.BrandTypeOptions, "---地板類型---", new { @class = "form-control", @id = "SeriesName" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.QuestionType, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.DropDownListFor(model => model.QuestionType, Model.QuestionTypeOptions, "---問題類型---", new { @class = "form-control", @id = "SeriesName" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IsOnline, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.IsOnline, "StatusDropDownList", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">搜尋</button>
                                @Html.ActionLink("新增SEO", "Edit", "SEOAdmin", new { }, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>*@

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">SEO列表</h3>
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.SEOList.FirstOrDefault().ID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.SEOList.FirstOrDefault().SEOPage)
                                            </th>
                                            <th style="width: 500px;">
                                                @Html.DisplayNameFor(model => model.SEOList.FirstOrDefault().Title)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.SEOList.FirstOrDefault().Url)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.SEOList.FirstOrDefault().Image)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.SEOList.FirstOrDefault().ID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.SEOList.FirstOrDefault().SEOPage)
                                            </th>
                                            <th style="width: 500px;">
                                                @Html.DisplayNameFor(model => model.SEOList.FirstOrDefault().Title)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.SEOList.FirstOrDefault().Url)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.SEOList.FirstOrDefault().Image)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var item in Model.SEOList)
                                        {
                                            <tr>
                                                <td>
                                                    @item.ID
                                                </td>
                                                <td style="color:teal;font-weight:bold">@item.SEOPage</td>
                                                <td>
                                                    @item.Title
                                                </td>
                                                <td>
                                                    <a href="@item.Url" target="_blank" style="color:brown">@item.Url</a>
                                                </td>
                                                <td>
                                                    <img src="~/FileUploads/SEOPhoto/@item.Image" style="width:300px" /><br />
                                                </td>                                                
                                                <td>
                                                    @Html.ActionLink("編輯", "Edit", "SEOAdmin", new { id = item.ID }, new { @class = "btn btn-primary" })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
}
