﻿@model Pergo.Areas.Admin.ViewModels.ItemType.ItemTypeView
@{
    ViewBag.Title = "Edit";
}

<section class="content-header">
    <h1>
        分類項目管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">編輯</h3>
                </div>

                @using (Html.BeginForm("Edit", "ItemTypeAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.Creater)

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.SeriesID)
                            @Html.DropDownListFor(model => model.SeriesID, Model.SeriesList, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SeriesID, "", new { @class = "text-danger" })
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.Item)
                            @Html.DropDownListFor(model => model.Item, Model.ItemTypeOptions, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Item, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TypeName)
                            @Html.TextBoxFor(model => model.TypeName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TypeName, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-check">
                            @Html.CheckBoxFor(model => model.IsOnline, new { @class = "form-check-input" })
                            <label class="form-check-label" for="check-box-status">
                                @Html.DisplayNameFor(model => model.IsOnline)
                            </label>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

