﻿@model Pergo.Areas.Admin.ViewModels.FixedBanner.BannerView
@{
    ViewBag.Title = "Edit";
}

<section class="content-header">
    <h1>
        固定Banner管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">編輯</h3>
                </div>

                @using (Html.BeginForm("Edit", "FixedBannerAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.Creater)
                    @Html.HiddenFor(model => model.Anchor)

                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EngTitle)
                        @Html.TextBoxFor(model => model.EngTitle, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Title)
                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SubTitle)
                        @Html.TextBoxFor(model => model.SubTitle, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MainPic) &nbsp;(尺寸：寬:1665 x 高:937 px , 格式：jpg、png)                        
                        <input type="file" id="main_photo" name="main_photo" accept="image/x-png,image/jpeg">
                        @*@Html.TextBoxFor(m => m.MainPic, new { @type = "file", @accept = "image/x-png,image/jpeg" })*@
                        <p class="help-block">上傳圖片</p>
                        @Html.ValidationMessageFor(model => model.MainPic, "", new { @class = "text-danger" })
                        @if (!string.IsNullOrEmpty(Model.MainPic))
                        {
                            <img src="~/FileUploads/FixedBannerPhoto/@Model.MainPic" class="img-thumbnail" style="width:400px" />
                            @Html.HiddenFor(model => model.MainPic)
                            <br />
                        }
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MobileMainPic) &nbsp;(尺寸：寬:1665 x 高:937 px , 格式：jpg、png)
                        <input type="file" id="mobile_photo" name="mobile_photo" accept="image/x-png,image/jpeg">
                        @*@Html.TextBoxFor(m => m.MobileMainPic, new { @type = "file", @accept = "image/x-png,image/jpeg" })*@
                        <p class="help-block">上傳圖片</p>
                        @Html.ValidationMessageFor(model => model.MobileMainPic, "", new { @class = "text-danger" })
                        @if (!string.IsNullOrEmpty(Model.MobileMainPic))
                        {
                            <img src="~/FileUploads/FixedBannerPhoto/@Model.MobileMainPic" class="img-thumbnail" style="width:400px" />
                            @Html.HiddenFor(model => model.MobileMainPic)
                            <br />
                        }
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LinkText)
                        @Html.TextBoxFor(model => model.LinkText, new { @class = "form-control", @maxlength = "20"})
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Link) <code id="link_notice">連結文字若包含"youtube.com"相關字元，前台將以影片方式顯示</code>
                        @Html.TextBoxFor(model => model.Link, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Anchor)
                        <a href="@Model.Anchor" target="_blank">@Model.Anchor</a>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Type)
                        @Html.DropDownListFor(model => model.Type, Model.BannerTypeOptions, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                        <div id="sample_pic">
                            <code>下方為此版圖片於前台顯示方式</code><br />
                            <img src="~/Content/img/Pergo_banner_sample.png" style="height: 10%; width: 10%;"/>
                        </div>
                    </div>

                    <div class="form-check" id="TextChangeArea">
                        @Html.CheckBoxFor(model => model.TextChange, new { @class = "form-check-input" })
                        <label class="form-check-label" for="check-box-status">
                            @Html.DisplayNameFor(model => model.TextChange)
                        </label>
                    </div>

                    <div class="form-check" id="WhiteSpaceArea">
                        @Html.CheckBoxFor(model => model.WhiteSpace, new { @class = "form-check-input" })
                        <label class="form-check-label" for="check-box-status">
                            @Html.DisplayNameFor(model => model.WhiteSpace)
                        </label>
                    </div>

                    <div class="form-group" id="PositionArea">
                        @Html.LabelFor(model => model.Position)
                        @Html.DropDownListFor(model => model.Position, Model.PositionOptions, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-check">
                        @Html.CheckBoxFor(model => model.IsOnline, new { @class = "form-check-input" })
                        <label class="form-check-label" for="check-box-status">
                            @Html.DisplayNameFor(model => model.IsOnline)
                        </label>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Sort)
                        @Html.TextBoxFor(model => model.Sort, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Sort, "", new { @class = "text-danger" })
                    </div>
                </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            var type = $('#Type').val();
            DisplayField(type);
            $('#Type').on('change', function () {
                var type = $(this).val();
                DisplayField(type);
            });

            function DisplayField(type) {
                if (type == '1' || type == '4' || type == '7') {
                    $('#TextChangeArea').removeAttr('style', 'display: none;');
                    $('#WhiteSpaceArea').removeAttr('style', 'display: none;');
                    $('#PositionArea').removeAttr('style', 'display: none;');
                    $('#link_notice').text('連結文字若包含"youtube.com"相關字元，前台將以影片方式顯示');
                    $('#sample_pic').attr('style', 'display: none;');
                }
                else if (type == '3') {
                    $('#TextChangeArea').attr('style', 'display: none;');
                    $('#WhiteSpaceArea').attr('style', 'display: none;');
                    $('#PositionArea').attr('style', 'display: none;');
                    $('#link_notice').text('');
                    $('#sample_pic').attr('style', 'display: none;');     
                }
                else {
                    $('#TextChangeArea').removeAttr('style', 'display: none;');
                    $('#WhiteSpaceArea').attr('style', 'display: none;');
                    $('#PositionArea').attr('style', 'display: none;');
                    $('#link_notice').text('');
                    if (type == '2') {
                        $('#sample_pic').attr('style', 'display: none;');     
                    }
                    else {
                        $('#sample_pic').removeAttr('style', 'display: none;');
                    }
                }
            };
        });
    </script>    
}

