﻿@model Pergo.ViewModels.Comparison.ComparisonTableView

@{ 
    var FirstSeries = Model.FirstSeries;
    var SecondSeries = Model.SecondSeries;
    var FirstSeriesSpec = Model.FirstSeriesSpec;
    var SecondSeriesSpec = Model.SecondSeriesSpec;
    string Title = Model.CH == 0 ? "比較地板系列" : "比較" + Pergo.Utility.Cmind.EnumHelper.GetDescription((Pergo.Models.BrandValue)FirstSeries.Brand) + "系列";
}

    <section class="inset-shadow">
        <div class="container text-4d h5 text-lg-nowrap py-8">
            <h2 class="rwd-title text-center text-body mb-6">@Title</h2>
            @if (Model.CH == 0) {
            <div class="text-center"><a class="h5 text-center" href="@Url.Action("Index", "Comparison")">選項其它系列進行比較 ></a></div>
            }
            else
            {
            <div class="text-center"><a class="h5 text-center" href="@Url.Action("Index", "Comparison", new { ch = Model.CH, value = Pergo.Utility.Cmind.EnumHelper.GetDescription((Pergo.Models.BrandValue)FirstSeries.Brand) })">選項其它系列進行比較 ></a></div>
            }
            <div class="row justify-content-center">
          <div class="col-xl-10">
            <div class="row justify-content-around no-gutters mt-9 grid-table">
                <div class="col-5 col-lg-4 text-center">
                    <figure class="figure">
                        <img class="img-fluid" src="~/FileUploads/SeriesPhoto/@FirstSeries.CasePic" title="sensation 森系列" alt="sensation 森系列" />
                        <figcaption class="my-4">@FirstSeries.SeriesEngName @FirstSeries.SeriesName</figcaption><a class="h5" href="/Series/Overview/@FirstSeries.SeriesEngName.Replace(" ", "")">了解更多 ></a>
                    </figure>
                </div>
                <div class="col-5 col-lg-4 text-center">
                    <figure class="figure">
                        <img class="img-fluid" src="~/FileUploads/SeriesPhoto/@SecondSeries.CasePic" title="long plank 長版系列" alt="long plank 長版系列" />
                        <figcaption class="my-4">@SecondSeries.SeriesEngName @SecondSeries.SeriesName</figcaption><a class="h5" href="/Series/Overview/@SecondSeries.SeriesEngName.Replace(" ", "")">了解更多 ></a>
                    </figure>
                </div>

                <div class="col-12 border-bottom mt-lg-8">
                    <h3 class="h4">尺寸</h3>
                </div>
                <div class="col-6 col-lg-3">
                    <ul class="mt-lg-8">
                        @if (FirstSeriesSpec != null && !string.IsNullOrEmpty(FirstSeriesSpec.Length))
                         {
                        <li class="mb-2">長度：@FirstSeriesSpec.Length</li>
                         }
                        @if (FirstSeriesSpec != null && !string.IsNullOrEmpty(FirstSeriesSpec.Thickness))
                         {
                        <li class="mb-2">厚度：@FirstSeriesSpec.Thickness</li>
                         }
                    </ul>
                </div>
                <div class="col-6 col-lg-3">
                    <ul class="mt-lg-8">
                        @if (SecondSeriesSpec != null && !string.IsNullOrEmpty(SecondSeriesSpec.Length))
                         {
                        <li class="mb-2">長度：@SecondSeriesSpec.Length</li>
                         }
                        @if (SecondSeriesSpec != null && !string.IsNullOrEmpty(SecondSeriesSpec.Thickness))
                         {
                        <li class="mb-2">厚度：@SecondSeriesSpec.Thickness</li>
                         }
                    </ul>
                </div>

                <div class="col-12 border-bottom mt-lg-8">
                    <h3 class="h4">倒角</h3>
                </div>
                <div class="col-6 col-lg-3">
                    <ul class="mt-lg-8">
                         @if (FirstSeriesSpec != null && !string.IsNullOrEmpty(FirstSeriesSpec.Chamfer))
                         {
                        <li class="mb-2">@FirstSeriesSpec.Chamfer</li>
                         }
                    </ul>
                </div>
                <div class="col-6 col-lg-3">
                    <ul class="mt-lg-8">
                         @if (SecondSeriesSpec != null && !string.IsNullOrEmpty(SecondSeriesSpec.Chamfer))
                         {
                         <li class="mb-2">@SecondSeriesSpec.Chamfer</li>
                         }                       
                    </ul>
                </div>

                <div class="col-12 border-bottom mt-lg-8">
                    <h3 class="h4">工藝技術</h3>
                </div>
                <div class="col-6 col-lg-3">
                    <ul class="mt-lg-8">
                        @if(FirstSeriesSpec != null && !string.IsNullOrEmpty(FirstSeriesSpec.Tech))
                        { 
                            foreach (var item in FirstSeriesSpec.Tech.Split(','))
                            {
                            <li class="mb-2">@item</li>
                            }
                        }
                    </ul>
                </div>
                <div class="col-6 col-lg-3">
                    <ul class="mt-lg-8">
                        @if (SecondSeriesSpec != null && !string.IsNullOrEmpty(SecondSeriesSpec.Tech))
                        {
                            foreach (var item in SecondSeriesSpec.Tech.Split(','))
                            {
                        <li class="mb-2">@item</li>
                            }
                        }
                    </ul>
                </div>

                <div class="col-12 border-bottom mt-lg-8">
                    <h3 class="h4">表層壓紋</h3>
                </div>
                <div class="col-6 col-lg-3">
                    <ul class="mt-lg-8">
                        @if (FirstSeriesSpec != null && !string.IsNullOrEmpty(FirstSeriesSpec.Texture))
                        {
                            foreach (var item in FirstSeriesSpec.Texture.Split(','))
                            {
                        <li class="mb-2">@item</li>
                            }
                        }
                    </ul>
                </div>
                <div class="col-6 col-lg-3">
                    <ul class="mt-lg-8">
                        @if (SecondSeriesSpec != null && !string.IsNullOrEmpty(SecondSeriesSpec.Texture))
                        {
                            foreach (var item in SecondSeriesSpec.Texture.Split(','))
                            {
                        <li class="mb-2">@item</li>
                            }
                        }
                    </ul>
                </div>

                <div class="col-12 border-bottom mt-lg-8">
                    <h3 class="h4">亮澤</h3>
                </div>
                <div class="col-6 col-lg-3">
                    <ul class="mt-lg-8">
                        @if (FirstSeriesSpec != null && !string.IsNullOrEmpty(FirstSeriesSpec.Luster))
                        {
                            foreach (var item in FirstSeriesSpec.Luster.Split(','))
                            {
                        <li class="mb-2">@item</li>
                            }
                        }
                    </ul>
                </div>
                <div class="col-6 col-lg-3">
                    <ul class="mt-lg-8">
                        @if (SecondSeriesSpec != null && !string.IsNullOrEmpty(SecondSeriesSpec.Luster))
                        {
                            foreach (var item in SecondSeriesSpec.Luster.Split(','))
                            {
                        <li class="mb-2">@item</li>
                            }
                        }
                    </ul>
                </div>

                <div class="col-12 border-bottom">
                    <h3 class="h4">花色</h3>
                </div>
                <div class="col-5 col-lg-3 my-lg-8">
                    <div class="form-row">
                        @if (FirstSeriesSpec != null && FirstSeriesSpec.ColorList != null)
                        {
                            foreach (var item in FirstSeriesSpec.ColorList)
                            {
                                string name = $"{item.EngName} {item.Name}";
                        <div class="col-md-6 col-xl-4 col-xxl-3 my-1">
                            <div class="show-left bg-square" style="background-image:url(/FileUploads/ProductPhoto/@item.MainPic)" data-toggle="modal" data-target=".showDetail" data-name="@name" data-img="/FileUploads/ProductPhoto/@item.MainPic" data-href="@Url.Action("Color", "Series", new { sid = item.SeriesID, cid = $"1-{item.ID}", value = Pergo.Utility.Cmind.EnumHelper.GetDescription((Pergo.Models.BrandValue)FirstSeries.Brand) })"></div>
                        </div>
                            }
                        }
                    </div>
                </div>
                <div class="col-5 col-lg-3 my-lg-8">
                    <div class="form-row">
                        @if (SecondSeriesSpec != null && SecondSeriesSpec.ColorList != null)
                        {
                            foreach (var item in SecondSeriesSpec.ColorList)
                            {
                                string name = $"{item.EngName} {item.Name}";
                        <div class="col-md-6 col-xl-4 col-xxl-3 my-1">
                            <div class="show-left bg-square" style="background-image:url(/FileUploads/ProductPhoto/@item.MainPic)" data-toggle="modal" data-target=".showDetail" data-name="@name" data-img="/FileUploads/ProductPhoto/@item.MainPic" data-href="@Url.Action("Color", "Series", new { sid = item.SeriesID, cid = $"1-{item.ID}", value = Pergo.Utility.Cmind.EnumHelper.GetDescription((Pergo.Models.BrandValue)SecondSeries.Brand) })"></div>
                        </div>
                            }
                        }
                    </div>
                </div>

            </div>
        </div>
        </div>
        </div>
    </section>
    <div class="modal fade showDetail" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog mt-md-8">
            <div class="modal-content bg-transparent border-0">
                <a class="text-hide text-right" href="#" data-dismiss="modal" aria-label="Close">close<img src="~/Content/img/icon-cross.svg" alt="close" width="40" height="40" /></a>
                <div class="carousel slide" id="carousel" data-ride="carousel">
                    <div class="carousel-inner"></div>
                </div>
                <a class="carousel-control-prev" id="carousel-prev" href="#carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon-white" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" id="carousel-next" href="#carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon-white" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                @*<a class="carousel-prev" id="carousel-prev" href="#carousel" role="button" data-slide="prev" style="top:40%; bottom:40%;">
                    <span class="prev-arrow-line" aria-hidden="true"></span>
                </a>
                <a class="carousel-next" id="carousel-next" href="#carousel" role="button" data-slide="next" style="top:40%; bottom:40%;">
                    <span class="next-arrow-line" aria-hidden="true"></span>
                </a>*@
            </div>
        </div>
    </div>

@section bread{
    <li class="breadcrumb-item active" aria-current="page">產品比較</li>
}

@section scripts{
    <script>
        $(function () {
            $('.menu_4').addClass('active');
            setTimeout(function () {
                $('.checkbox-round').each(function () {
                    $(this).prop('checked,false')
                });
            }, 0);          
        });
    </script>
}