﻿@model Pergo.ViewModels.Comparison.IndexView
@{ 
    string Title = string.IsNullOrEmpty(Model.CHStr) ? "比較地板系列" : "比較" + Model.CHStr + "系列";
    string brandStr = Model.CH == 2 ? "Vinyl" : "Laminate";
}

<section class="inset-shadow">
    <div class="container text-center py-8">
        <h2 class="rwd-title mb-5">@Title</h2>
        <p class="rwd-subtitle font-weight-normal mb-7">從以下選項中挑選出兩種您心儀的地板系列進行比較。</p>
        <a class="btn btn-twin py-2 px-6 rounded-lg mb-8" id="showTable" href="#">比較系列</a>
        <div class="row justify-content-center">
            <div class="col-xxl-10">
                <div class="comparison-plank">
                    @for (int i = 0; i < Model.BrandSeriesList.Count(); i++)
                    {
                        string compare = "compare" + i;
                        var data = Model.BrandSeriesList[i];
                        <div class="text-center px-2">
                            <input class="checkbox-round" type="checkbox" id="@compare" value="@data.ID" name="compareSample" />
                            <label class="d-block mt-2 hover-mask" for="@compare">
                                <figure class="figure">
                                    <div class="checked-border mb-4">
                                        <img class="img-fluid" src="~/FileUploads/SeriesPhoto/@data.SamplePic" title="@data.SeriesName" alt="@data.SeriesName" />
                                        <div class="hover-group">
                                            <h3 class="rwd-subtitle font-weight-normal">@data.SeriesName</h3><a class="add-fav" href="#"><span class="icon icon-heart"></span></a>
                                        </div>
                                    </div>
                                    <figcaption class="text-center">@data.SeriesName</figcaption>
                                </figure>
                            </label>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Content/js/slick.js"></script>
    <script>
        var compareItems = [];
        $(function () {
            $('.menu_4').addClass('active');
            $('input[name="compareSample"]').each(function () {
                compareItems = [];
                $(this).prop('checked', false);
            });
        });

        $('.comparison-plank').slick({
            infinite: true,
            slidesToShow: $(window).width() < 768 ? 3 : 5,
            slidesToScroll: $(window).width() < 768 ? 3 : 5,
            prevArrow: '<a class="carousel-control-prev" href="#" role="button" style="left:-5%; top:40%;bottom:40%"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span></a>',
            nextArrow: '<a class="carousel-control-next" href="#" role="button" style="right:-5%; top:40%;bottom:40%"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">Next</span></a>'
        })      
        $('#showTable').on('click', function (e) {
            if (compareItems.length < 2) {
                alert('請選擇比較系列 ! ');
                e.preventDefault();
            }
            else {
                window.location.href = `@Url.Action("ComparisonTable", "Comparison")?sa=${compareItems[0]}&sb=${compareItems[1]}&ch=@(Model.CH)&value=@(brandStr)`;
            }
        });
        $('input[name="compareSample"]').on('change', function () {
            let exist = compareItems.indexOf($(this).val()) === -1 ? false : true;
            let arrayIndex = compareItems.indexOf($(this).val());
            //確認比較項目以點選 ? 刪除 : (新增條件只能兩項 ? 刪除陣列[0] → 新增 : 直接新增)
            if (exist) {
                compareItems.splice(arrayIndex, 1)
            } else {
                if (compareItems.length === 2) {
                    $(`input[value=${compareItems[0]}]`).prop('checked', false);
                    compareItems.splice(0, 1);
                }
                compareItems.push($(this).val());
            }
        });

    </script>
}

@section bread{
    <li class="breadcrumb-item active" aria-current="page">產品比較</li>
}
