﻿@model Pergo.ViewModels.Home.AboutView

@section header{
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 pb-4 border-bottom">
                <div class="py-8 px-7 bg-cover bg-right" style="background-image:url('/Content/img/bg-faq.jpg');">
                    <h2 class="rwd-title2 bg-mask">關於百力</h2>
                </div>
            </div>
        </div>
    </div>
</section>

@section bread{
    <li class="breadcrumb-item active" aria-current="page">關於百力</li>
}

@section scripts{
    <script>
        $(function () {
            $('.menu_1').addClass('active');
        });
    </script>
}