﻿@model Pergo.ViewModels.Home.AccessoriesView
@{
    string brand = Model.ch == 1 ? "Laminate" : "Vinyl";
    string brandtitle = Model.ch == 1 ? Model.LaminateTitle : Model.VinylTitle;
    string branddesc = Model.ch == 1 ? Model.LaminateDesc : Model.VinylDesc;
}

@section header{
}

<div class="inset-shadow py-4 py-lg-8">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 mb-4">
                <h2 class="h5">@brand 專業配件</h2>
            </div>
            <div class="col-xl-10">
                <h2 class="rwd-title">@brandtitle</h2>
            </div>
            <div class="col-xl-10 my-4">
                <p class="h5 text-80 line-loose">@branddesc</p>
            </div>
        </div>
    </div>
@{ 
    int lines = Model.AccessoriesItemList.Count() / 3;
    if (Model.AccessoriesItemList.Count() % 3 > 0)
    {
        lines++;
    }
}
@for (int i = 0; i < lines; i++)
{
    int s = 0;
    int c = i + 1;
    var thisList = Model.AccessoriesItemList.Skip(3 * i).Take(3).ToList();
    <section class="bg-accessory-menu">
        <div class="container mb-3">
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="row">
                        @for (int j = 0; j < thisList.Count(); j++)
                        {
                            var thisData = thisList[j];
                            string data_target = "#block" + thisData.ID;
                        <div class="col-4">
                            <div class="accessory bg-square hover" style="background-image:url('/FileUploads/AccessoriesPhoto/@thisData.MainPic');" data-toggle="collapse" data-target="@data_target">
                                <h3 class="h5 mark width-stretch bottom mb-0 py-md-2 p-xl-3">@thisData.Title</h3>
                            </div>
                        </div>
                        }                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    foreach (var item in thisList)
    {       
        string data_target = "block" + item.ID;
        string triangle = "tri-left";
        if (s == 1)
        {
            triangle = "tri-center";
        }
        else if (s == 2)
        {
            triangle = "tri-right";
        }        
    <section class="collapse bg-accessory-collapse" id="@data_target">
        <div class="container triangle @triangle">
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <p class="h5 text-80 line-loose">@item.Concept</p>
                </div>
                <div class="col-xl-10">
                    <div class="row">
                       @foreach (var usage in item.AccessoriesUsageList)
                       {
                        <div class="col-4 mb-3">
                            <div class="bg-square mb-4" style="background-image:url('/FileUploads/AccessoriesUsagePhoto/@usage.MainPic');"></div>
                            <h3 class="h5 font-weight-bold">@usage.Title</h3>
                            <p>@usage.Intro。<span class="font-sm"></span></p>
                        </div>
                       }
                    </div>
                </div>
            </div>
        </div>
    </section>
        s++;
    }
    s = 0;
}
</div>

@section bread{
    <li class="breadcrumb-item active" aria-current="page">配件</li>
}

@section scripts{
    <script>
        $(function () {
            $('.bg-accessory-collapse').on('click', function (e) {              
               e.stopPropagation();        
            });
            $('.bg-accessory-menu').on('click', function () {              
                $('.bg-accessory-collapse').collapse('hide');
                $(this).collapse('show');             
            });
        });
    </script>    
}
