﻿@model Pergo.ViewModels.Home.HomeView

@{ 
    Pergo.Controllers.BaseController baseC = new Pergo.Controllers.BaseController();
}

@section header{
   
}

<section class="inset-shadow mb-5">
    <div class="jumbotron jumbotron-fluid bg-white">
        <div class="carousel slide" id="carouselCaptions" data-ride="carousel">
            <ol class="carousel-indicators">
                <li class="active" data-target="#carouselCaptions" data-slide-to="0"></li>
                <li data-target="#carouselCaptions" data-slide-to="1"></li>
                <li data-target="#carouselCaptions" data-slide-to="2"></li>
                <li data-target="#carouselCaptions" data-slide-to="3"></li>
                <li data-target="#carouselCaptions" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                @if (Model.CarouselBannerList != null)
                {
                    for (int i = 0; i < Model.CarouselBannerList.Count; i++)
                    {
                        var banner = Model.CarouselBannerList[i];
                        string textposition = "mid-center";
                        if (banner.Position != null)
                        {
                            switch (banner.Position)
                            {
                                case 1:
                                    textposition = "top-left";
                                    break;
                                case 2:
                                    textposition = "top-center";
                                    break;
                                case 3:
                                    textposition = "top-right";
                                    break;
                                case 4:
                                    textposition = "mid-left";
                                    break;
                                case 5:
                                    textposition = "mid-center";
                                    break;
                                case 6:
                                    textposition = "mid-right";
                                    break;
                                case 7:
                                    textposition = "btm-left";
                                    break;
                                case 8:
                                    textposition = "btm-center";
                                    break;
                                case 9:
                                    textposition = "btm-right";
                                    break;
                                default:
                                    textposition = "mid-center";
                                    break;
                            }
                        }
                        string text_white = banner.TextChange ? "text-white" : "";
                        string active = i == 0 ? "active" : "";
                        <div class="carousel-item @text_white @active text-center" id="carousel_@banner.ID">
                            <div class="bg-banner" style="background-image:url('/FileUploads/CarouselBannerPhoto/@banner.MainPic')">
                                <div class="banner-txt @textposition">
                                    <div class="rwd-title">@banner.EngTitle</div>
                                    <div class="rwd-title mb-4">@banner.Title</div>
                                    @if (!string.IsNullOrEmpty(banner.Link))
                                    {
                                        <a class="rwd-parapraph" href="@banner.Link">@banner.LinkText&nbsp;>&nbsp;&nbsp;</a>
                                    }
                                    @if (!string.IsNullOrEmpty(banner.LinkTwo))
                                    {
                                        <a class="rwd-parapraph" href="@banner.LinkTwo">@banner.LinkTextTwo&nbsp;></a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

        @if (Model.FixedBannerListTop != null)
        {
            foreach (var item in Model.FixedBannerListTop)
            {
                string textposition = "mid-center";
                if (item.Position != null)
                {
                    switch (item.Position)
                    {
                        case 1:
                            textposition = "top-left";
                            break;
                        case 2:
                            textposition = "top-center";
                            break;
                        case 3:
                            textposition = "top-right";
                            break;
                        case 4:
                            textposition = "mid-left";
                            break;
                        case 5:
                            textposition = "mid-center";
                            break;
                        case 6:
                            textposition = "mid-right";
                            break;
                        case 7:
                            textposition = "btm-left";
                            break;
                        case 8:
                            textposition = "btm-center";
                            break;
                        case 9:
                            textposition = "btm-right";
                            break;
                        default:
                            textposition = "mid-center";
                            break;
                    }
                }
                string text_white = item.TextChange ? "text-white" : "";
                string subtext_white = item.TextChange ? "text-white" : "text-4d";
                if (!string.IsNullOrEmpty(item.Link) && item.Link.IndexOf("youtube.com") > 0)
                {
                    string videolink = item.Link.Replace("watch?v=", "embed/");
                    <div class="jumbotron bg-cover mb-2 p-0" id="fixed_1_@item.ID" style="background-image:url('/FileUploads/FixedBannerPhoto/@(baseC.IsMobile() && !string.IsNullOrEmpty(item.MobileMainPic) ? item.MobileMainPic : item.MainPic)')">
                        <div class="container-fluid text-center">
                            <iframe class="mb-0" width="100%" height="600" src="@videolink" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                        </div>
                    </div>
                }
                else if (!(item.WhiteSpace))
                {
                    <div class="banner @text_white text-center mb-2" id="fixed_1_@item.ID">
                        <img class="w-100" src="~/FileUploads/FixedBannerPhoto/@(baseC.IsMobile() && !string.IsNullOrEmpty(item.MobileMainPic) ? item.MobileMainPic : item.MainPic)" alt="" />
                        <div class="banner-txt @textposition">
                            <div class="rwd-title">@item.EngTitle</div>
                            <div class="rwd-title">@item.Title</div>
                            @if (!string.IsNullOrEmpty(item.SubTitle))
                            {
                                string SubTitle = (item.SubTitle.IndexOf(' ') > 0 && item.SubTitle.Length > 20) ? item.SubTitle.Replace(" ", "<br/>") : item.SubTitle;
                                <div class="@subtext_white my-xl-4 rwd-subtitle font-weight-normal">@Html.Raw(item.SubTitle)</div>
                            }
                            @if (!string.IsNullOrEmpty(item.Link))
                            {
                                <a class="rwd-parapraph" href="@item.Link">@item.LinkText &gt;</a>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div class="container-fluid text-center">
                        @*<div class="bg-banner @text_white text-@textposition mt-2" style="background-image:url('/FileUploads/FixedBannerPhoto/@item.MainPic')">*@
                        <div class="banner @text_white text-center" id="fixed_1_@item.ID">
                            <img class="w-100" src="~/FileUploads/FixedBannerPhoto/@item.MainPic" alt="" />
                            <div class="banner-txt @textposition">
                                <div class="rwd-title">@item.EngTitle</div>
                                <div class="rwd-title">@item.Title</div>
                                @if (!string.IsNullOrEmpty(item.SubTitle))
                                {
                                    string SubTitle = (item.SubTitle.IndexOf(' ') > 0 && item.SubTitle.Length > 20) ? item.SubTitle.Replace(" ", "<br/>") : item.SubTitle;
                                    <div class="@subtext_white my-xl-4 rwd-subtitle">@Html.Raw(SubTitle)</div>
                                }
                                @if (!string.IsNullOrEmpty(item.Link))
                                {
                                    <a class="rwd-parapraph" href="@item.Link">@item.LinkText&gt;</a>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</section>
<section class="bg-secondary">
    <div class="container-fluid text-center">
        <div class="row py-3">
            @if (Model.FixedBannerListMid != null)
            {
                foreach (var item in Model.FixedBannerListMid)
                {
                    string text_white = item.TextChange ? "text-white" : "";
                    string subtext_white = item.TextChange ? "text-white" : "text-4d";
                    <div class="col-lg-6 my-2 my-lg-4 @text_white" id="fixed_2_@item.ID">
                        @*@if (!string.IsNullOrEmpty(item.Link))
                            {
                               @Html.Raw("<a href=\"" + item.Link + "\">");
                            }*@
                        <div class="bg-v-rect" style="background-image:url(/FileUploads/FixedBannerPhoto/@(baseC.IsMobile() && !string.IsNullOrEmpty(item.MobileMainPic) ? item.MobileMainPic : item.MainPic))">
                            <div class="width-stretch top mt-5 mt-xl-8 px-4 px-xl-6">
                                <div class="rwd-title">@item.EngTitle</div>
                                <div class="rwd-title">@item.Title</div>
                                @if (!string.IsNullOrEmpty(item.SubTitle))
                                {
                                    string SubTitle = (item.SubTitle.IndexOf(' ') > 0) ? item.SubTitle.Replace(" ", "<br/>") : item.SubTitle;
                                    <div class="rwd-subtitle @subtext_white">@Html.Raw(SubTitle)</div>
                                }
                                @if (!string.IsNullOrEmpty(item.Link) && !string.IsNullOrEmpty(item.LinkText))
                                {
                                    <a class="rwd-parapraph" href="@item.Link">@item.LinkText ></a>
                                }
                            </div>
                        </div>
                        @*@if (!string.IsNullOrEmpty(item.Link))
                            {
                            @Html.Raw("</a>");
                            }*@
                    </div>
                }
            }
        </div>
    </div>
</section>
<section>
    <div class="container-fluid py-2">
        <div class="row py-3">
            @if (Model.FixedBannerListButt != null)
            {
                foreach (var item in Model.FixedBannerListButt)
                {
                    string link = string.IsNullOrEmpty(item.Link) ? "#" : item.Link;
                    string text_white = item.TextChange ? "text-white" : "";
                    <div class="col-md-4 @text_white" id="fixed_3_@item.ID">
                        <a class="d-block overflow-hidden" href="@link">
                            <div class="hover-enlarge bg-square" style="background-image:url(/FileUploads/FixedBannerPhoto/@(baseC.IsMobile() && !string.IsNullOrEmpty(item.MobileMainPic) ? item.MobileMainPic : item.MainPic))"></div>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            $.ajax({
                type: 'POST',
                url: '/Series/GetColorList',
                async: false,
                data: { sid: 3 },
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                    //data.each(function () {

                    //});
                }
            })
        });
    </script>
}