﻿@model Pergo.ViewModels.Home.SearchView

@{

}

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 pb-4 border-bottom mb-4 mb-xl-6">
                <div class="py-8 px-7 bg-cover bg-right" style="background-image:url('/Content/img/bg-faq.jpg');">
                    <h2 class="rwd-title2">此頁面尚未完成</h2>
                    <a href="@Url.Action("Index", "Home")">返回首頁</a>
                </div>
            </div>
        </div>
    </div>
</section>


@section scripts{
    <script>
        $(function () {      
            $('#a_spec').addClass('active');
        });
    </script>
}