﻿@model Pergo.Areas.Admin.ViewModels.AccessoriesUsage.AccessoriesUsageView
@{
    ViewBag.Title = "Edit";
}

<section class="content-header">
    <h1>
        配件應用管理 - @Model.AccessoriesStr
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">編輯</h3>
                </div>

                @using (Html.BeginForm("Edit", "AccessoriesUsageAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.AccessoriesID)
                    @Html.HiddenFor(model => model.AccessoriesStr)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.Creater)

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title)
                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Intro)
                            @Html.TextAreaFor(model => model.Intro, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MainPic) &nbsp;(尺寸：寬:0 x 高:0 px , 格式：jpg)
                            <input type="file" id="pic_file" name="pic_file" accept="image/x-png,image/jpeg">
                            @*@Html.TextBoxFor(m => m.MainPic, new { @type = "file", @accept = "image/x-png,image/jpeg" })*@
                            <p class="help-block">上傳圖片</p>
                            @Html.ValidationMessageFor(model => model.MainPic, "", new { @class = "text-danger" })
                            @if (!string.IsNullOrEmpty(Model.MainPic))
                            {
                                <img src="~/FileUploads/AccessoriesUsagePhoto/@Model.MainPic" class="img-thumbnail" style="width:200px" />
                                @Html.HiddenFor(model => model.MainPic)
                                <br />
                            }
                        </div>                  

                        <div class="form-group">
                            @Html.LabelFor(model => model.Sort)
                            @Html.TextBoxFor(model => model.Sort, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Sort, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.CheckBoxFor(model => model.IsOnline, new { @class = "form-check-input" })
                            <label class="form-check-label" for="check-box-status">
                                @Html.DisplayNameFor(model => model.IsOnline)
                            </label>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Index", new { sid = Model.AccessoriesID }, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            var $selectedSiteType = $('#SiteType');
            var remove;

            //SiteType
            $selectedSiteType.on('itemAdded', function (event) {
                if (remove) {
                    $selectedSigner.tagsinput('remove', remove);
                    remove = '';
                }
            });
            $('#js-signer-SiteType').on('change', function () {
                var selected = $('#js-signer-SiteType option:selected');
                var id = selected.val();
                if (!id) {
                    return;
                }
                $selectedSiteType.tagsinput('add', selected.text());
            });
        });
    </script>
}