﻿@model Pergo.Areas.Admin.ViewModels.AccessoriesUsage.AccessoriesUsageIndexView
@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <h1>
        配件應用管理 - @Model.AccessoriesStr
    </h1>
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">搜尋</h3>
                    @Html.ActionLink("返回配件項目", "Edit", "AccessoriesAdmin", new { id = Model.AccessoriesID }, new { @class = "btn btn-default" })
                </div>
                @using (Html.BeginForm("Index", "AccessoriesUsageAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    @Html.HiddenFor(model => model.AccessoriesID)
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @id = "Title", @placeholder = "標題" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IsOnline, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.IsOnline, "StatusDropDownList", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">搜尋</button>
                                @Html.ActionLink("新增應用", "Edit", "AccessoriesUsageAdmin", new { aid = Model.AccessoriesID }, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">應用列表</h3>
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().ID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Title)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().MainPic)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().IsOnline)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Sort)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().UpdateDate)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().ID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Title)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().MainPic)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().IsOnline)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Sort)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().UpdateDate)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @if (Model.PageResult.Data.Count() > 0)
                                        {
                                            foreach (var item in Model.PageResult.Data)
                                            {
                                                <tr>
                                                    <td>
                                                        @item.ID
                                                    </td>
                                                    <td>
                                                        @item.Title
                                                    </td>
                                                    <td>
                                                        <img src="~/FileUploads/AccessoriesUsagePhoto/@item.MainPic" style="height:100px" />
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(model => item.IsOnline, "_Status")
                                                    </td>
                                                    <td>
                                                        @item.Sort
                                                    </td>
                                                    <td>
                                                        @item.UpdateDate
                                                    </td>
                                                    <td>
                                                        @Html.ActionLink("編輯", "Edit", "AccessoriesUsageAdmin", new { id = item.ID, aid = item.AccessoriesID }, new { @class = "btn btn-primary" })
                                                        @Html.ActionLink("刪除", "Delete", "AccessoriesUsageAdmin", new { id = item.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>    
}
