﻿@model Pergo.Areas.Admin.ViewModels.Accessories.AccessoriesIndexView
@{
    ViewBag.Title = "Index";
}

@section styles{
    <style>
         .textarea_limit {
             overflow: hidden; /* 不顯示捲軸 */
             resize: none; /* 禁止瀏覽器拖放區塊大小 */
         }
    </style>   
}

<section class="content-header">
    <h1>
        配件項目管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary" id="first_box" >
                <div class="box-header with-border">
                    <h3 class="box-title">配件標題 (展開編輯)</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div><!-- /.box-tools -->
                </div>            
                 @using (Html.BeginForm("AccessoriesTitle", "AccessoriesAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                 {
                     @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Title)
                    @Html.HiddenFor(model => model.Brand)
                    @Html.HiddenFor(model => model.IsOnline)
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">  </label>
                        <div class="col-sm-10" style="font-weight: 700;">
                            <a href="@Request.Url.Scheme://@Request.Url.Authority/Home/Accessories?value=Laminate&ch=1" target="_blank">Laminate配件 (前台)</a>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.LaminateTitle, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.LaminateTitle, new { @class = "form-control", @id = "LaminateTitle" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.LaminateDesc, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.TextAreaFor(model => model.LaminateDesc, new { @class = "form-control textarea_limit", @id = "LaminateDesc" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">  </label>
                        <div class="col-sm-10" style="font-weight: 700;">
                            <a href="@Request.Url.Scheme://@Request.Url.Authority/Home/Accessories?value=Vinyl&ch=2" target="_blank">Vinyl配件 (前台)</a>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.VinylTitle, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.VinylTitle, new { @class = "form-control", @id = "VinylTitle" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.VinylDesc, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.TextAreaFor(model => model.VinylDesc, new { @class = "form-control textarea_limit", @id = "VinylDesc" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">儲存</button>
                        </div>
                    </div>
                </div> 
                 }
                <div class="box-body" style="display: none;">
                  
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
               
                </div>
            </div>
        
            <!--搜尋條件-->      
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">搜尋</h3>
                </div>
                @using (Html.BeginForm("Index", "AccessoriesAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @id = "Title", @placeholder = "標題" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Brand, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.DropDownListFor(model => model.Brand, Model.BrandOptions, "---品牌---", new { @class = "form-control", @id = "AccessoriesName", @placeholder = "品牌材質" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IsOnline, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.IsOnline, "StatusDropDownList", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">搜尋</button>
                                @Html.ActionLink("新增配件項目", "Edit", "AccessoriesAdmin", new { }, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">系列列表</h3>
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().ID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Title)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().MainPic)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Brand)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().IsOnline)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().UpdateDate)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().ID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Title)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().MainPic)                                                
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Brand)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().IsOnline)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().UpdateDate)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                            <tr>
                                                <td>
                                                    @item.ID
                                                </td>
                                                <td>
                                                    @item.Title
                                                </td>
                                                <td>
                                                    <img src="~/FileUploads/AccessoriesPhoto/@item.MainPic" style="height:100px" />
                                                </td>
                                                <td>
                                                    @Pergo.Utility.Cmind.EnumHelper.GetDescription((Pergo.Models.BrandValue)item.Brand)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => item.IsOnline, "_Status")
                                                </td>
                                                <td>
                                                    @item.UpdateDate
                                                </td>
                                                <td>
                                                    @Html.ActionLink("編輯", "Edit", "AccessoriesAdmin", new { id = item.ID }, new { @class = "btn btn-primary" })
                                                    @Html.ActionLink("配件應用", "Index", "AccessoriesUsageAdmin", new { aid = item.ID }, new { @class = "btn btn-default" })
                                                    @Html.ActionLink("刪除", "Delete", "AccessoriesAdmin", new { id = item.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
    <script>
        $(function () {
            //載入頁面時隱藏"配件標題"編輯區塊
            $('#first_box').boxWidget('collapse');
        });
    </script>
}
