﻿@model Pergo.Areas.Admin.ViewModels.CaseSite.CaseSiteView
@{
    ViewBag.Title = "Edit";
}

<section class="content-header">
    <h1>
        案場類型管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">編輯</h3>
                </div>

                @using (Html.BeginForm("Edit", "CaseSiteAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.Creater)

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name)
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>        
                        
                          <div class="form-group">
                            @Html.LabelFor(model => model.Icon) &nbsp;(尺寸：寬:0 x 高:0 px , 格式：svg)
                            @Html.TextBoxFor(m => m.Icon, new { @type = "file", @accept = "image/svg+xml" })
                            <p class="help-block">上傳圖片</p>
                            @Html.ValidationMessageFor(model => model.Icon, "", new { @class = "text-danger" })
                            @if (!string.IsNullOrEmpty(Model.Icon))
                            {
                                <img src="~/FileUploads/CaseSitePhoto/@Model.Icon" class="img-thumbnail" style="width:200px" />
                                @Html.HiddenFor(model => model.Icon)
                                <br />
                            }
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IconHover) &nbsp;(尺寸：寬:0 x 高:0 px , 格式：svg)
                            @Html.TextBoxFor(m => m.IconHover, new { @type = "file", @accept = "image/svg+xml" })
                            <p class="help-block">上傳圖片</p>
                            @Html.ValidationMessageFor(model => model.IconHover, "", new { @class = "text-danger" })
                            @if (!string.IsNullOrEmpty(Model.IconHover))
                            {
                                <img src="~/FileUploads/CaseSitePhoto/@Model.IconHover" class="img-thumbnail" style="width:200px" />
                                @Html.HiddenFor(model => model.IconHover)
                                <br />
                            }
                        </div>

                        <div class="form-check">
                            @Html.CheckBoxFor(model => model.IsOnline, new { @class = "form-check-input" })
                            <label class="form-check-label" for="check-box-status">
                                @Html.DisplayNameFor(model => model.IsOnline)
                            </label>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>