﻿@model Pergo.Areas.Admin.ViewModels.DocumentationMailLog.DocumentationMailLogIndexView
@{
    ViewBag.Title = "Index";
    string title = Model.DocID > 0 ? " - " + Model.DocTitle : "";
}

<section class="content-header">
    <h1>
        文件寄送紀錄管理 @title
    </h1>
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    @Html.ActionLink("返回文件編輯", "Edit", "DocumentationAdmin", new { id = Model.DocID}, new { @class = "btn btn-default" })
                    <h3 class="box-title">搜尋</h3>
                </div>
                @using (Html.BeginForm("Index", "DocumentationMailLogAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    @Html.HiddenFor(model => model.DocID)
                    <div class="box-body">
                        @if(Model.DocID == 0)
                        {
                             <div class="form-group">
                            @Html.LabelFor(model => model.SearchTitle, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.SearchTitle, new { @class = "form-control", @id = "SeriesName", @placeholder = "文件標題" })
                            </div>
                        </div>
                        }                       

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @id = "SeriesName", @placeholder = "信箱" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">搜尋</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">文件列表</h3>
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().ID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().DocID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Email)
                                            </th>                                      
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().CreateDate)
                                            </th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().ID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().DocID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Email)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().CreateDate)
                                            </th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                            <tr>
                                                <td>
                                                    @item.ID
                                                </td>                                               
                                                <td>
                                                    @item.DocTitle
                                                </td> 
                                                <td>
                                                    @item.Email
                                                </td>                                               
                                                <td>
                                                    @item.CreateDate
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
}
