﻿@model Pergo.Areas.Admin.ViewModels.CarouselBanner.BannerView
@{
    ViewBag.Title = "Edit";
}

<section class="content-header">
    <h1>
        首頁輪播圖片管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">編輯</h3>
                </div>

                @using (Html.BeginForm("Edit", "CarouselBannerAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.Creater)
                    @Html.HiddenFor(model => model.Anchor)

                    <div class="box-body">
                         <div class="form-group">
                            @Html.LabelFor(model => model.EngTitle)
                            @Html.TextBoxFor(model => model.EngTitle, new { @class = "form-control" })
                        </div>

                         <div class="form-group">
                            @Html.LabelFor(model => model.Title)
                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                        </div>

                         <div class="form-group">
                            @Html.LabelFor(model => model.SubTitle)
                            @Html.TextBoxFor(model => model.SubTitle, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MainPic) &nbsp;(尺寸：寬:1665 x 高:937 px , 格式：jpg、png)
                            <input type="file" id="pic_file" name="pic_file" accept="image/x-png,image/jpeg">
                            @*@Html.TextBoxFor(m => m.MainPic, new { @type = "file", @accept = "image/x-png,image/jpeg" })*@
                            <p class="help-block">上傳圖片</p>
                            @Html.ValidationMessageFor(model => model.MainPic, "", new { @class = "text-danger" })
                            @if (!string.IsNullOrEmpty(Model.MainPic))
                            {
                                <img src="~/FileUploads/CarouselBannerPhoto/@Model.MainPic" class="img-thumbnail" style="width:400px" />
                                @Html.HiddenFor(model => model.MainPic)
                                <br />
                            }
                        </div>            

                        <div class="form-group">
                            @Html.LabelFor(model => model.LinkText)
                            @Html.TextBoxFor(model => model.LinkText, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Link)
                            @Html.TextBoxFor(model => model.Link, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.LinkTextTwo)
                            @Html.TextBoxFor(model => model.LinkTextTwo, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.LinkTwo)
                            @Html.TextBoxFor(model => model.LinkTwo, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Anchor)
                            <a href="@Model.Anchor" target="_blank">@Model.Anchor</a>
                        </div>

                         <div class="form-check">
                            @Html.CheckBoxFor(model => model.TextChange, new { @class = "form-check-input" })
                            <label class="form-check-label" for="check-box-status">
                                @Html.DisplayNameFor(model => model.TextChange)
                            </label>
                        </div>

                        <div class="form-check">
                            @Html.CheckBoxFor(model => model.WhiteSpace, new { @class = "form-check-input" })
                            <label class="form-check-label" for="check-box-status">
                                @Html.DisplayNameFor(model => model.WhiteSpace)
                            </label>
                        </div>
                                                
                        <div class="form-group">
                            @Html.LabelFor(model => model.Position)
                            @Html.DropDownListFor(model => model.Position, Model.PositionOptions, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-check">
                            @Html.CheckBoxFor(model => model.IsOnline, new { @class = "form-check-input" })
                            <label class="form-check-label" for="check-box-status">
                                @Html.DisplayNameFor(model => model.IsOnline)
                            </label>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Sort)
                            @Html.TextBoxFor(model => model.Sort, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Sort, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

