﻿<section class="content-header">
    <h1>
        PERGO 百力地板 後台
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-th-list"></i> <span>Banner管理</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-double-right pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index", "CarouselBannerAdmin" )"><i class="fa fa-file-photo-o"></i> 首頁輪播Banner管理</a></li>
                            <li><a href="@Url.Action("Index", "FixedBannerAdmin" )"><i class="fa fa-file-photo-o"></i> 固定Banner管理</a></li>
                            <li><a href="@Url.Action("Index", "SeriesBannerAdmin" )"><i class="fa fa-file-photo-o"></i> 系列Banner管理</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-th-list"></i> <span>品牌系列管理</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-double-right pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index", "SeriesAdmin" )"><i class="fa fa-sitemap"></i> 系列管理</a></li>
                            @*<li><a href="@Url.Action("Index", "ItemTypeAdmin" )"><i class="fa fa-sitemap"></i> 分類管理</a></li>*@
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-th-list"></i> <span>預約申請管理</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-double-right pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index", "ReservationAdmin" )"><i class="fa fa-edit"></i> 預約管理</a></li>
                            @*<li><a href="@Url.Action("Index", "SampleAdmin" )"><i class="fa fa-edit"></i> 申請管理</a></li>*@
                        </ul>
                    </li>

                    <li><a href="@Url.Action("Index", "CaseAdmin" )"><i class="fa fa-home"></i> <span>案例管理</span></a></li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-th-list"></i> <span>案例分類管理</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-double-right pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            @*<li><a href="@Url.Action("Index", "ColorShadeAdmin" )"><i class="fa fa-sitemap"></i> 顏色深淺管理</a></li>*@
                            <li><a href="@Url.Action("Index", "CaseSiteAdmin" )"><i class="fa fa-sitemap"></i> 案場類型管理</a></li>
                            @*<li><a href="@Url.Action("Index", "StyleAdmin" )"><i class="fa fa-sitemap"></i> 風格樣式管理</a></li>*@
                        </ul>
                    </li>

                    <li><a href="@Url.Action("Index", "StoreAdmin" )"><i class="fa fa-location-arrow"></i> <span>門市管理</span></a></li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-th-list"></i> <span>FAQ管理</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-double-right pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index", "FAQAdmin" )"><i class="fa fa-edit"></i> FAQ管理</a></li>
                            <li><a href="@Url.Action("Index", "FAQTypeAdmin" )"><i class="fa fa-edit"></i> FAQ分類管理</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Index", "DocumentationAdmin" )"><i class="fa fa-location-arrow"></i> <span>文件管理</span></a></li>
                    <li><a href="@Url.Action("Subscribe", "MemberAdmin" )"><i class="fa fa-location-arrow"></i> <span>訂閱管理</span></a></li>
                    <li><a href="@Url.Action("Index", "AccessoriesAdmin" )"><i class="fa fa-linode"></i> <span>配件管理</span></a></li>
                    <li><a href="@Url.Action("Index", "SEOAdmin" )"><i class="fa fa-linode"></i> <span>SEO管理</span></a></li>
                </ul>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>前台連結</h3>
                    <p>&nbsp;</p>
                </div>
                <div class="icon">
                    <i class="ion ion-android-desktop"></i>
                </div>
                <a href="http://pergo.com.tw/" class="small-box-footer" target="_blank">前往網站前台<i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</section>