﻿@model Pergo.ViewModels.Support.ContactUsView

@section header{
}

@Html.Partial("Service")

<section id="contactUs">
    <div class="container-fluid"></div>
    <div class="container-fluid border-top">
        <div class="row justify-content-center my-4">
            <div class="col-xl-6">
                <h3>請填寫您的預約資訊</h3>
                <p>將為您申請預約丈量的時間。</p>
                @using (Html.BeginForm("ContactUs", "Support", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-row">
                        <div class="col-lg-4 form-group">
                            @Html.LabelFor(model => model.Name)
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @type = "text" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-8 form-group">
                            @Html.LabelFor(model => model.Phone)
                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @type = "tel" })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-12 form-group">
                            @Html.LabelFor(model => model.Address)
                            @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @type = "text" })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-12 form-group">
                            @Html.LabelFor(model => model.Email)
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @type = "email" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-12 form-group">
                            @Html.LabelFor(model => model.Store)
                            @Html.DropDownListFor(model => model.Store, Model.StoreOptions, "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Store, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-12 form-group">
                            @Html.LabelFor(model => model.ReservationTimeStr) &nbsp;(若無選擇將自動設為隔天同一時間)
                            @Html.TextBoxFor(model => model.ReservationTimeStr, new { @class = "form-control", @autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.ReservationTimeStr, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-12 form-group">
                            <label for="message">想要詢問的事項，將請專員為您解說</label>
                            @Html.TextAreaFor(model => model.InquiryContent, new { @class = "form-control", @type = "email", @rows = "10" })
                        </div>
                        <div class="col-2 form-group">
                            <button class="btn btn-outline-primary" id="send" type="submit">送出</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section bread{
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Support" )">支援服務</a></li>
    <li class="breadcrumb-item active" aria-current="page">聯絡我們</li>
}

@section scripts{
    <!--顯示訊息-->
    <script src="~/Scripts/Admin/toastr/toastr.min.js"></script>
    <script src="~/Scripts/Admin/custom.js"></script>
    <script>
        $(function () {
            $('.menu_1').addClass('active');

            $('html, body').animate({
                scrollTop: $('#contactUs').offset().top
            }, 500);         
        });
    </script>

    <!--datetimepicker-->
 
    <link href="~/Content/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Content/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript">
        $(function () {         
            //$('#ReservationTimeStr').keyup(function () {
            //    var nowTime = new Date();
            //    if (parseInt((nowTime - $(this).val())) / 1000 / 60 / 60 < 1) {
            //        alert('預約時間不可少於1小時 !!');
            //        if (nowTime.getHours() <= 17) {
            //            $(this).val(nowTime.setHours(nowTime.getHours()+1));
            //        }
            //        else {
            //            var tomorrow = nowTime.setHours(9, 00);                        
            //            $(this).val(tomorrow);
            //        }
            //    }
            //});

            //datetimepicker
            $.prototype.datetimepicker.DPGlobal.nonpunctuation = /[^ -\/:-@@\[-`{-~\t\n\rZ]+/g;
            var currentDate = new Date();
            //currentDate.setMinutes(0, 0, 0);
            currentDate.setHours(currentDate.getHours() + 1);
            if (currentDate.getHours() >= 17) {
                currentDate.setDate(currentDate.getDate() + 1)
                currentDate.setHours(09, 00);
            }                  
            //currentDate.setHours(currentDate.getHours() + currentDate.getTimezoneOffset() / 60);
            $('#ReservationTimeStr').datetimepicker({
                todayHighlight: true,
                //weekStart: 1,
                //weekEnd: 5,
                daysOfWeekDisabled: [0, 6],
                minView: 0,
                autoclose: true,
                //pickerPosition: 'bottom-left',
                format: 'yyyy/mm/dd hh:ii ',
                //timezone: 'UTC',
                startDate: currentDate,
                minHours: 10,
                maxHours: 17,
            });

            setTimeout(function () {
                var currentDateSec = new Date();
                currentDateSec.setHours(currentDateSec.getHours() + 1);
                if (currentDateSec.getHours() >= 17) {
                    currentDateSec.setDate(currentDateSec.getDate() + 1)
                    currentDateSec.setHours(09, 00);
                }            
                
                //currentDateSec.setHours(currentDateSec.getHours() + currentDateSec.getTimezoneOffset() / 60);
                $('#ReservationTimeStr').datetimepicker({
                    todayHighlight: true,
                    //weekStart: 1,
                    minView: 0,
                    autoclose: true,
                    //pickerPosition: 'bottom-left',
                    format: 'yyyy/mm/dd hh:ii ',
                    //timezone: 'UTC',
                    startDate: currentDateSec,
                    minHours: 9,
                    maxHours: 17,
                });
            }, 1800000);
            $('.datetimepicker-days').on('click', function () {            
                $('.hour').each(function () {
                    var value = $(this).text();
                    var f = +value.split(':')[0];
                    //console.log(f);
                    if (f < 9 || f > 17) {
                        $(this).addClass('disabled');
                        console.log(f);
                    }
                });
            });
        });
    </script>
}