﻿@model Pergo.ViewModels.Support.ContactUsView

@section header{
}

@Html.Partial("Service")

<section id="contact_result">
    <div class="container-fluid"></div>
    <div class="container-fluid border-top">
        <div class="row justify-content-center my-4">
            <div class="col-xl-6" style="margin-left:5%;margin-top:5%;">
                <div style="text-align:center; font-weight:bold;">
                    <p style="font-size: 44px;">您已經完成預約申請</p>
                    <p style="font-size: 24px;">我們將傳送信件至您的電子郵件，請依e-mail資訊為主。</p>
                    <div style="padding-top:100px; padding-bottom:80px;">

                        <a href="@Url.Action("Index", "Support")"><span style="font-size: 34px; color: #e6b300;">查看更多服務 > </span></a>
                    </div>
                </div>

                <div style="border-width: 1px; padding: 30px; border-style: outset; box-shadow: 2px 2px 4px 2px #cccccc;">
                    @if (!string.IsNullOrEmpty(Model.Store)) {                        
                        <img src="~/FileUploads/StorePhoto/@Model.StoreInfo.StorePic" style="width: 250px;"/>            
                    }
                    <table style="display:inline; vertical-align: middle; display: inline-block; font-weight:bold; font-size: 20px;">
                        @{ 
                            var culture = new System.Globalization.CultureInfo("zh-HK");
                            var day = culture.DateTimeFormat.GetDayName(Model.ReservationTime.DayOfWeek);                           
                            var time = culture.DateTimeFormat.GetDayName(Model.ReservationTime.DayOfWeek);                           
                        }
                        <tr>
                            <td><label>@Model.ReservationTime.ToString("yyyy年MM月dd日")，@day</label></td>
                        </tr>
                        <tr>
                            <td>時間 : @Model.ReservationTime.ToString("ttHH:mm(GMT +8)")</td>
                        </tr> 
                        <tr>
                            <td>@Html.LabelFor(model => model.Name) : @Model.Name</td>                      
                        </tr> 
                        <tr>
                            <td>@Html.LabelFor(model => model.Phone) : @Model.Phone</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(model => model.Email) : @Model.Email</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(model => model.Address) : @Model.Address</td>
                        </tr>
                        @if (!string.IsNullOrEmpty(Model.Store)) {         
                        <tr>                          
                            <td>地點 : @Model.StoreInfo.StoreName</td>
                        </tr>
                        }                      
                    </table>
                    <p style="padding-top: 20px; font-weight:bold; font-size: 20px;">@Html.LabelFor(model => model.InquiryContent) : <br />@Model.InquiryContent</p>
                </div>

            </div>
        </div>
    </div>
</section>

@section bread{
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Support" )">支援服務</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("ContactUs", "Support")">支援服務</a></li>
    <li class="breadcrumb-item active" aria-current="page">聯絡我們</li>
}

@section scripts{
    <!--顯示訊息-->
    <script src="~/Scripts/Admin/toastr/toastr.min.js"></script>
    <script src="~/Scripts/Admin/custom.js"></script>
    <!--datetimepicker-->
    <link href="~/Content/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Content/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
    <script>
        $(function () {
            $('.menu_1').addClass('active');

            $('html, body').animate({
                scrollTop: $('#contact_result').offset().top
            }, 500);

            //datetimepicker
            $.prototype.datetimepicker.DPGlobal.nonpunctuation = /[^ -\/:-@@\[-`{-~\t\n\rZ]+/g;
            var currentDate = new Date();
            currentDate.setMinutes(0, 0, 0);
            currentDate.setHours(currentDate.getHours() + currentDate.getTimezoneOffset() / 60);
            $('#ReservationTimeStr').datetimepicker({
                todayHighlight: true,
                weekStart: 1,
                minView: 0,
                autoclose: true,
                //pickerPosition: 'bottom-left',
                format: 'yyyy/mm/dd hh:ii ',
                //timezone: 'UTC',
                startDate: currentDate,
            });
        });
    </script>
}