﻿@model Pergo.ViewModels.Support.DocumentationView

@section header{
}

@Html.Partial("Service")

<section class="mt-3" id="documentation">
    <div class="container py-4 py-lg-7 inset-shadow-bottom">
        <div class="row justify-content-center no-gutters">
            <div class="col-lg-10">
                <h2 class="rwd-title2">下載</h2>
                <p class="line-loose">下載我們的產品型錄，為您的商業項目尋找合適的地板。其他技術信息均可在產品詳細信息頁面上找到。環保證書，SGS檢測等。</p>
            </div>
            <div class="col-lg-10">
                <div class="row justify-content-between">
                    @foreach (var item in Model.DocumentationList)
                    {
                    <div class="col-6 col-md-5 col-xl-3 mt-4">
                        <h3 class="h5">
                            @item.Title
                            <br />
                            @item.Type
                        </h3>
                        <img class="img-fluid" src="~/FileUploads/DocumentationPhoto/@item.MainPic" title="@item.FileName @item.Type" alt="@item.FileName @item.Type" />
                        <div class="mt-4" data-id="@item.ID">                            
                            <input class="getDocument checkbox-square ckb" type="checkbox" name="@item.FileName @item.Type" id="doc_@item.ID" />
                            <label class="h5 align-bottom" for="doc_@item.ID">DOWNLOAD</label>
                        </div>
                    </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<section class="sendEmail">
    <div class="container-fluid py-5">

        <form>
            <div class="row">
                <div class="offset-lg-1 col-lg-8 col-xl-5">
                    <div class="input-group">
                        <input id="email_val" class="form-control pl-4" type="text" placeholder="E-mail" aria-label="Recipient's username" aria-describedby="button-addon_dec" maxlength="100"/>
                        <div class="input-group-append">
                            <button class="btn btn-subscription text-white" id="button-addon_dec" type="button">取得</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 align-items-center" id="email_result">
                    <p class="h5 text-success mb-0">產品目錄成功寄送</p>
                </div>
            </div>
        </form>

    </div>
</section>@section bread{
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Support")">支援服務</a></li>
    <li class="breadcrumb-item active" aria-current="page">文件下載</li>
}

@section scripts{
    <script>
        $(function () {
            $('.menu_5').addClass('active');
            $('#email_result').addClass('d-none');
            //$.ajax({
            //    type: "POST",
            //    url: "/Series/GetColorList",
            //    async: false,
            //    data: { sid: 3 },
            //    dataType: 'json',
            //    //contentType: "application/json",
            //    success: function (data) {
            //        console.log(data);

            //    },
            //});

            $('#button-addon_dec').on('click', function () {
                var email = $('#email_val').val();
                if (!email) {
                    alert('請填寫信箱 ! ');
                    return false;
                }
                if (!IsEmail(email)) {
                    alert('信箱格式錯誤 ! ');
                    return false;
                }
                var doclist = '';
                $('.ckb').each(function () {
                    if ($(this).prop("checked")) {
                        var Id = $(this).parent().data('id');
                        doclist += `${Id},`;
                    }
                });
                $.ajax({
                    type: "POST",
                    url: "/Support/SendDocMail",
                    async: false,
                    data: { email: email, doclist: doclist },
                    dataType: 'text',
                    //contentType: "application/json",
                    success: function (data) {
                        console.log(data);
                        if (data == 'Success') {
                            setTimeout(function () {
                                $('#email_result').addClass('d-none');
                            }, 2000);
                            $('#email_result').removeClass('d-none');
                        }
                    },
                });
            });

            function IsEmail(email) {
              var regex = /^([a-zA-Z0-9_\.\-\+])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
              if(!regex.test(email)) {
                return false;
              }else{
                return true;
              }
            }
        });
    </script>
}