﻿@model Pergo.ViewModels.Support.FAQView

@section header{
}

@Html.Partial("Service")

<section id="faq">
    <div class="container">
         <div class="row justify-content-center">
          <div class="col-xl-10 pb-4 border-bottom mb-4 mb-xl-6">
                <div class="py-8 px-7 bg-cover bg-right" style="background-image:url('/Content/img/bg-faq.jpg');">
                    <h2 class="rwd-title2">Frequently<br />Asked<br />Questions</h2>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mt-3 pb-5">
                <select class="cmz-sel" id="brandtype" name="type" placeholder="顯示全部">
                    <option value="0">顯示全部</option>
                    <option value="1">超耐磨木地板</option>
                    <option value="2">防水地板</option>
                </select>
            </div>
            <div class="col-md-6 col-lg-3 mt-3 pb-5">
                <select class="cmz-sel" id="questiontype" name="about" placeholder="顯示全部">
                    <option value="0">顯示全部</option>
                    @foreach (var item in Model.QuestionTypeOptions)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                    @*<option value="0">顯示全部</option>
                    <option value="1">保養相關</option>
                    <option value="2">收邊相關</option>*@
                </select>
            </div>
            <div class="col-xl-10">
                <h2 class="h1 font-weight-normal" id="Brand_Title">LAMINATE & VINYL</h2>
                <div class="accordion" id="faqs">
                    @for (int i = 0; i < 4; i++)
                    {
                        string faq_type = $"faq_type_{Model.FAQList[i].QuestionType}";
                        string faq_brand = $"faq_brand_{Model.FAQList[i].BrandType}";
                        string add_height = Model.FAQList[i].Question.Length > 17 ? "height:66px" : "";
                    <div class="faq_type @faq_type @faq_brand">
                        <div class="py-4 border-bottom" id="heading@(i)" >
                            <h3 class="h3_add_height" style="@add_height"><a class="rwd-subtitle collapsed" href="#" data-toggle="collapse" data-target="#collapse@(i)" aria-expanded="false" aria-controls="collapse@(i)">@Model.FAQList[i].Question<span class="float-right collapseBtn px-4 pt-6 pb-2"></span></a></h3>
                        </div>
                        <div class="collapse py-4 border-bottom" aria-labelledby="heading@(i)" data-parent="#faqs" id="collapse@(i)">
                            @(Html.Raw(Model.FAQList[i].Answer))
                        </div>
                    </div>
                    }
                    <div class="collapse" id="moreFAQs">
                        @for (int i = 4; i < Model.FAQList.Count; i++)
                        {
                            string faq_type = $"faq_type_{Model.FAQList[i].QuestionType}";
                            string faq_brand = $"faq_brand_{Model.FAQList[i].BrandType}";
                            string add_height = Model.FAQList[i].Question.Length > 17 ? "height:66px" : "";
                        <div class="faq_type @faq_type @faq_brand">
                            <div class="py-4 border-bottom" id="heading@(i)" >
                                <h3 class="h3_add_height" style="@add_height"><a class="rwd-subtitle collapsed" href="#" data-toggle="collapse" data-target="#collapse@(i)" aria-expanded="false" aria-controls="collapse@(i)">@Model.FAQList[i].Question<span class="float-right collapseBtn px-4 pt-6 pb-2"></span></a></h3>
                            </div>
                            <div class="collapse py-4 border-bottom" aria-labelledby="heading@(i)" data-parent="#faqs" id="collapse@(i)">
                                @(Html.Raw(Model.FAQList[i].Answer))
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="border-y py-4 mb-4" style="margin-top:-1px">
    <h4 class="text-center"><a class="collapsed" data-toggle="collapse" href="#moreFAQs">展開顯示更多<span class="circle-cross"></span></a></h4>
</div>
@*<div>
        @foreach (var item in Model.FAQList)
        {
            <div>
                @item.ID
            </div>
            <div>
                @item.Question
            </div>
            <div>
                @Html.Raw(item.Answer)
            </div>
            <div>
                @item.BrandType &nbsp;&nbsp; @item.QuestionType
            </div>
            <br />
        }

    </div>*@

@section scripts{
    <script>
    $(function () {
        var arrAll = [];
          $.ajax({
            url: "@Url.Action("GetFAQ","Support")",
            method: "post",
            dataType: "json",
            success: function (response) {
                arrAll = response;
                var a = JSON.stringify(arrAll);
                console.log(a);
                },
        });

        $('#brandtype').on('change', function () {
            switch ($(this).val()) {
                case '1':
                    $('.faq_brand_2').each(function () {
                        $(this).addClass('d-none');
                    });
                    $('.faq_brand_1').each(function () {
                        $(this).removeClass('d-none');
                    });
                    $('#Brand_Title').text('LAMINATE');
                    break;
                case '2':
                    $('.faq_brand_1').each(function () {
                        $(this).addClass('d-none');
                    });
                    $('.faq_brand_2').each(function () {
                        $(this).removeClass('d-none');
                    });
                    $('#Brand_Title').text('VINYL');
                    break;
                default:
                    $('.faq_brand_1').each(function () {
                        $(this).removeClass('d-none');
                    });
                    $('.faq_brand_2').each(function () {
                        $(this).removeClass('d-none');
                    });
                    $('#Brand_Title').text('LAMINATE & VINYL');
                    break;
            }
        });
        $('#questiontype').on('change', function () {
            var thistype = $('#questiontype').val() || '0';
            $('.faq_type').each(function () {      
                if (thistype == '0') {
                    $(this).removeClass('d-none');
                }
                else {
                    $(this).addClass('d-none');
                    $('.faq_type_' + thistype).each(function () {
                        $(this).removeClass('d-none');
                    });
                }               
            });
            //switch ($(this).val()) {
            //    case '1':
            //        $('.faq_type_2').each(function () {
            //            $(this).addClass('d-none');
            //        });
            //        $('.faq_type_1').each(function () {
            //            $(this).removeClass('d-none');
            //        });
            //        break;
            //    case '2':
            //        $('.faq_type_1').each(function () {
            //            $(this).addClass('d-none');
            //        });
            //        $('.faq_type_2').each(function () {
            //            $(this).removeClass('d-none');
            //        });
            //        break;
            //    default:
            //        $('.faq_type_1').each(function () {
            //            $(this).removeClass('d-none');
            //        });
            //        $('.faq_type_2').each(function () {
            //            $(this).removeClass('d-none');
            //        });
            //        break;
            //}
        });
        $('.menu_3').addClass('active');
        if ($(window).width() > 768) {
            $('.h3_add_height').removeAttr('style');
        }       
    });
    </script>
}

@section bread{
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Support" )">支援服務</a></li>
    <li class="breadcrumb-item active" aria-current="page">FAQs</li>
}