﻿@model Pergo.ViewModels.Support.SupportView
@section header{
}

@Html.Partial("Service")

@section bread{
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Support" )">支援服務</a></li>
}

@section scripts{
    <script>
        $(function () {
            $('.menu_7').addClass('active');
        });
    </script>
}