﻿@model Pergo.ViewModels.Support.MaintenanceView

@section header{
}

@Html.Partial("Service")

 <section class="mt-3">
      <div class="container-fluid">
        <div class="row justify-content-center no-gutters">
          <div class="col-5 col-lg-4">
            <div class="bg-square bg-left" style="background-image:url('/Content/img/bg-banner-suport.jpg');"></div>
          </div>
          <div class="col-7 col-lg-8 d-flex flex-column justify-content-center">
            <h2 class="rwd-title2 font-weight-bold">PERGO 地板的維護與清潔說明</h2>
            <p class="rwd-parapraph">通過遵循我們在此提供的簡單提示，您的Pergo地板可以更長久的使用，外觀如新。</p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container-fluid text-1a">
        <div class="row justify-content-center border-bottom">
          <div class="col-xl-10">
            <div class="row justify-content-between py-6 py-lg-8">
              <div class="col-lg-12 my-4 my-lg-6">
                <h2 class="rwd-title2">超耐磨地板的維護說明</h2>
                <p class="line-loose">Pergo超耐磨地板設計用於抵抗污垢和灰塵。維護也很容易，為了使清潔更容易，我們為您提供專業的地板清潔產品。通過我們在此提供的簡單提示，您可以保持Pergo地板的美學多年。</p>
              </div>
              <div class="col-lg-12 my-4 my-lg-6">
                <h2 class="rwd-title2">超耐磨地板</h2>
              </div>
              <div class="col-lg-6 my-4 my-lg-6">
                <h3 class="mb-5 font-weight-bold">每日清潔</h3>
                <ul class="list-style-disc font-sm pl-3 line-loose">
                  <li>只要必要時用詩拖把清潔地板。</li>
                  <li>用溫水和全能地板清潔劑(用7升水混合30毫升)或中性洗滌劑將拖把弄濕。使用PH值約為7的低泡天然生態洗滌劑。按照說明徹底混合。不要超過劑量。</li>
                  <li>使用的拖把應按照60°C的標籤清洗，不含添加劑。</li>
                  <li>一次不要超過15-20平方米。</li>
                  <li>用濕拖把清潔後，確保地板乾燥。</li>
                </ul>
              </div>
              <div class="col-lg-6 my-4 my-lg-6">
                <h3 class="mb-5 font-weight-bold">消除頑固污漬或痕跡</h3>
                <p class="font-sm line-loose mb-4">要清除頑固污漬或污漬，如果需要進一步處理，請使用全方位地板清潔劑和拖把，毛巾或乾淨的白色或紅色便箋本。離開幾分鐘。用蘸有溫水的干淨拖把擦去污漬。必要時重複，然後擦拭。</p><a class="btn btn-twin btn-lg py-4 px-6" href="#">下載PDF格式說明書</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center border-bottom">
          <div class="col-xl-10">
            <div class="row justify-content-between py-6 py-lg-8">
              <div class="col-lg-12 my-4 my-lg-6">
                <h2 class="rwd-title2">防水地板</h2>
              </div>
              <div class="col-lg-6 my-4 my-lg-6">
                <h3 class="mb-5 font-weight-bold">清潔方法</h3>
                <ul class="list-style-disc font-sm pl-3 line-loose">
                  <li>使用稀釋在水中的清潔產品定期清潔地板。</li>
                  <li>措施：將2個清潔劑蓋(使用瓶蓋)放入一桶水用一塊</li>
                  <li>略微潮濕的無絨布或浸在清潔劑中的拖把擦拭地板。</li>
                  <li>務必用乾布擦拭，直到水分完全從地板上消失。</li>
                  <li>提示：定期沖洗並擰乾。</li>
                </ul>
              </div>
              <div class="col-lg-6 my-4 my-lg-6">
                <h3 class="mb-5 font-weight-bold">維護說明</h3>
                <p class="font-sm line-loose mb-4">Pergo 防水地板和踢腳板，由於其衛生和防水表面層易於清潔。地板完全防水，因此您可以用抹布沾濕後清潔。我們專為Pergo 地板開發清潔產品，管理您防水地板的日常維護。Pergo 防刮塗層可以保護，並有助於保持地板的原始啞光外觀。</p><a class="btn btn-twin btn-lg py-4 px-6" href="#">下載PDF格式說明書</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-xl-10">
            <div class="row justify-content-betwee py-6 py-lg-8">
              <div class="col-lg-12 my-4 my-lg-6">
                <h2 class="rwd-title2">地板保養維護配件</h2>
              </div>
              <div class="col-lg-4 my-4 my-lg-6">
                <div class="row">
                  <div class="col-12 col-md-6 col-lg-12">
                    <div class="bg-square mb-4" style="background-image:url(~/Content/img/maintain1.jpg);"></div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-12">
                    <h3 class="h5 mb-6">清潔套裝<br>PGCLEANKIT</h3>
                    <p>高品質拖把，具有超長的人體工學手柄、拖把布架，以及具有實用的撕拉搭扣方便固定拖把布。</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 my-4 my-lg-6">
                <div class="row">
                  <div class="col-12 col-md-6 col-lg-12">
                    <div class="bg-square mb-4" style="background-image:url(~/Content/img/maintain2.jpg);"></div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-12">
                    <h3 class="h5 mb-6">全能地板清潔劑<br>PGCLEANALL1000</h3>
                    <p>專為清潔超耐磨地板和防水地板而發明。可完全清除污垢、油漬和鞋印等髒污，適合用於每日清潔。</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 my-4 my-lg-6">
                <div class="row">
                  <div class="col-12 col-md-6 col-lg-12">
                    <div class="bg-square mb-4" style="background-image:url(~/Content/img/maintain3.jpg);"></div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-12">
                    <h3 class="h5 mb-6">修補蠟<br>PGREPAIR</h3>
                    <p>涵蓋一套原木顏料和修補專業工具，可簡單快速修復損壞的地板顏色以及坑洞。</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

@section bread{
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Support")">支援服務</a></li>
    <li class="breadcrumb-item active" aria-current="page">維護與清潔</li>
}
@section scripts{
    <script>
        $(function () {
            $('.menu_7').addClass('active');
        });
    </script>
}