﻿
    <style>
        .service-icon-text {
            display:none;
            font-size:12px;
            /*font-size: 35px;*/
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translateX(-50%);
        }
        @@media(min-width:768px) {
            .service-icon-text {
                display:inline;
                font-size: 16px;
            }
        }
        @@media(min-width:1080px) {
            .service-icon-text {
                font-size: 20px;
            }
        }    

        .service-icon-text :hover {
            color:#ffd800;
        }
    </style>    

<section>
    <div class="bg-cover text-center py-md-8" style="background-image:url('/Content/img/banner12.jpg');min-height: 550px;">
    @*<div class="text-center py-md-8 bg-cover" style="background-image:url('/Content/img/banner12.jpg');min-height: 550px;">*@
        <div class="row justify-content-center">
            <div class="col-12 mb-lg-6">
                <div class="rwd-title">歡迎使用PERGO支援服務</div>
                <div class="rwd-subtitle">我們隨時提供協助。</div>
            </div>
            <div class="col-md-8 bg-white rounded-top py-1">
                <div class="input-group searchbarParent">
                    <div class="input-group-prepend">
                        <button class="btn" type="submit"><img src="~/Content/img/icon-search.svg" alt="search" width="18" /></button>
                    </div>
                    <input class="seachbar form-control border-0 text-b0" type="search" placeholder="搜尋 Search for Products" aria-label="Search" />
                </div>
                <ul class="autocomplete list-primary text-left d-flex flex-md-column justify-content-between">
                    <li class="pl-lg-7"><a class="font-xs px-0 px-sm-1" href="@Url.Action("ContactUs", "Support")#contactUs">線上預約</a></li>
                    @*<li class="pl-lg-7"><a class="font-xs px-0 px-sm-1" href="#">產品保固</a></li>*@
                    <li class="pl-lg-7"><a class="font-xs px-0 px-sm-1" href="@Url.Action("FAQ", "Support")#faq">FAQs</a></li>
                    @*<li class="pl-lg-7"><a class="font-xs px-0 px-sm-1" href="#">施工流程</a></li>*@
                    <li class="pl-lg-7"><a class="font-xs px-0 px-sm-1" href="@Url.Action("Documentation", "Support")#documentation">型錄下載</a></li>
                    <li class="pl-lg-7"><a class="font-xs px-0 px-sm-1" href="@Url.Action("Store", "Support")#store">搜尋門市</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="py-4 py-lg-8">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-xxl-8">
                <div class="row">
                    <div class="col-3"><a class="svg-link menu_1 position-relative" href="@Url.Action("ContactUs", "Support")#contactUs"><span class="icon icon-calendarLarge"></span><span class="service-icon-text">線上預約</span></a></div>
                    <div class="col-3"><a class="svg-link menu_3 position-relative" href="@Url.Action("FAQ", "Support")#faq"><span class="icon icon-faqs"></span><span class="service-icon-text">FAQs</span></a></div>
                    <div class="col-3"><a class="svg-link menu_5 position-relative" href="@Url.Action("Documentation", "Support")#documentation"><span class="icon icon-book"></span><span class="service-icon-text">文件下載</span></a></div>
                    <div class="col-3"><a class="svg-link menu_8 position-relative" href="@Url.Action("Store", "Support")#store"><span class="icon icon-locationLarge"></span><span class="service-icon-text">搜尋門市</span></a></div>
                    @*<div class="col-3"><a class="text-hide svg-link menu_1" href="#">線上預約<span class="icon icon-calendarLarge"></span></a></div>
                    <div class="col-3"><a class="text-hide svg-link" href="#">產品保固<span class="icon icon-warrantyLarge"></span></a></div>
                    <div class="col-3"><a class="text-hide svg-link" href="@Url.Action("FAQ", "Support")">FAQs<span class="icon icon-faqs"></span></a></div>
                    <div class="col-3"><a class="text-hide svg-link" href="#">施工流程<span class="icon icon-toolLarge"></span></a></div>
                    <div class="col-3 mt-4 mt-lg-6"><a class="text-hide svg-link" href="@Url.Action("Documentation", "Support")">文件下載<span class="icon icon-book"></span></a></div>
                    <div class="col-3 mt-4 mt-lg-6"><a class="text-hide svg-link" href="@Url.Action("Maintenance", "Support")">維護與清潔<span class="icon icon-clean"></span></a></div>
                    <div class="col-3 mt-4 mt-lg-6"><a class="text-hide svg-link" href="@Url.Action("RefCase", "Support")">案例分享<span class="icon icon-picture"></span></a></div>
                    <div class="col-3 mt-4 mt-lg-6"><a class="text-hide svg-link" href="#">搜尋門市<span class="icon icon-locationLarge"></span></a></div>*@
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            //$('.menu_7').addClass('active');
        });
    </script>
}