﻿@model Pergo.ViewModels.Support.StoreView

@section header{
}

@Html.Partial("Service")

     <section class="py-4 py-lg-8" id="store">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-xxl-8">
                    <div class="row justify-content-between">
                        <div class="col-12 mb-4 mb-lg-6">
                            <h2 class="rwd-title2">搜尋門市</h2>
                        </div>
                        @foreach (var item in Model.StoreList)
                        {
                        <div class="col-md-6 mb-4 mb-lg-6 px-lg-4 py-4 text-center text-lg-right border-top-md-right"><img class="store-img" src="~/FileUploads/StorePhoto/@item.StorePic" alt="@item.StoreName" /></div>
                        <div class="col-md-6 mb-4 mb-lg-6 px-lg-4 font-sm">
                            <ul class="list-unstyled mt-4">
                                <li class="h5 mb-4 font-weight-bold">@item.StoreName</li>
                                <li class="mb-4"><a class="font-sm font-weight-bold" href="tel:@(item.Tel.Replace(" ", "").Replace("(", "").Replace(")", "").Replace("-", ""))">@item.Tel</a></li>
                                <li class="mb-4">@item.Opening</li>
                                <li>@item.Address</li>
                            </ul>
                        </div>
                        }

                        </div>
                </div>
            </div>
        </div>
    </section>

@section scripts{
    <script>
    $(function () {       
        $('.menu_8').addClass('active');

        $('html, body').animate({
            scrollTop: $('#store').offset().top
        }, 500);
    });
    </script>
}

@section bread{
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Support")">支援服務</a></li>
    <li class="breadcrumb-item active" aria-current="page">搜尋門市</li>
}