﻿<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Pragma" content="No-cache" />
    <link rel="stylesheet" href="~/Content/css/style.css" />
    @*<link rel="shortcut icon" href="~/Content/img/icon_ig.png" type="image/ico" />*@
    <link rel="icon" href="~/Content/img/favicon-03.png" type="image/png" />
    <!--顯示訊息-->
    <link href="~/Content/Admin/toastr/toastr.css" rel="stylesheet" />
    <link href="~/Content/Admin/custom.css" rel="stylesheet" />
    <style>
        .text-danger {
            color: darkred;
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115811075-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-115811075-1');
    </script>
    <title>@Model.SEOInfo.Title</title>
    <meta name="description" content="@Model.SEOInfo.Description" />
    <meta name="keywords" content="@Model.SEOInfo.Keywords" />
    <meta property="og:title" content="@Model.SEOInfo.Title" />
    <meta property="og:description" content="@Model.SEOInfo.Description" />
    <meta property="og:url" content="@Model.SEOInfo.Url">
    <meta property="og:image" content="http://@Request.Url.Authority/FileUploads/SEOPhoto/@Model.SEOInfo.Image" />
    @RenderSection("header", required: false)
</head>
<body>
    @*<header class="bg-white fixed-top slide-down active">*@
    <!--.slide-down.active-->
    <header class="bg-white">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light col-xl-10 mx-auto">
                <h1 class="text-hide mt-1 mr-4 mr-xxl-10"><a href="@Url.Action("Index", "Home")">100%比利時原裝進口，強化複合地板，抗潑水、長版、無限延伸、寬版。深刻木紋、花色多樣，家用商用地板首選。<img src="~/Content/img/logo.svg" title="PERGO百力地板" alt="PERGO百力地板" width="65.14" height="16" /></a></h1>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                @*<div class="collapse navbar-collapse flex-grow-1 position-relative ml-xxl-10" id="navbarSupportedContent">*@
                <div class="collapse navbar-collapse flex-grow-1 ml-xxl-10" id="navbarSupportedContent">
                     @Html.Partial("_Search", new Pergo.ViewModels.Home.SearchView())
                    @*<form class="nav-form">
                        <button class="btn" type="submit"><img src="~/Content/img/icon-search.svg" alt="search" height="18" width="18" /></button>
                        <input type="search" placeholder="搜尋 Search for Products" aria-label="Search" />
                        <div class="underline"></div>
                        <button class="btn nav-form-close" id="search-bar-close"><img src="~/Content/img/icon-cross.svg" alt="cross" width="18" /></button>
                    </form>*@
                    <ul class="navbar-nav nav-fill flex-grow-1">
                        @*<li class="nav-item"><a class="nav-link font-sm text-xl-right menu_1" href="@Url.Action("About", "Home")">關於百力</a></li>*@
                        <li class="nav-item"><a class="nav-link font-sm text-xl-right menu_2" href="@Url.Action("Index", "Characteristic", new { value = "Laminate"})">LAMINATE</a></li>
                        <li class="nav-item"><a class="nav-link font-sm text-xl-right menu_3" href="@Url.Action("Index", "Characteristic", new { value = "Vinyl" })">VINYL</a></li>
                        <li class="nav-item"><a class="nav-link font-sm text-xl-right menu_4" href="@Url.Action("Index", "Comparison")">產品比較</a></li>
                        @*<li class="nav-item"><a class="nav-link font-sm text-xl-right menu_5" href="#">最新消息</a></li>
                        <li class="nav-item"><a class="nav-link font-sm text-xl-right menu_6" href="#">線上試鋪</a></li>*@
                        <li class="nav-item"><a class="nav-link font-sm text-xl-right menu_7" href="@Url.Action("Index", "Support")">支援服務</a></li>
                        @RenderSection("menu", required: false)
                       
                        <li class="nav-item" id="showInput">
                            <a class="nav-link text-hide text-xl-right" href="#">搜尋
                                <span class="icon icon-search-solid"></span>
                            </a>
                        </li>
                        @*<li class="nav-item">
                            <a class="text-hide nav-link text-xl-right" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">會員<span class="icon icon-user"></span></a>
                            <div class="dropdown-menu dropdown-outline user-dropdown">
                                <ul class="list-primary list-border-bottom hover-boder-left">
                                    <li><a href="#"><span class="icon icon-login"></span>登入/註冊</a></li>
                                    <li><a href="#"><span class="icon icon-account"></span>帳號管理</a></li>
                                    <li><a href="#"><span class="icon icon-warranty"></span>產品保固</a></li>
                                    <li><a href="#"><span class="icon icon-favorite"></span>喜好項目</a></li>
                                    <li><a href="#"><span class="icon icon-reservation"></span>線上預約</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="text-hide nav-link text-xl-right" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">詢價<span class="icon icon-price"></span></a>
                            <div class="dropdown-menu dropdown-outline price-dropdown">
                                <div class="row no-gutters justify-content-center">
                                    <div class="col-10 py-6">
                                        <p class="text-e4 text-center font-sm">您的詢價單沒有內容。</p>
                                    </div>
                                    <div class="col-10">
                                        <div class="dropdown-divider"></div>
                                    </div>
                                    <div class="col-10"><a class="btn btn-submit btn-block px-0" href="#" role="button">立即購買</a></div>
                                </div>
                            </div>
                        </li>*@
                    </ul>
                </div>
            </nav>
        </div>
        @RenderSection("headersection", required: false)
    </header>
    @RenderBody()
    <footer class="bg-ee">
        <div class="container py-5">
            <div class="row justify-content-center no-gutters">
                <div class="col-xl-10">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb font-sm">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">PERGO</a></li>
                            @RenderSection("bread", required: false)
                            @*<li class="breadcrumb-item active" aria-current="page">Laminate</li>*@
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row justify-content-center no-gutters">
                <div class="col-4 col-lg-2 col-xxl-1">
                    <ul class="footer-list">
                        <li>
                            <h4 class="font-sm font-weight-bold">了解產品</h4>
                        </li>
                        @if (Model.SeriesList != null)
                        {
                            foreach (var item in Model.SeriesList)
                            {
                                string EngName = item.SeriesEngName.Replace(" ", "");
                        <li><a href="/Series/Overview/@item.ID/@EngName">@item.SeriesName</a></li>
                            }
                        }
                        <li><a href="@Url.Action("Index", "Characteristic", new { id = 2 })">防水系列</a></li>
                        <li><a href="@Url.Action("Accessories", "Home")">配件</a></li>
                    </ul>
                </div>
                <div class="col-4 col-lg-2 col-xxl-1">
                    <ul class="footer-list">
                        <li>
                            <h4 class="font-sm font-weight-bold">支援服務</h4>
                        </li>
                        <li><a href="@Url.Action("ContactUs", "Support")#contactUs">線上預約</a></li>
                        @*<li><a href="#">產品保固</a></li>*@
                        <li><a href="@Url.Action("FAQ", "Support")#faq">FAQs</a></li>
                        @*<li><a href="#">施工流程</a></li>*@
                        <li><a href="@Url.Action("Documentation", "Support")#documentation">文件下載</a></li>
                        @*<li><a href="./Maintenance.html">維護與清潔</a></li>*@
                        @*<li><a href="./RefCase.html">案例分享</a></li>*@
                        <li><a href="@Url.Action("Store", "Support")#store">尋找門市</a></li>
                    </ul>
                </div>
                @*<div class="col-3 col-lg-2 col-xl-1 mr-xl-3">
            <ul class="footer-list mb-6">
                <li>
                    <h4 class="font-sm font-weight-bold">帳戶服務</h4>
                </li>
                <li><a href="#">資料維護</a></li>
                <li><a href="#">保固查詢</a></li>
                <li><a href="#">產品詢價</a></li>
            </ul>
            <ul class="footer-list">
                <li>
                    <h4 class="font-sm font-weight-bold">價值理念</h4>
                </li>
                <li><a href="#">輔助使用</a></li>
                <li><a href="#">隱私權</a></li>
                <li><a href="#">供應商責任</a></li>
                <li><a href="#">異業合作</a></li>
            </ul>
        </div>*@
                <div class="col-4 col-lg-2 col-xxl-1">
                    <ul class="footer-list mb-6">
                        <li>
                            <h4 class="font-sm font-weight-bold">關於百力</h4>
                        </li>
                        @*<li><a href="#">品牌故事</a></li>*@
                        <li><a href="@Url.Action("Store", "Support")#store">門市據點</a></li>
                        @*<li><a href="#">工作機會</a></li>*@
                        <li><a href="@Url.Action("ContactUs", "Support")#documentation">聯絡我們</a></li>
                    </ul>
                    @*<ul class="footer-list">
                <li>
                    <h4 class="font-sm font-weight-bold">最新消息</h4>
                </li>
                <li><a href="#">媒體報導</a></li>
                <li><a href="#">活動專區</a></li>
                <li><a href="#">體驗分享</a></li>
            </ul>*@
                </div>
                <div class="col-lg-6 col-xl-4">
                    <h4 class="font-sm font-weight-bold">訂閱電子報</h4>
                    <p class="font-sm text-66">
                        訂閱電⼦郵件以獲得最新的產品資訊，以及特別企劃！
                    </p>
                    <div class="input-group mb-3">
                        <input id="subscribe_news" class="form-control" type="text" placeholder="e-mail" aria-label="Recipient's username" aria-describedby="button-addon2" maxlength="100" />
                        <div class="input-group-append">
                            <button class="btn btn-subscription text-white" id="button-addon2" type="button">→</button>
                        </div>
                    </div>
                    <h4 class="font-sm font-weight-bold">關注我們</h4>
                    <a class="d-inline-block mr-2" target="_blank" href="https://www.facebook.com/pergo.taiwan/"><img class="hover-colorful" src="/Content/img/icon_fb.png" title="臉書粉絲團" alt="臉書粉絲團" /></a>
                    <a class="d-inline-block mr-2" target="_blank" href="https://www.instagram.com/pergo_tw/"><img class="hover-colorful" src="/Content/img/icon_ig.png" title="Instagram" alt="Instagram" /></a>
                    <a class="d-inline-block mr-2" target="_blank" href="https://www.youtube.com/channel/UCZKLxdjDu5zzyh0KggFo1HQ"><img class="hover-colorful" src="/Content/img/icon_yt.png" title="Youtube視頻" alt="Youtube視頻" /></a>
                </div>
                <div class="offset-xl-0 offset-xxl-3"></div>
                <div class="col-xl-10">
                    <h5 class="text-1a" style="font-size:12px;">
                        客⼾服務中⼼ <a href="tel:02-2602-3629">02-2602-3629</a>  客⼾服務信箱<a href="mailto:info@pergo.com.tw"> info@pergo.com.tw</a>
                    </h5>
                    <hr />
                    <h5 class="text-1a" style="font-size:12px;">Copyright&copy; 2020 PERGO百力地板 台灣總代理 保留一切權利。</h5>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/Content/js/vendors.js"></script>
    <script src="~/Content/js/script.js"></script>
    <script>
        $(function () {
            //訂閱電子報
            $('#button-addon2').on('click', function () {
                var emailval = $('#subscribe_news').val();
                if (!emailval) {
                    alert('請於填寫Email後再行訂閱。');
                    return false;
                }
                if (!IsEmail(emailval)) {
                    alert('Email格式錯誤。');
                    return false;
                }
                if (!confirm(`確定要以信箱 ${emailval} 訂閱電子資訊嗎 ? `)) {
                    return false;
                }
                $.ajax({
                    url: `${window.location.origin}/Home/SubscribeNews`,
                    method: 'post',
                    dataType: 'text',
                    data: { email: emailval },
                    success: function (response) {
                        alert(response);
                    }
                });
            });

            //驗證Email格式
            function IsEmail(email) {
                var regex = /^([a-zA-Z0-9_\.\-\+])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                if(!regex.test(email)) {
                    return false;
                }
                else
                {
                    return true;
                }                
            }

            //移除愛心/購物車(暫時)
            $('.icon-heart-white,.icon-heart,.icon-cart').remove();

            //禁止右鍵
            function noMenuOne() {
                //alert('This site does not allow saving of image files !! \r\n此網站禁止另存圖檔 !! \r\n此网站禁止另存图档 !!');
                return false;
            }
            document.oncontextmenu = noMenuOne;

        });
    </script>
    @Html.Partial("_PromptNotification")
    @RenderSection("scripts", required: false)
</body>
</html>
