﻿@model Pergo.ViewModels.Home.SearchView
@{

}

@using (Html.BeginForm("Search", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "nav-form" }))
{
    @Html.AntiForgeryToken()
    <button class="btn" type="submit"><img src="~/Content/img/icon-search.svg" alt="search" height="18" width="18" /></button>
    @Html.TextBoxFor(x => x.SearchValue, new { @placeholder = "搜尋 Search for Products" })
    <div class="underline"></div>
    <button class="btn nav-form-close" id="search-bar-close" type="submit"><img src="~/Content/img/icon-cross.svg" alt="cross" width="18" /></button>
}