﻿@model Pergo.Areas.Admin.ViewModels.Member.SubscribeIndexView
@{
}

<section class="content-header">
    <h1>
        訂閱管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">搜尋</h3>
                </div>
                @using (Html.BeginForm("Subscribe", "MemberAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.SearchValue, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.SearchValue, new { @class = "form-control", @id = "SeriesName", @placeholder = "系列名稱" })
                            </div>
                        </div>
                                             
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">搜尋</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">訂閱列表</h3>
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>                                           
                                            <th>
                                                訂閱Email
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                訂閱Email
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var item in Model.EmailList)
                                        {
                                        <tr>
                                            <td>
                                                @item
                                            </td>
                                            <td>
                                                <button type="button" onclick="delmail('@item')" class="btn btn-danger">刪除/取消訂閱</button>
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        function delmail(email) {           
            if (!confirm(`確定要取消 ${email} 訂閱嗎 ? `)) {
                return false;
            }
            $.ajax({
                url: '@Url.Action("DelManager", "MemberAdmin")',
                type: "POST",
                data: { email: email },
                dataType: 'text',
                success: function (data) {
                    alert(data);
                    location.reload();
                }               
            });
        }
    </script>    
}