﻿@model Pergo.Areas.Admin.ViewModels.Level.LevelView
@{
    ViewBag.Title = "Edit";
    string levelcolor = "";
    if (Model.Level == 1)
    {
        levelcolor = "98c26d";
    }
    else if (Model.Level == 2)
    {
        levelcolor = "da993b";
    }
    else if (Model.Level == 3)
    {
        levelcolor = "000000";
    }
    else if (Model.Level == 4)
    {
        levelcolor = "b9a237";
    }
    else
    {
        levelcolor = "96aec1";
    }
}

<section class="content-header">
    <h1>
        等級管理 - @Model.SeriesStr - <span style="font-weight:bold; color:#@levelcolor">@Pergo.Utility.Cmind.EnumHelper.GetDescription((Pergo.Models.LevelType)Model.Level)</span>
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">編輯</h3>
                </div>

                @using (Html.BeginForm("Edit", "LevelAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.Creater)
                    @Html.HiddenFor(model => model.SeriesID)
                    @Html.HiddenFor(model => model.SeriesStr)
                    @Html.HiddenFor(model => model.Level)

                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Length)
                        @Html.TextBoxFor(model => model.Length, new { @class = "form-control" })
                    </div>
                    <hr>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Thickness)
                        @Html.TextBoxFor(model => model.Thickness, new { @class = "form-control" })
                    </div>
                    <hr>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Density)
                        @Html.TextBoxFor(model => model.Density, new { @class = "form-control" })
                    </div>
                    <hr>
                    <div class="form-group">
                        <label>@Html.LabelFor(model => model.Chamfer)</label><br />
                        @Html.DropDownList("n", Model.ChamferOptions, "---Select---", new { @class = "form-control js-approval", @style = "width:80%; display:inline; background-color:#f5fbff; ", @id = "js-signer-Chamfer" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Chamfer, new Dictionary<string, object> { { "data-role", "tagsinput" }, { "class", "js-approval" } })
                    </div>
                    <hr>
                    <div class="form-group">
                        <label>@Html.LabelFor(model => model.Tech)</label><br />
                        @Html.DropDownList("n", Model.TechOptions, "---Select---", new { @class = "form-control js-approval", @style = "width:80%; display:inline; background-color:#f5fbff; ", @id = "js-signer-Tech" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Tech, new Dictionary<string, object> { { "data-role", "tagsinput" }, { "class", "js-approval" } })
                    </div>
                    <hr>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Package)
                        @Html.TextBoxFor(model => model.Package, new { @class = "form-control" })
                    </div>
                    <hr>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Standard)
                        @Html.TextBoxFor(model => model.Standard, new { @class = "form-control" })
                    </div>
                    <hr>
                    <div class="form-group">
                        <label>@Html.LabelFor(model => model.Texture)</label><br />
                        @Html.DropDownList("n", Model.TextureOptions, "---Select---", new { @class = "form-control js-approval", @style = "width:80%; display:inline; background-color:#f5fbff; ", @id = "js-signer-Texture" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Texture, new Dictionary<string, object> { { "data-role", "tagsinput" }, { "class", "js-approval" } })
                    </div>
                    <hr>
                    <div class="form-group">
                        <label>@Html.LabelFor(model => model.Luster)</label><br />
                        @Html.DropDownList("n", Model.LusterOptions, "---Select---", new { @class = "form-control js-approval", @style = "width:80%; display:inline; background-color:#f5fbff; ", @id = "js-signer-Luster" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Luster, new Dictionary<string, object> { { "data-role", "tagsinput" }, { "class", "js-approval" } })
                    </div>
                    <hr>
                    <div class="form-group">
                        @Html.LabelFor(model => model.HeatResistance)
                        @Html.TextBoxFor(model => model.HeatResistance, new { @class = "form-control" })
                    </div>
                    <hr>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Lock)
                        @Html.TextBoxFor(model => model.Lock, new { @class = "form-control" })
                    </div>
                    <hr>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Certification)&nbsp;(字級請選8級)
                        @Html.TextAreaFor(model => model.Certification, new { @class = "form-control js-ckeditor" })
                    </div>
                    <hr>
                    <div class="form-group">
                        @Html.LabelFor(model => model.WearRating)
                        @Html.TextBoxFor(model => model.WearRating, new { @class = "form-control" })
                    </div>
                    <hr>
                    <div class="form-group">
                        @Html.LabelFor(model => model.UseLevel)
                        @Html.TextBoxFor(model => model.UseLevel, new { @class = "form-control" })
                    </div>
                    <hr>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Features) &nbsp;(字級請選8級)
                        @Html.TextAreaFor(model => model.Features, new { @class = "form-control js-ckeditor" })
                    </div>
                    <hr>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Guarantee) &nbsp;(字級請選8級)
                        @Html.TextAreaFor(model => model.Guarantee, new { @class = "form-control js-ckeditor" })
                        @Html.ValidationMessageFor(model => model.Guarantee, "", new { @class = "text-danger" })
                    </div>
                    <hr>
                    <div class="form-group">
                        <label>@Html.LabelFor(model => model.SpecDisplay)</label><br />
                        @Html.DropDownList("n", Model.SpecDisplayOptions, "---Select---", new { @class = "form-control js-approval", @style = "width:80%; display:inline; background-color:#f5fbff; ", @id = "js-signer-SpecDisplay" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.SpecDisplay, new Dictionary<string, object> { { "data-role", "tagsinput" }, { "class", "js-approval" } })
                    </div>
                    <hr>
                    <div class="form-group">
                        <label>@Html.LabelFor(model => model.LevelDisplay)</label><br />
                        @Html.DropDownList("n", Model.LevelDisplayOptions, "---Select---", new { @class = "form-control js-approval", @style = "width:80%; display:inline; background-color:#f5fbff; ", @id = "js-signer-LevelDisplay" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.LevelDisplay, new Dictionary<string, object> { { "data-role", "tagsinput" }, { "class", "js-approval" } })
                    </div>
                    <hr>
                    <div class="form-group">
                        @Html.CheckBoxFor(model => model.IsOnline, new { @class = "form-check-input" })
                        <label class="form-check-label" for="check-box-status">
                            @Html.DisplayNameFor(model => model.IsOnline)
                        </label>
                    </div>
                </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Index", new { sid = Model.SeriesID}, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            var $selectedChamfer = $('#Chamfer');
            var $selectedTech = $('#Tech');
            var $selectedTexture = $('#Texture');
            var $selectedLuster = $('#Luster');
            var $selectedSpecDisplay = $('#SpecDisplay');
            var $selectedLevelDisplay = $('#LevelDisplay');
            var remove;

            //Chamfer
            $selectedChamfer.on('itemAdded', function (event) {
                if (remove) {
                    $selectedSigner.tagsinput('remove', remove);
                    remove = '';
                }
            });
            $('#js-signer-Chamfer').on('change', function () {
                var selected = $('#js-signer-Chamfer option:selected');
                var id = selected.val();
                if (!id) {
                    return;
                }
                $selectedChamfer.tagsinput('add', selected.text());
            });

            //Tech
            $selectedTech.on('itemAdded', function (event) {
                if (remove) {
                    $selectedSigner.tagsinput('remove', remove);
                    remove = '';
                }
            });
            $('#js-signer-Tech').on('change', function () {
                var selected = $('#js-signer-Tech option:selected');
                var id = selected.val();
                if (!id) {
                    return;
                }
                $selectedTech.tagsinput('add', selected.text());
            });

            //Texture
            $selectedTexture.on('itemAdded', function (event) {
                if (remove) {
                    $selectedSigner.tagsinput('remove', remove);
                    remove = '';
                }
            });
            $('#js-signer-Texture').on('change', function () {
                var selected = $('#js-signer-Texture option:selected');
                var id = selected.val();
                if (!id) {
                    return;
                }
                $selectedTexture.tagsinput('add', selected.text());
            });

            //Luster
            $selectedLuster.on('itemAdded', function (event) {
                if (remove) {
                    $selectedSigner.tagsinput('remove', remove);
                    remove = '';
                }
            });
            $('#js-signer-Luster').on('change', function () {

                var selected = $('#js-signer-Luster option:selected');
                var id = selected.val();
                if (!id) {
                    return;
                }
                $selectedLuster.tagsinput('add', selected.text());
            });

            //SpecDisplay
            $selectedSpecDisplay.on('itemAdded', function (event) {
                if (remove) {
                    $selectedSigner.tagsinput('remove', remove);
                    remove = '';
                }
            });
            $('#js-signer-SpecDisplay').on('change', function () {

                var selected = $('#js-signer-SpecDisplay option:selected');
                var id = selected.val();
                if (!id) {
                    return;
                }
                $selectedSpecDisplay.tagsinput('add', selected.text());
            });

            //LevelDisplay
            $selectedLevelDisplay.on('itemAdded', function (event) {
                if (remove) {
                    $selectedSigner.tagsinput('remove', remove);
                    remove = '';
                }
            });
            $('#js-signer-LevelDisplay').on('change', function () {

                var selected = $('#js-signer-LevelDisplay option:selected');
                var id = selected.val();
                if (!id) {
                    return;
                }
                $selectedLevelDisplay.tagsinput('add', selected.text());
            });

        });
    </script>
    <!-- ckeditor -->
    <script src="~/Content/Admin/ckeditor/ckeditor.js"></script>
    <script>

        $(function () {
            //Ckeditor init
            $('.js-ckeditor').each(function (i, e) {
                var id = $(e).attr('id');
                CKEDITOR.replace(id,
                    {
                        filebrowserImageUploadUrl: '@Url.Action("Upload")',
                        font_defaultLabel: 'sans-serif',
                        fontSize_defaultLabel: '8',
                        toolbar: [
                            { name: 'basicstyles', groups: ['basicstyles'], items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript'] },
                            { name: 'paragraph', groups: ['align'], items: ['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'] },
                            { name: 'insert', items: ['Image'] },
                            { name: 'styles', items: ['FontSize', 'lineheight'] },
                            { name: 'document', groups: ['mode'] },		
                        ],
                    }
                );
            });
        });
    </script>
}