.nav-form {
  transform: translateY(-200%); }
  @media (min-width: 768px) {
    .nav-form.active {
      transform: translate(0%, -70%); } }
  .nav-form .btn.nav-form-close img {
    height: 20px; }

.checkbox-round::-ms-check, .checkbox-square::-ms-check {
  border-color: #e1e1e1;
  color: #fdd800; }

/*# sourceMappingURL=IE.css.map */
