﻿@model Pergo.Areas.Admin.ViewModels.Product.ProductView
@{
    ViewBag.Title = "Edit";

    string model_one = "";
    string model_two = "";
    string model_three = "";
    if (Model.brand == 1)
    {
        model_one = "樂活版 型號";
        model_two = "典藏版 型號";
        model_three = "殿堂版 型號";
    }
    else
    {
        model_one = "Optimum 型號";
        model_two = "Premium  型號";
    }
}

<section class="content-header">
    <h1>
        花色管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">編輯</h3>
                </div>

                @using (Html.BeginForm("Edit", "ProductAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.Creater)

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.SeriesID)
                            @Html.DropDownListFor(model => model.SeriesID, Model.SeriesOptions, "系列", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SeriesID, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MainPic) &nbsp;(尺寸：寬:1665 x 高:937 px , 格式：jpg、png)
                            <input type="file" id="pic_file" name="pic_file" accept="image/x-png,image/jpeg">
                            @*@Html.TextBoxFor(m => m.MainPic, new { @type = "file", @accept = "image/x-png,image/jpeg" })*@
                            <p class="help-block">上傳圖片</p>
                            @Html.ValidationMessageFor(model => model.MainPic, "", new { @class = "text-danger" })
                            @if (!string.IsNullOrEmpty(Model.MainPic))
                            {
                                <img src="~/FileUploads/ProductPhoto/@Model.MainPic" class="img-thumbnail" style="width:400px" />
                                @Html.HiddenFor(model => model.MainPic)
                                <br />
                            }
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Texture)
                            @Html.DropDownListFor(model => model.Texture, Model.TextureOptions, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Texture, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Luster)
                            @Html.DropDownListFor(model => model.Luster, Model.LusterOptions, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Luster, "", new { @class = "text-danger" })
                        </div>

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Color)
                            @Html.DropDownListFor(model => model.Color, Model.ColorOptions, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
                        </div>*@

                        <div class="form-group">
                            <label>@Html.LabelFor(model => model.Color)</label><br />
                            @Html.DropDownList("n", Model.ColorOptions, "---Select---", new { @class = "form-control js-approval", @style = "width:80%; display:inline; background-color:#f5fbff; ", @id = "js-signer-Color" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.Color, new Dictionary<string, object> { { "data-role", "tagsinput" }, { "class", "js-approval" } })
                        </div>

                         @*<div class="form-group">
                            @Html.LabelFor(model => model.Shade)
                            @Html.DropDownListFor(model => model.Shade, Model.ShadeOptions, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Shade, "", new { @class = "text-danger" })
                        </div>*@

                        <div class="form-group">
                            <label>@Html.LabelFor(model => model.Shade)</label><br />
                            @Html.DropDownList("n", Model.ShadeOptions, "---Select---", new { @class = "form-control js-approval", @style = "width:80%; display:inline; background-color:#f5fbff; ", @id = "js-signer-Shade" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.Shade, new Dictionary<string, object> { { "data-role", "tagsinput" }, { "class", "js-approval" } })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Name)
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.EngName)
                            @Html.TextBoxFor(model => model.EngName, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            @model_one
                            @Html.TextBoxFor(model => model.Model, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group model_two">
                            @model_two
                            @Html.TextBoxFor(model => model.ModelTwo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ModelTwo, "", new { @class = "text-danger" })
                        </div>

                        @if (Model.brand == 1)
                        {
                        <div class="form-group model_three">
                            @model_three
                            @Html.TextBoxFor(model => model.ModelThree, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ModelThree, "", new { @class = "text-danger" })
                        </div>
                        }

                        <div class="form-group">
                            @Html.LabelFor(model => model.Concept)
                            @Html.TextAreaFor(model => model.Concept, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Concept, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-check">
                            @Html.CheckBoxFor(model => model.IsOnline, new { @class = "form-check-input" })
                            <label class="form-check-label" for="check-box-status">
                                @Html.DisplayNameFor(model => model.IsOnline)
                            </label>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Sort)
                            @Html.TextBoxFor(model => model.Sort, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Sort, "", new { @class = "text-danger" })
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.Views)
                            @Html.TextBoxFor(model => model.Views, new { @class = "form-control", @readonly = "true" })
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Index", new { sid = Model.SeriesID }, new { @class = "btn btn-default" })
                        @if (Model.ID != 0)
                        {
                            @Html.ActionLink("應用圖片", "Edit", "ProductImageAdmin", new { pid = Model.ID }, new { @class = "btn btn-primary" })
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            var $selectedColorType = $('#Color');
            var $selectedShadeType = $('#Shade');
            var remove;

            //Color
            $selectedColorType.on('itemAdded', function (event) {
                if (remove) {
                    $selectedSigner.tagsinput('remove', remove);
                    remove = '';
                }
            });
            $('#js-signer-Color').on('change', function () {
                var selected = $('#js-signer-Color option:selected');
                var id = selected.val();
                if (!id) {
                    return;
                }
                $selectedColorType.tagsinput('add', selected.text());
            });

            //Shade
            $selectedShadeType.on('itemAdded', function (event) {
                if (remove) {
                    $selectedSigner.tagsinput('remove', remove);
                    remove = '';
                }
            });
            $('#js-signer-Shade').on('change', function () {
                var selected = $('#js-signer-Shade option:selected');
                var id = selected.val();
                if (!id) {
                    return;
                }
                $selectedShadeType.tagsinput('add', selected.text());
            });
        });
    </script>
}

