﻿@model Pergo.Areas.Admin.ViewModels.Store.StoreView
@{
    ViewBag.Title = "Edit";
}

<section class="content-header">
    <h1>
        門市管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">編輯</h3>
                </div>

                @using (Html.BeginForm("Edit", "StoreAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.Creater)

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.StoreName)
                            @Html.TextBoxFor(model => model.StoreName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.StoreName, "", new { @class = "text-danger" })
                        </div>

                           <div class="form-group">
                            @Html.LabelFor(model => model.Tel)
                            @Html.TextBoxFor(model => model.Tel, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Tel, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Address)
                            @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.StoreName, "", new { @class = "text-danger" })
                        </div>

                           <div class="form-group">
                            @Html.LabelFor(model => model.Opening)
                            @Html.TextBoxFor(model => model.Opening, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Opening, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.StorePic) &nbsp;(尺寸：寬:626 x 高:567 px , 格式：jpg, png)
                            <input type="file" id="pic_file" name="pic_file" accept="image/x-png,image/jpeg">
                            @*@Html.TextBoxFor(m => m.StorePic, new { @type = "file", @accept = "image/x-png,image/jpeg" })*@
                            <p class="help-block">上傳圖片</p>
                            @Html.ValidationMessageFor(model => model.StorePic, "", new { @class = "text-danger" })
                            @if (!string.IsNullOrEmpty(Model.StorePic))
                            {
                                <img src="~/FileUploads/StorePhoto/@Model.StorePic" class="img-thumbnail" style="width:200px" />
                                @Html.HiddenFor(model => model.StorePic)
                                <br />
                            }
                        </div>

                         <div class="form-group">
                            @Html.LabelFor(model => model.Sort)
                            @Html.TextBoxFor(model => model.Sort, new { @class = "form-control" })
                        </div>
                      
                        <div class="form-check">
                            @Html.CheckBoxFor(model => model.IsOnline, new { @class = "form-check-input" })
                            <label class="form-check-label" for="check-box-status">
                                @Html.DisplayNameFor(model => model.IsOnline)
                            </label>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>