﻿@model Pergo.Areas.Admin.ViewModels.Documentation.DocumentationView
@{
    ViewBag.Title = "Edit";
}

<section class="content-header">
    <h1>
        文件管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">編輯</h3>
                </div>

                @using (Html.BeginForm("Edit", "DocumentationAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.Creater)

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title)
                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>

                         <div class="form-group">
                            @Html.LabelFor(model => model.Type)
                            @Html.TextBoxFor(model => model.Type, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                        </div>

                       <div class="form-group">
                            @Html.LabelFor(model => model.FileName) &nbsp;(PDF檔)
                            <input type="file" id="pdf_file" name="pdf_file" accept=".pdf,.ai,image/x-png,image/jpeg">
                            @*@Html.TextBoxFor(m => m.FileName, new { @type = "file", @accept = ".pdf,.ai,image/x-png,image/jpeg" })*@
                            <p class="help-block">上傳檔案</p>
                            @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" })
                            @if (!string.IsNullOrEmpty(Model.FileName))
                            {
                                <a href="~/FileUploads/DocumentationFile/@Model.FileName">下載</a>
                                @*<img src="" class="img-thumbnail" style="width:200px" />*@
                                @Html.HiddenFor(model => model.FileName)
                                <br />
                            }
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MainPic) &nbsp;(尺寸：寬:0 x 高:0 px , 格式：svg)
                             <input type="file" id="pic_file" name="pic_file" accept="image/x-png,image/jpeg">
                            @*@Html.TextBoxFor(m => m.MainPic, new { @type = "file", @accept = "image/x-png,image/jpeg" })*@
                            <p class="help-block">上傳圖片</p>
                            @Html.ValidationMessageFor(model => model.MainPic, "", new { @class = "text-danger" })
                            @if (!string.IsNullOrEmpty(Model.MainPic))
                            {
                                <img src="~/FileUploads/DocumentationPhoto/@Model.MainPic" class="img-thumbnail" style="width:200px" />
                                @Html.HiddenFor(model => model.MainPic)
                                <br />
                            }
                        </div>                       

                        <div class="form-check">
                            @Html.CheckBoxFor(model => model.IsOnline, new { @class = "form-check-input" })
                            <label class="form-check-label" for="check-box-status">
                                @Html.DisplayNameFor(model => model.IsOnline)
                            </label>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Sort)
                            @Html.TextBoxFor(model => model.Sort, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">儲存</button>
                        @if (Model.ID != 0)
                        {
                            @Html.ActionLink("寄送紀錄", "Index", "DocumentationMailLogAdmin", new { docId = Model.ID}, new { @class = "btn btn-info" })
                        }
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>