﻿@model Pergo.Areas.Admin.ViewModels.Reservation.ReservationView
@{
    ViewBag.Title = "Edit";
}

<section class="content-header">
    <h1>
        預約管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">編輯</h3>
                </div>

                @using (Html.BeginForm("Edit", "ReservationAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.Store)

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name)
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @readonly = "true" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Type)
                            @Html.DropDownListFor(model => model.Type, Model.ReservationTypeOptions, new { @class = "form-control", @readonly = "true" })
                            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                        </div>

                         <div class="form-group">
                            @Html.LabelFor(model => model.Phone)
                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @readonly = "true" })
                        </div>

                         <div class="form-group">
                            @Html.LabelFor(model => model.Address)
                            @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @readonly = "true" })
                        </div>

                         <div class="form-group">
                            @Html.LabelFor(model => model.Store)
                            @Html.TextBoxFor(model => model.StoreName, new { @class = "form-control", @readonly = "true" })
                        </div>

                         <div class="form-group">
                            @Html.LabelFor(model => model.Email)
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @readonly = "true" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>

                         <div class="form-group">
                            @Html.LabelFor(model => model.InquiryContent)
                            @Html.TextAreaFor(model => model.InquiryContent, new { @class = "form-control js-ckeditor", @readonly = "true" })
                        </div>

                         <div class="form-group">
                            @Html.LabelFor(model => model.ReservationTime)
                            @Html.TextBoxFor(model => model.ReservationTimeStr, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ReservationTime, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-check">
                            @Html.CheckBoxFor(model => model.IsReply, new { @class = "form-check-input" })
                            <label class="form-check-label" for="check-box-status">
                                @Html.DisplayNameFor(model => model.IsReply)
                            </label>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <!--datetimepicker-->
    <link href="~/Content/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Content/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
    <script>
        $(function () {
            //datetimepicker
            $.prototype.datetimepicker.DPGlobal.nonpunctuation = /[^ -\/:-@@\[-`{-~\t\n\rZ]+/g;
            var currentDate = new Date();
            currentDate.setMinutes(0, 0, 0);
            currentDate.setHours(currentDate.getHours() + currentDate.getTimezoneOffset() / 60);
            $('#ReservationTimeStr').datetimepicker({
                todayHighlight: true,
                weekStart: 1,
                minView: 0,
                autoclose: true,
                //pickerPosition: 'bottom-left',
                format: 'yyyy/mm/dd hh:ii ',
                //timezone: 'UTC',
                startDate: currentDate,
            });
        });
    </script>
}

