﻿@model Pergo.Areas.Admin.ViewModels.FAQ.FAQView
@{
    ViewBag.Title = "Edit";
    string edittype = Model.ID == 0 ? "新增" : "編輯";
}

<section class="content-header">
    <h1>
        FAQ管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@edittype</h3>
                </div>

                @using (Html.BeginForm("Edit", "FAQAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.Creater)

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Question)
                            @Html.TextBoxFor(model => model.Question, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Question, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Answer)
                            @Html.TextAreaFor(model => model.Answer, new { @class = "form-control js-ckeditor" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.BrandType)
                            @Html.DropDownListFor(model => model.BrandType, Model.BrandTypeOptions, "---地板類型---", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BrandType, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.QuestionType)
                            @Html.DropDownListFor(model => model.QuestionType, Model.QuestionTypeOptions, "---問題類型---", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.QuestionType, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-check">
                            @Html.CheckBoxFor(model => model.IsOnline, new { @class = "form-check-input" })
                            <label class="form-check-label" for="check-box-status">
                                @Html.DisplayNameFor(model => model.IsOnline)
                            </label>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Sort)
                            @Html.TextBoxFor(model => model.Sort, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Sort, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <!-- ckeditor -->
    <script src="~/Content/Admin/ckeditor/ckeditor.js"></script>
    <script>

        $(function () {
            //Ckeditor init
            $('.js-ckeditor').each(function (i, e) {
                var id = $(e).attr('id');
                CKEDITOR.replace(id,
                    {
                        filebrowserImageUploadUrl: '@Url.Action("Upload")',
                        font_defaultLabel: 'sans-serif',
                        //fontSize_defaultLabel: '8',
                        toolbar: [
                            { name: 'basicstyles', groups: ['basicstyles'], items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript'] },
                            { name: 'paragraph', groups: ['align'], items: ['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'] },
                            { name: 'insert', items: ['Image'] },
                            { name: 'styles', items: ['FontSize', 'lineheight'] },
                            { name: 'document', groups: ['mode'] },
                            ['Youtube'],
                        ],
                    }
                );
            });
        });
    </script>
}