﻿@model Pergo.Areas.Admin.ViewModels.FAQ.FAQIndexView
@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <h1>
        FAQ管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">搜尋</h3>
                </div>
                @using (Html.BeginForm("Index", "FAQAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    <div class="box-body">    
                         <div class="form-group">
                            @Html.LabelFor(model => model.BrandType, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.DropDownListFor(model => model.BrandType, Model.BrandTypeOptions, "---地板類型---", new { @class = "form-control", @id = "SeriesName" })
                            </div>
                        </div>

                         <div class="form-group">
                            @Html.LabelFor(model => model.QuestionType, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.DropDownListFor(model => model.QuestionType, Model.QuestionTypeOptions, "---問題類型---", new { @class = "form-control", @id = "SeriesName" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IsOnline, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.IsOnline, "StatusDropDownList", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">搜尋</button>
                                @Html.ActionLink("新增FAQ", "Edit", "FAQAdmin", new { }, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">FAQ列表</h3>
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().ID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Question)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().BrandType)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().QuestionType)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().IsOnline)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Sort)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().UpdateDate)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().ID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Question)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().BrandType)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().QuestionType)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().IsOnline)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Sort)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().UpdateDate)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                            string BrandType = "";
                                            switch (item.BrandType)
                                            {
                                                case 1:
                                                    BrandType = "超耐磨木地板";
                                                    break;
                                                case 2:
                                                    BrandType = "防水地板";
                                                    break;
                                                default:
                                                    BrandType = "全部";
                                                    break;
                                            }
                                            string QuestionType = "";
                                            switch (item.QuestionType)
                                            {
                                                case 1:
                                                    QuestionType = "保養相關";
                                                    break;
                                                case 2:
                                                    QuestionType = "收邊相關";
                                                    break;
                                                default:
                                                    QuestionType = "全部";
                                                    break;
                                            }
                                            <tr>
                                                <td>
                                                    @item.ID
                                                </td>
                                                <td>
                                                    @item.Question
                                                </td> 
                                                <td>
                                                    @BrandType
                                                </td> 
                                                <td>
                                                    @QuestionType
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => item.IsOnline, "_Status")
                                                </td> 
                                                <td>
                                                    @item.Sort
                                                </td>
                                                <td>
                                                    @item.UpdateDate
                                                </td>
                                                <td>
                                                    @Html.ActionLink("編輯", "Edit", "FAQAdmin", new { id = item.ID }, new { @class = "btn btn-primary" })
                                                    @Html.ActionLink("刪除", "Delete", "FAQAdmin", new { id = item.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
}
