﻿@model Pergo.Areas.Admin.ViewModels.Case.CaseView
@{
    ViewBag.Title = "Edit";    
}

<section class="content-header">
    <h1>
        案例管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">編輯</h3>
                </div>

                @using (Html.BeginForm("Edit", "CaseAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.Creater)

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Floor)
                            @Html.TextBoxFor(model => model.Floor, new { @class = "form-control" })
                        </div>
                        <hr>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Description)
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control js-ckeditor" })
                        </div>
                        <hr>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Location)
                            @Html.TextBoxFor(model => model.Location, new { @class = "form-control" })
                        </div>
                        <hr> 

                        <div class="form-group">
                            @Html.LabelFor(model => model.Area)
                            @Html.TextBoxFor(model => model.Area, new { @class = "form-control" })
                        </div>
                        <hr>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MainPic) &nbsp;(尺寸：寬:0 x 高:0 px , 格式：svg)
                            <input type="file" id="pic_file" name="pic_file" accept="image/x-png,image/jpeg">
                            @*@Html.TextBoxFor(m => m.MainPic, new { @type = "file", @accept = "image/x-png,image/jpeg" })*@
                            <p class="help-block">上傳圖片</p>
                            @Html.ValidationMessageFor(model => model.MainPic, "", new { @class = "text-danger" })
                            @if (!string.IsNullOrEmpty(Model.MainPic))
                            {
                                <img src="~/FileUploads/CasePhoto/@Model.MainPic" class="img-thumbnail" style="width:200px" />
                                @Html.HiddenFor(model => model.MainPic)
                                <br />
                            }
                        </div>
                        <hr>

                        <div class="form-group">
                            <label>@Html.LabelFor(model => model.BrandType)</label><br />
                            @Html.DropDownListFor(model => model.BrandType, Model.BrandOptions, new { @class = "form-control" })
                        </div>                      
                        <hr>

                        <div class="form-group">
                            <label>@Html.LabelFor(model => model.SeriesType)</label><br />
                            @Html.DropDownListFor(model => model.SeriesType, Model.SeriesOptions, new { @class = "form-control" })
                        </div>                      
                        <hr>

                        <div class="form-group">
                            <label>@Html.LabelFor(model => model.ColorType)</label><br />
                            @Html.DropDownList("n", Model.ColorOptions, "---Select---", new { @class = "form-control js-approval", @style = "width:80%; display:inline; background-color:#f5fbff; ", @id = "js-signer-ColorType" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.ColorType, new Dictionary<string, object> { { "data-role", "tagsinput" }, { "class", "js-approval" } })
                        </div>
                        <hr>

                        <div class="form-group">
                            <label>@Html.LabelFor(model => model.SiteType)</label><br />
                            @Html.DropDownList("n", Model.SiteOptions, "---Select---", new { @class = "form-control js-approval", @style = "width:80%; display:inline; background-color:#f5fbff; ", @id = "js-signer-SiteType" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.SiteType, new Dictionary<string, object> { { "data-role", "tagsinput" }, { "class", "js-approval" } })
                        </div>
                        <hr>

                        <div class="form-group">
                            <label>@Html.LabelFor(model => model.StyleType)</label><br />
                            @Html.DropDownList("n", Model.StyleOptions, "---Select---", new { @class = "form-control js-approval", @style = "width:80%; display:inline; background-color:#f5fbff; ", @id = "js-signer-StyleType" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.StyleType, new Dictionary<string, object> { { "data-role", "tagsinput" }, { "class", "js-approval" } })
                        </div>
                        <hr>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Sort)
                            @Html.TextBoxFor(model => model.Sort, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Sort, "", new { @class = "text-danger" })
                        </div>
                        <hr> 

                        <div class="form-group">
                            @Html.CheckBoxFor(model => model.IsOnline, new { @class = "form-check-input" })
                            <label class="form-check-label" for="check-box-status">
                                @Html.DisplayNameFor(model => model.IsOnline)
                            </label>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            var $selectedColorType = $('#ColorType');
            var $selectedSiteType = $('#SiteType');
            var $selectedStyleType = $('#StyleType');        
            var remove;

            //ColorType
            $selectedColorType.on('itemAdded', function (event) {
                if (remove) {
                    $selectedSigner.tagsinput('remove', remove);
                    remove = '';
                }
            });
            $('#js-signer-ColorType').on('change', function () {
                var selected = $('#js-signer-ColorType option:selected');
                var id = selected.val();
                if (!id) {
                    return;
                }
                $selectedColorType.tagsinput('add', selected.text());
            });

            //SiteType
            $selectedSiteType.on('itemAdded', function (event) {
                if (remove) {
                    $selectedSigner.tagsinput('remove', remove);
                    remove = '';
                }
            });
            $('#js-signer-SiteType').on('change', function () {
                var selected = $('#js-signer-SiteType option:selected');
                var id = selected.val();
                if (!id) {
                    return;
                }
                $selectedSiteType.tagsinput('add', selected.text());
            });

            //StyleType
            $selectedStyleType.on('itemAdded', function (event) {
                if (remove) {
                    $selectedSigner.tagsinput('remove', remove);
                    remove = '';
                }
            });
            $('#js-signer-StyleType').on('change', function () {
                var selected = $('#js-signer-StyleType option:selected');
                var id = selected.val();
                if (!id) {
                    return;
                }
                $selectedStyleType.tagsinput('add', selected.text());
            });
        });
    </script>
    <!-- ckeditor -->
    <script src="~/Content/Admin/ckeditor/ckeditor.js"></script>
    <script>

        $(function () {
            //Ckeditor init
            $('.js-ckeditor').each(function (i, e) {
                var id = $(e).attr('id');
                CKEDITOR.replace(id,
                    {
                        font_defaultLabel: 'sans-serif',
                        fontSize_defaultLabel: '1.2rem',
                        toolbar: [
                            { name: 'basicstyles', groups: ['basicstyles'], items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript'] },
                            { name: 'paragraph', groups: ['align'], items: ['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'] },
                            { name: 'insert', items: ['Image'] },
                            { name: 'styles', items: ['FontSize'] },
                        ],
                    }
                );
            });
        });
    </script>
}