﻿@model Pergo.Areas.Admin.ViewModels.Case.CaseIndexView
@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <h1>
        案例管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <!--搜尋條件-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">搜尋</h3>
                </div>
                @using (Html.BeginForm("Index", "CaseAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.BrandType, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.DropDownListFor(model => model.BrandType, Model.BrandOptions, "---Select---", new { @class = "form-control" })
                            </div>
                        </div>
                        <hr>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SeriesType, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.DropDownListFor(model => model.SeriesType, Model.SeriesOptions, "---Select---", new { @class = "form-control" })
                            </div>
                        </div>
                        <hr>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">@Html.LabelFor(model => model.ColorType)</label>
                            <div class="col-sm-10">
                                @Html.DropDownList("n", Model.ColorOptions, "---Select---", new { @class = "form-control js-approval", @style = "width:80%; display:inline; background-color:#f5fbff; ", @id = "js-signer-ColorType" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.ColorType, new Dictionary<string, object> { { "data-role", "tagsinput" }, { "class", "js-approval" } })
                            </div>
                        </div>
                        <hr>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">@Html.LabelFor(model => model.SiteType)</label>
                            <div class="col-sm-10">
                                @Html.DropDownList("n", Model.SiteOptions, "---Select---", new { @class = "form-control js-approval", @style = "width:80%; display:inline; background-color:#f5fbff; ", @id = "js-signer-SiteType" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.SiteType, new Dictionary<string, object> { { "data-role", "tagsinput" }, { "class", "js-approval" } })
                            </div>
                        </div>
                        <hr>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">@Html.LabelFor(model => model.StyleType)</label>
                            <div class="col-sm-10">
                                @Html.DropDownList("n", Model.StyleOptions, "---Select---", new { @class = "form-control js-approval", @style = "width:80%; display:inline; background-color:#f5fbff; ", @id = "js-signer-StyleType" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.StyleType, new Dictionary<string, object> { { "data-role", "tagsinput" }, { "class", "js-approval" } })
                            </div>
                        </div>
                        <hr>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IsOnline, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.IsOnline, "StatusDropDownList", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">搜尋</button>
                                @Html.ActionLink("新增案例", "Edit", "CaseAdmin", new { }, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!--清單-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">案例列表</h3>
                </div>
                <div class="box-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().ID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().MainPic)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().BrandType)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().SeriesType)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().ColorType)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().SiteType)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().StyleType)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().IsOnline)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Sort)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().UpdateDate)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().ID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().MainPic)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().BrandType)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().SeriesType)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().ColorType)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().SiteType)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().StyleType)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().IsOnline)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Sort)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().UpdateDate)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                            <tr>
                                                <td>
                                                    @item.ID
                                                </td>
                                                <td>
                                                    <img src="~/FileUploads/CasePhoto/@item.MainPic" style="width:300px" />
                                                </td>
                                                <td>
                                                    @Pergo.Utility.Cmind.EnumHelper.GetDescription((Pergo.Models.BrandValue)item.BrandType)
                                                </td>
                                                <td>
                                                    @item.SeriesTypeStr
                                                </td>
                                                <td>
                                                    @* 多值 *@
                                                    @item.ColorType
                                                </td>
                                                <td>
                                                    @* 多值 *@
                                                    @item.SiteType
                                                </td>
                                                <td>
                                                    @* 多值 *@
                                                    @item.StyleType
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => item.IsOnline, "_Status")
                                                </td>
                                                <td>
                                                    @item.Sort
                                                </td>
                                                <td>
                                                    @item.UpdateDate
                                                </td>
                                                <td>
                                                    @Html.ActionLink("編輯", "Edit", "CaseAdmin", new { id = item.ID }, new { @class = "btn btn-primary" })
                                                    @Html.ActionLink("刪除", "Delete", "CaseAdmin", new { id = item.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
    <script>
        $(function () {
            var $selectedColorType = $('#ColorType');
            var $selectedSiteType = $('#SiteType');
            var $selectedStyleType = $('#StyleType');
            var remove;

            //ColorType
            $selectedColorType.on('itemAdded', function (event) {
                if (remove) {
                    $selectedSigner.tagsinput('remove', remove);
                    remove = '';
                }
            });
            $('#js-signer-ColorType').on('change', function () {
                var selected = $('#js-signer-ColorType option:selected');
                var id = selected.val();
                if (!id) {
                    return;
                }
                $selectedColorType.tagsinput('add', selected.text());
            });

            //SiteType
            $selectedSiteType.on('itemAdded', function (event) {
                if (remove) {
                    $selectedSigner.tagsinput('remove', remove);
                    remove = '';
                }
            });
            $('#js-signer-SiteType').on('change', function () {
                var selected = $('#js-signer-SiteType option:selected');
                var id = selected.val();
                if (!id) {
                    return;
                }
                $selectedSiteType.tagsinput('add', selected.text());
            });

            //StyleType
            $selectedStyleType.on('itemAdded', function (event) {
                if (remove) {
                    $selectedSigner.tagsinput('remove', remove);
                    remove = '';
                }
            });
            $('#js-signer-StyleType').on('change', function () {
                var selected = $('#js-signer-StyleType option:selected');
                var id = selected.val();
                if (!id) {
                    return;
                }
                $selectedStyleType.tagsinput('add', selected.text());
            });
        });
    </script>
}
