﻿@model Pergo.ViewModels.Series.ColorListView

@{
    string laminate = Model.brand == 1 ? "active" : "";
    string vinyl = Model.brand == 2 ? "active" : "";
    ViewBag.SeriesEngStr = Model.SeriesEngStr;
}

@section header{
}

@section headersection{
}

@Html.Partial("SeriesMenu")

<section class="inset-shadow">
    <div class="container-fluid py-4 py-lg-8">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        @foreach (var item in Model.BannerList)
                        {
                            <div class="carousel-item active" id="series_@item.ID">
                                @*<div class="bg-banner mb-2" style="background-image:url('/Content/img/banner9.jpg')"></div>*@
                                <div class="bg-banner mb-2" style="background-image:url('/FileUploads/SeriesBannerPhoto/@item.MainPic')"></div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<sction class="my-4 my-lg-8">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="form-row">
                    @{
                        string hideSelection = Model.brand == 2 ? "" : "";
                        //string col_lg = Model.brand == 2 ? "3" : "1";
                        string col_xl = Model.brand == 2 ? "8" : "4";
                    }
                    @if (Model.brand == 1) {
                    <div class="col-12 col-md-4 col-lg-4 col-xl-2 my-1">
                        <select class="cmz-sel filterType" name="texture" id="texture" placeholder="全部紋理</">
                            <option value="0" selected="selected">全部紋理</option>
                            @foreach (var item in Model.TextureOptions)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }                         
                        </select>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4 col-xl-2 my-1">
                        <select class="cmz-sel filterType" name="luster" id="luster" placeholder="全部亮澤">
                            <option value="0" selected="selected">全部亮澤</option>
                           @foreach (var item in Model.LusterOptions)
                           {
                                <option value="@item.Value">@item.Text</option>
                           }
                        </select>
                    </div>
                    }
                     <div class="col-12 col-md-4 col-lg-4 col-xl-2 my-1">
                        <select class="cmz-sel filterType" name="shade" id="shade" placeholder="全部風格">
                            <option value="0" selected="selected">全部風格</option>
                           @foreach (var item in Model.ShadeOptions)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4 col-xl-2 my-1">
                        <select class="cmz-sel filterType" name="color" id="color" placeholder="全部色系">
                            <option value="0" selected="selected">全部色系</option>
                           @foreach (var item in Model.ColorOptions)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>
                    <div class="col-12 col-lg-5 col-xl-@col_xl my-1">
                        <ul class="list-unstyled float-left float-xl-right mb-0">
                            <li class="float-left ml-3">排序依據 :</li>
                            <li class="float-left border-right px-2"><a class="text-33 sortType" href="#" data-sort="eng">名稱</a></li>
                            <li class="float-left border-right px-2"><a class="text-33 sortType" href="#" data-sort="publicdate">最新</a></li>
                            <li class="float-left px-2"><a class="text-33 sortType" href="#" data-sort="popular">熱門</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-4 my-lg-8 display-planks">
                    @* 花色列表 *@
                </div>
            </div>
        </div>
    </div>
</sction>

@section bread{
    @{
        string brandType = Model.brand == 1 ? "Laminate" : "Vinyl";
        string brandTypeUpper = brandType.ToUpper();
    }
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Characteristic", new { id = Model.brand, value = brandType} )">@brandTypeUpper</a></li>
    <li class="breadcrumb-item"><a href="/Series/Overview/@Model.SeriesEngStr.Replace(" ", "")">@Model.SeriesEngStr</a></li>
    <li class="breadcrumb-item active" aria-current="page">花色展示</li>
}

@section scripts{
    <script>
        $(function () {
            var laminate = '@laminate';
            var vinyl = '@vinyl';
            $('.menu_2').addClass(laminate);
            $('.menu_3').addClass(vinyl);

            $('#a_color').addClass('active');
        });
    </script>
}