﻿@model Pergo.ViewModels.Series.ENQView

@{
    string laminate = Model.brand == 1 ? "active" : "";
    string vinyl = Model.brand == 2 ? "active" : "";
    ViewBag.SeriesEngStr = Model.SeriesEngStr;
}

@section header{
}

@section headersection{
}

@Html.Partial("SeriesMenu")

<section class="inset-shadow">
    <div class="container py-4 py-lg-8 text-center text-33">
        <div class="h1 font-weight-bold">選擇你心儀的花色</div>
        <div class="h1 font-weight-bold">鋪就溫馨地板，開始詢價吧！</div><img class="d-inline-block my-7" src="~/Content/img/askPrice.svg" title="開始詢價" alt="開始詢價" width="110" />
        <h2 class="h1 font-weight-bold">@Model.SeriesEngStr @Model.SeriesStr</h2>
        <p class="h4 font-weight-bold">詢價時取得協助。立即與我們交流或致電<a class="text-33" href="tel:+0226023629">02-2602-3629</a>。</p>
    </div>
</section>
@Html.Partial("Other")

@section bread{
    @{
        string brandType = Model.brand == 1 ? "Laminate" : "Vinyl";
        string brandTypeUpper = brandType.ToUpper();
    }    
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Characteristic", new { id = Model.brand, value = brandType} )">@brandTypeUpper</a></li>
    <li class="breadcrumb-item"><a href="/Series/Overview/@Model.SeriesEngStr.Replace(" ", "")">@Model.SeriesEngStr</a></li>
    <li class="breadcrumb-item active" aria-current="page">詢價預約</li>
}

@section scripts{
    <script>
        $(function () {
            var laminate = '@laminate';
            var vinyl = '@vinyl';
            $('.menu_2').addClass(laminate);
            $('.menu_3').addClass(vinyl);

            $('#a_enq').addClass('active');
        });
    </script>
}