﻿<section>
    <div class="container my-8">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="form-row justify-content-between text-center">
                    <div class="col-6 mb-1 col-lg-3 col-xl-2">
                        <h4 class="icon-help">
                            <a href="@Url.Action("ContactUs", "Support")#contactUs">
                                <img src="~/Content/img/bag.svg" title="選購詢價產品" alt="選購詢價產品" height="55" /><img src="~/Content/img/bag-hover.svg" title="選購詢價產品" alt="選購詢價產品" height="55" />
                                <p class="h6 font-weight-bold mt-6">選購詢價產品</p><span class="font-sm">如何購買 ></span>
                            </a>
                        </h4>
                    </div>
                    <div class="col-6 mb-1 col-lg-3">
                        <h4 class="icon-help">
                            <a href="@Url.Action("ContactUs", "Support")#contactUs">
                                <img src="~/Content/img/tool_solid.svg" title="施工方式相關問題" alt="施工方式相關問題" height="55" /><img src="~/Content/img/tool_solid-hover.svg" title="施工方式相關問題" alt="施工方式相關問題" height="55" />
                                <p class="h6 font-weight-bold mt-6">施工方式相關問題</p><span class="font-sm">查看施工流程 ></span>
                            </a>
                        </h4>
                    </div>
                    <div class="col-6 mb-1 col-lg-3">
                        <h4 class="icon-help">
                            <a href="@Url.Action("FAQ", "Support")#faq">
                                <img src="~/Content/img/questions.svg" title="關於PERGO常見問題" alt="關於PERGO常見問題" height="55" /><img src="~/Content/img/questions-hover.svg" title="關於PERGO常見問題" alt="關於PERGO常見問題" height="55" />
                                <p class="h6 font-weight-bold mt-6">關於PERGO常見問題</p><span class="font-sm">了解更多資訊 ></span>
                            </a>
                        </h4>
                    </div>
                    <div class="col-6 mb-1 col-lg-3 col-xl-2">
                        <h4 class="icon-help">
                            <a href="@Url.Action("ContactUs", "Support")#contactUs">
                                <img src="~/Content/img/asistance.svg" title="線上協助" alt="線上協助" height="55" /><img src="~/Content/img/asistance-hover.svg" title="線上協助" alt="線上協助" height="55" />
                                <p class="h6 font-weight-bold mt-6">線上協助</p><span class="font-sm">聯繫Pergo ></span>
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>