﻿@{ 
    string val = ViewBag.SeriesEngStr == null ? "" : ViewBag.SeriesEngStr.ToString();
    string EngName = ViewBag.SeriesEngStr.Replace(" ", "");
}
<div class="inset-shadow sub-nav">
    <div class="container">
        <div class="row no-gutters justify-content-center">
            <div class="col-xl-10">
                <nav class="navbar navbar-expand-lg navbar-lighter">
                    <h2 class="my-1 h6 mr-auto">@val</h2>
                    <button class="navbar-toggler hamberger" type="button" data-toggle="collapse" data-target="#minor-nav" aria-controls="minor-nav" aria-expanded="false" aria-label="Toggle navigation"><span></span><span></span><span></span></button>
                    <div class="collapse navbar-collapse" id="minor-nav">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a id="a_overview" class="nav-link font-sm" href="/Series/Overview/@EngName">概覽</a></li>
                            <li class="nav-item"><a id="a_feature" class="nav-link font-sm" href="/Series/Feature/@EngName">功能特色</a></li>
                            @*<li class="nav-item"><a id="a_tech" class="nav-link font-sm" href="/Series/Tech/@Model.seriesId/@EngName">專利技術</a></li>*@
                            <li class="nav-item"><a id="a_spec" class="nav-link font-sm" href="/Series/Spec/@EngName">產品規格</a></li>
                            <li class="nav-item"><a id="a_usage" class="nav-link font-sm" href="/Series/Usage/@EngName">應用</a></li>
                            <li class="nav-item"><a id="a_color" class="nav-link font-sm" href="/Series/Color/@EngName?sid=@Model.seriesId">花色展示</a></li>
                            <li class="nav-item"><a id="a_enq" class="nav-link font-sm" href="/Series/ENQ/@EngName">詢價預約</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>