﻿@model Pergo.ViewModels.Series.SpecView

@{
    var LivingLevel = Model.LivingLevel;
    var OriginalLevel = Model.OriginalLevel;
    var PublicLevel = Model.PublicLevel;
    var OptimumLevel = Model.OptimumLevel;
    var PremiumLevel = Model.PremiumLevel;

    string laminate = Model.brand == 1 ? "active" : "";
    string vinyl = Model.brand == 2 ? "active" : "";
    ViewBag.SeriesEngStr = Model.SeriesEngStr;
}

@section header{
    <style>
        .ckeditor_grid p {
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-bottom: 20px !important;
            margin-top: 20px !important;
            flex: 0 0 33.33333%;
            max-width: 33.33333%;
        }

        @@media (min-width: 768px) {
            .ckeditor_grid p {
                margin: 0;
                flex: 0 0 20%;
                max-width: 20%;
                font-size: .75rem !important;
            }
        }

        .ckeditor_grid img {
            max-width: 100%;
            height: auto;
        }

        .ckeditor_grid span {
            font-size: .75rem !important;
            margin-top: 5px !important;
            display: block !important;
        }
    </style>
}

@section headersection{
}

@Html.Partial("SeriesMenu")

<section>
    <div class="container">
        <div class="bg-sm-banner" style="background-image:url('/FileUploads/SeriesBannerPhoto/@Model.MainPic')"></div>
        <div class="row justify-content-center">
            <div class="col-xl-10">
                 @if (Model.brand == 1)
                 {
                <input class="table-radio d-none" id="table-radio1" type="radio" name="table" checked="checked" />
                <input class="table-radio d-none" id="table-radio2" type="radio" name="table" />
                <input class="table-radio d-none" id="table-radio3" type="radio" name="table" />
                 }
                 else if (Model.brand == 2)
                 {
                <input class="table-radio d-none" id="table-radio1" type="radio" name="table" checked="checked" />
                <input class="table-radio d-none" id="table-radio2" type="radio" name="table" />
                 }
                <div class="table-tabs">
                      @if (Model.brand == 1)
                      {
                        <label for="table-radio1">living&nbsp;<br class="d-lg-none"/><span class="text-leaf">Expression</span></label>                     
                        @*<label for="table-radio1">living&nbsp;<span class="text-leaf">Expression</span></label>*@
                            if (Model.OriginalLevel.IsOnline)
                            {
                              <label for="table-radio2">original&nbsp;<br class="d-lg-none"/><span class="text-wood">Excellence</span></label>
                              @*<label for="table-radio2">original&nbsp;<span class="text-wood">Excellence</span></label>*@
                            }
                            if (Model.PublicLevel.IsOnline)
                            {
                               <label for="table-radio3">public&nbsp;<br class="d-lg-none"/><span>Extreme</span></label>
                              @*<label for="table-radio3">public&nbsp;<br class="d-md-none" /><span>Extreme</span></label>*@
                            }
                      }
                      else if (Model.brand == 2)
                      {
                        <label for="table-radio1"><span class="text-silver">Premium 優適版</span></label>
                            if (Model.OptimumLevel.IsOnline)
                            {
                              <label for="table-radio2"><span class="text-gold">Optimum 卓越版</span></label>
                            }
                      }
                </div>
                <div class="table-contents">
                    @if (Model.brand == 1)
                    {
                    <div class="row grid-table-py table-content">
                        <div class="col-4">尺寸與密度</div>
                        <div class="col-8">
                            <ul class="mb-0">
                                <li>長度：@LivingLevel.Length</li>
                                <li>厚度：@LivingLevel.Thickness</li>
                                @if (!string.IsNullOrEmpty(LivingLevel.Density))
                                {
                                    <li>密度：@Html.Raw(LivingLevel.Density.ToUpper().Replace("M3", "M<sup>3</sup>"))</li>
                                }
                            </ul>
                        </div>
                        <div class="col-4">包裝</div>
                        @if (string.IsNullOrEmpty(LivingLevel.Package))
                        {
                            <div class="col-8"></div>
                        }
                        else
                        {
                            <div class="col-8">@Html.Raw(LivingLevel.Package.ToUpper().Replace("M2", "M<sup>2</sup>"))</div>
                        }
                        <div class="col-4">基材標準</div>
                        <div class="col-8">@LivingLevel.Standard</div>
                        <div class="col-4">表層壓紋</div>
                        <div class="col-8">@LivingLevel.Texture</div>
                        <div class="col-4">亮澤</div>
                        <div class="col-8">
                            <table>
                                @{
                                    if (!string.IsNullOrEmpty(LivingLevel.Luster))
                                    {
                                        var livingluster = LivingLevel.Luster.Split(',');
                                        int llc = livingluster.Count();
                                        int ls = 0;
                                        int lr = llc % 2 > 0 ? (llc / 2) + 1 : llc / 2;
                                        for (int j = 0; j < lr; j++)
                                        {
                                            int le = ls + 2 > llc ? llc : ls + 2;
                                            <tr>
                                                @for (int i = ls; i < le; i++)
                                                {
                                                    <td width="33.33333%">@livingluster[i]</td>
                                                }
                                            </tr>
                                            ls = ls + 2;
                                        }
                                    }
                                }
                            </table>
                        </div>
                        <div class="col-4">耐熱性</div>
                        @if (string.IsNullOrEmpty(LivingLevel.HeatResistance))
                        {
                            <div class="col-8"></div>
                        }
                        else
                        {
                            <div class="col-8">@Html.Raw(LivingLevel.HeatResistance.ToUpper().Replace("M2", "M<sup>2</sup>"))</div>
                        }
                        <div class="col-4">鎖扣</div>
                        <div class="col-8">@LivingLevel.Lock</div>
                        <div class="col-4">環保認證</div>
                        <div class="col-8">
                            <div class="row text-center ckeditor_grid">
                                @Html.Raw(LivingLevel.Certification)
                            </div>
                        </div>
                        <div class="col-4">耐磨等級</div>
                        <div class="col-8">@LivingLevel.WearRating</div>
                        <div class="col-4">使用等級</div>
                        <div class="col-8">@LivingLevel.UseLevel</div>
                        <div class="col-4">產品特性</div>
                        <div class="col-8">
                            <div class="row text-center ckeditor_grid">
                                @Html.Raw(LivingLevel.Features)
                            </div>
                        </div>
                        <div class="col-4">產品花色</div>
                        <div class="col-8">
                            <div class="row">
                                @{
                                    if (LivingLevel.ColorList.Count > 0)
                                    {
                                        foreach (var item in LivingLevel.ColorList)
                                        {
                                            <div class="col-4 col-lg-fifth my-3">
                                                <div class="bg-square" style="background-image:url('/FileUploads/ProductPhoto/@item.MainPic');"></div>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-4">保固與服務</div>
                        <div class="col-8">
                            @Html.Raw(LivingLevel.Guarantee)
                        </div>
                    </div>
                        if (Model.OriginalLevel.IsOnline)
                        {
                        <div class="row grid-table-py table-content">
                            <div class="col-4">尺寸與密度</div>
                            <div class="col-8">
                                <ul class="mb-0">
                                    <li>長度：@OriginalLevel.Length</li>
                                    <li>厚度：@OriginalLevel.Thickness</li>
                                    @if (!string.IsNullOrEmpty(OriginalLevel.Density))
                                    {
                                        <li>密度：@Html.Raw(OriginalLevel.Density.ToUpper().Replace("M3", "M<sup>3</sup>"))</li>
                                    }
                                </ul>
                            </div>
                            <div class="col-4">包裝</div>
                            @if (string.IsNullOrEmpty(OriginalLevel.Package))
                            {
                                <div class="col-8"></div>
                            }
                            else
                            {
                                <div class="col-8">@Html.Raw(OriginalLevel.Package.ToUpper().Replace("M2", "M<sup>2</sup>"))</div>
                            }
                            <div class="col-4">基材標準</div>
                            <div class="col-8">@OriginalLevel.Standard</div>
                            <div class="col-4">表層壓紋</div>
                            <div class="col-8">@OriginalLevel.Texture</div>
                            <div class="col-4">亮澤</div>
                            <div class="col-8">
                                <table>
                                    @{
                                        if (!string.IsNullOrEmpty(OriginalLevel.Luster))
                                        {
                                            var originalluster = OriginalLevel.Luster.Split(',');
                                            int olc = originalluster.Count();
                                            int os = 0;
                                            int or = olc % 2 > 0 ? (olc / 2) + 1 : olc / 2;
                                            for (int j = 0; j < or; j++)
                                            {
                                                int oe = os + 2 > olc ? olc : os + 2;
                                                <tr>
                                                    @for (int i = os; i < oe; i++)
                                                    {
                                                        <td width="33.33333%">@originalluster[i]</td>
                                                    }
                                                </tr>
                                                os = os + 2;
                                            }
                                        }
                                    }
                                </table>
                            </div>
                            <div class="col-4">耐熱性</div>
                            @if (string.IsNullOrEmpty(OriginalLevel.HeatResistance))
                            {
                                <div class="col-8"></div>
                            }
                            else
                            {
                                <div class="col-8">@Html.Raw(OriginalLevel.HeatResistance.ToUpper().Replace("M2", "M<sup>2</sup>"))</div>
                            }
                            <div class="col-4">鎖扣</div>
                            <div class="col-8">@OriginalLevel.Lock</div>
                            <div class="col-4">環保認證</div>
                            <div class="col-8">
                                <div class="row text-center ckeditor_grid">
                                    @Html.Raw(OriginalLevel.Certification)
                                </div>
                            </div>
                            <div class="col-4">耐磨等級</div>
                            <div class="col-8">@OriginalLevel.WearRating</div>
                            <div class="col-4">使用等級</div>
                            <div class="col-8">@OriginalLevel.UseLevel</div>
                            <div class="col-4">產品特性</div>
                            <div class="col-8">
                                <div class="row text-center ckeditor_grid">
                                    @Html.Raw(OriginalLevel.Features)
                                </div>
                            </div>
                            <div class="col-4">產品花色</div>
                            <div class="col-8">
                                <div class="row">
                                    @{
                                        if (OriginalLevel.ColorList.Count > 0)
                                        {
                                            foreach (var item in OriginalLevel.ColorList)
                                            {
                                                <div class="col-4 col-lg-fifth my-3">
                                                    <div class="bg-square" style="background-image:url('/FileUploads/ProductPhoto/@item.MainPic');"></div>
                                                </div>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                            <div class="col-4">保固與服務</div>
                            <div class="col-8">
                                @Html.Raw(OriginalLevel.Guarantee)
                            </div>
                        </div>
                        }
                        if (Model.PublicLevel.IsOnline)
                        {
                        <div class="row grid-table-py table-content">
                            <div class="col-4">尺寸與密度</div>
                            <div class="col-8">
                                <ul class="mb-0">
                                    <li>長度：@PublicLevel.Length</li>
                                    <li>厚度：@PublicLevel.Thickness</li>
                                    @if (!string.IsNullOrEmpty(PublicLevel.Density))
                                    {
                                        <li>密度：@Html.Raw(PublicLevel.Density.ToUpper().Replace("M3", "M<sup>3</sup>"))</li>
                                    }
                                </ul>
                            </div>
                            <div class="col-4">包裝</div>
                            @if (string.IsNullOrEmpty(PublicLevel.Package))
                            {
                                <div class="col-8"></div>
                            }
                            else
                            {
                                <div class="col-8">@Html.Raw(PublicLevel.Package.ToUpper().Replace("M2", "M<sup>2</sup>"))</div>
                            }
                            <div class="col-4">基材標準</div>
                            <div class="col-8">@PublicLevel.Standard</div>
                            <div class="col-4">表層壓紋</div>
                            <div class="col-8">@PublicLevel.Texture</div>
                            <div class="col-4">亮澤</div>
                            <div class="col-8">
                                <table>
                                    @{
                                        if (!string.IsNullOrEmpty(PublicLevel.Luster))
                                        {
                                            var publicluster = PublicLevel.Luster.Split(',');
                                            int plc = publicluster.Count();
                                            int ps = 0;
                                            int pr = plc % 2 > 0 ? (plc / 2) + 1 : plc / 2;
                                            for (int j = 0; j < pr; j++)
                                            {
                                                int pe = ps + 2 > plc ? plc : ps + 2;
                                                <tr>
                                                    @for (int i = ps; i < pe; i++)
                                                    {
                                                        <td width="33.33333%">@publicluster[i]</td>
                                                    }
                                                </tr>
                                                ps = ps + 2;
                                            }
                                        }
                                    }
                                </table>
                            </div>
                            <div class="col-4">耐熱性</div>
                            @if (string.IsNullOrEmpty(PublicLevel.HeatResistance))
                            {
                                <div class="col-8"></div>
                            }
                            else
                            {
                                <div class="col-8">@Html.Raw(PublicLevel.HeatResistance.ToUpper().Replace("M2", "M<sup>2</sup>"))</div>
                            }
                            <div class="col-4">鎖扣</div>
                            <div class="col-8">@PublicLevel.Lock</div>
                            <div class="col-4">環保認證</div>
                            <div class="col-8">
                                <div class="row text-center ckeditor_grid">
                                    @Html.Raw(PublicLevel.Certification)
                                </div>
                            </div>
                            <div class="col-4">耐磨等級</div>
                            <div class="col-8">@PublicLevel.WearRating</div>
                            <div class="col-4">使用等級</div>
                            <div class="col-8">@PublicLevel.UseLevel</div>
                            <div class="col-4">產品特性</div>
                            <div class="col-8">
                                <div class="row text-center ckeditor_grid">
                                    @Html.Raw(PublicLevel.Features)
                                </div>
                            </div>
                            <div class="col-4">產品花色</div>
                            <div class="col-8">
                                <div class="row">
                                    @{
                                        if (PublicLevel.ColorList.Count > 0)
                                        {
                                            foreach (var item in PublicLevel.ColorList)
                                            {
                                                <div class="col-4 col-lg-fifth my-3">
                                                    <div class="bg-square" style="background-image:url('/FileUploads/ProductPhoto/@item.MainPic');"></div>
                                                </div>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                            <div class="col-4">保固與服務</div>
                            <div class="col-8">
                                @Html.Raw(PublicLevel.Guarantee)
                            </div>
                        </div>
                        }
                    }
                    else
                    {
                          <div class="row grid-table-py table-content">
                        <div class="col-4">尺寸與密度</div>
                        <div class="col-8">
                            <ul class="mb-0">
                                <li>長度：@PremiumLevel.Length</li>
                                <li>厚度：@PremiumLevel.Thickness</li>
                                @if (!string.IsNullOrEmpty(PremiumLevel.Density))
                                {
                                    <li>密度：@Html.Raw(PremiumLevel.Density.ToUpper().Replace("M3", "M<sup>3</sup>"))</li>
                                }
                            </ul>
                        </div>
                        <div class="col-4">包裝</div>
                        @if (string.IsNullOrEmpty(PremiumLevel.Package))
                        {
                            <div class="col-8"></div>
                        }
                        else
                        {
                            <div class="col-8">@Html.Raw(PremiumLevel.Package.ToUpper().Replace("M2", "M<sup>2</sup>"))</div>
                        }
                        <div class="col-4">基材標準</div>
                        <div class="col-8">@PremiumLevel.Standard</div>
                        <div class="col-4">表層壓紋</div>
                        <div class="col-8">@PremiumLevel.Texture</div>
                        <div class="col-4">亮澤</div>
                        <div class="col-8">
                            <table>
                                @{
                                    if (!string.IsNullOrEmpty(PremiumLevel.Luster))
                                    {
                                        var livingluster = PremiumLevel.Luster.Split(',');
                                        int llc = livingluster.Count();
                                        int ls = 0;
                                        int lr = llc % 2 > 0 ? (llc / 2) + 1 : llc / 2;
                                        for (int j = 0; j < lr; j++)
                                        {
                                            int le = ls + 2 > llc ? llc : ls + 2;
                                            <tr>
                                                @for (int i = ls; i < le; i++)
                                                {
                                                    <td width="33.33333%">@livingluster[i]</td>
                                                }
                                            </tr>
                                            ls = ls + 2;
                                        }
                                    }
                                }
                            </table>
                        </div>
                        <div class="col-4">耐熱性</div>
                        @if (string.IsNullOrEmpty(PremiumLevel.HeatResistance))
                        {
                            <div class="col-8"></div>
                        }
                        else
                        {
                            <div class="col-8">@Html.Raw(PremiumLevel.HeatResistance.ToUpper().Replace("M2", "M<sup>2</sup>"))</div>
                        }
                        <div class="col-4">鎖扣</div>
                        <div class="col-8">@PremiumLevel.Lock</div>
                        <div class="col-4">環保認證</div>
                        <div class="col-8">
                            <div class="row text-center ckeditor_grid">
                                @Html.Raw(PremiumLevel.Certification)
                            </div>
                        </div>
                        <div class="col-4">耐磨等級</div>
                        <div class="col-8">@PremiumLevel.WearRating</div>
                        <div class="col-4">使用等級</div>
                        <div class="col-8">@PremiumLevel.UseLevel</div>
                        <div class="col-4">產品特性</div>
                        <div class="col-8">
                            <div class="row text-center ckeditor_grid">
                                @Html.Raw(PremiumLevel.Features)
                            </div>
                        </div>
                        <div class="col-4">產品花色</div>
                        <div class="col-8">
                            <div class="row">
                                @{
                                    if (PremiumLevel.ColorList.Count > 0)
                                    {
                                        foreach (var item in PremiumLevel.ColorList)
                                        {
                                            <div class="col-4 col-lg-fifth my-3">
                                                <div class="bg-square" style="background-image:url('/FileUploads/ProductPhoto/@item.MainPic');"></div>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-4">保固與服務</div>
                        <div class="col-8">
                            @Html.Raw(PremiumLevel.Guarantee)
                        </div>
                    </div>
                        if (Model.OptimumLevel.IsOnline)
                        {
                        <div class="row grid-table-py table-content">
                            <div class="col-4">尺寸與密度</div>
                            <div class="col-8">
                                <ul class="mb-0">
                                    <li>長度：@OptimumLevel.Length</li>
                                    <li>厚度：@OptimumLevel.Thickness</li>
                                    @if (!string.IsNullOrEmpty(OptimumLevel.Density))
                                    {
                                        <li>密度：@Html.Raw(OptimumLevel.Density.ToUpper().Replace("M3", "M<sup>3</sup>"))</li>
                                    }
                                </ul>
                            </div>
                            <div class="col-4">包裝</div>
                            @if (string.IsNullOrEmpty(OptimumLevel.Package))
                            {
                                <div class="col-8"></div>
                            }
                            else
                            {
                                <div class="col-8">@Html.Raw(OptimumLevel.Package.ToUpper().Replace("M2", "M<sup>2</sup>"))</div>
                            }
                            <div class="col-4">基材標準</div>
                            <div class="col-8">@OptimumLevel.Standard</div>
                            <div class="col-4">表層壓紋</div>
                            <div class="col-8">@OptimumLevel.Texture</div>
                            <div class="col-4">亮澤</div>
                            <div class="col-8">
                                <table>
                                    @{
                                        if (!string.IsNullOrEmpty(OptimumLevel.Luster))
                                        {
                                            var originalluster = OptimumLevel.Luster.Split(',');
                                            int olc = originalluster.Count();
                                            int os = 0;
                                            int or = olc % 2 > 0 ? (olc / 2) + 1 : olc / 2;
                                            for (int j = 0; j < or; j++)
                                            {
                                                int oe = os + 2 > olc ? olc : os + 2;
                                                <tr>
                                                    @for (int i = os; i < oe; i++)
                                                    {
                                                        <td width="33.33333%">@originalluster[i]</td>
                                                    }
                                                </tr>
                                                os = os + 2;
                                            }
                                        }
                                    }
                                </table>
                            </div>
                            <div class="col-4">耐熱性</div>
                            @if (string.IsNullOrEmpty(OptimumLevel.HeatResistance))
                            {
                                <div class="col-8"></div>
                            }
                            else
                            {
                                <div class="col-8">@Html.Raw(OptimumLevel.HeatResistance.ToUpper().Replace("M2", "M<sup>2</sup>"))</div>
                            }
                            <div class="col-4">鎖扣</div>
                            <div class="col-8">@OptimumLevel.Lock</div>
                            <div class="col-4">環保認證</div>
                            <div class="col-8">
                                <div class="row text-center ckeditor_grid">
                                    @Html.Raw(OptimumLevel.Certification)
                                </div>
                            </div>
                            <div class="col-4">耐磨等級</div>
                            <div class="col-8">@OptimumLevel.WearRating</div>
                            <div class="col-4">使用等級</div>
                            <div class="col-8">@OptimumLevel.UseLevel</div>
                            <div class="col-4">產品特性</div>
                            <div class="col-8">
                                <div class="row text-center ckeditor_grid">
                                    @Html.Raw(OptimumLevel.Features)
                                </div>
                            </div>
                            <div class="col-4">產品花色</div>
                            <div class="col-8">
                                <div class="row">
                                    @{
                                        if (OptimumLevel.ColorList.Count > 0)
                                        {
                                            foreach (var item in OptimumLevel.ColorList)
                                            {
                                                <div class="col-4 col-lg-fifth my-3">
                                                    <div class="bg-square" style="background-image:url('/FileUploads/ProductPhoto/@item.MainPic');"></div>
                                                </div>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                            <div class="col-4">保固與服務</div>
                            <div class="col-8">
                                @Html.Raw(OptimumLevel.Guarantee)
                            </div>
                        </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>
@Html.Partial("Other")

@section bread{
     @{
        string brandType = Model.brand == 1 ? "Laminate" : "Vinyl";
        string brandTypeUpper = brandType.ToUpper();
    }
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Characteristic", new { id = Model.brand, value = brandType} )">@brandTypeUpper</a></li>
    <li class="breadcrumb-item"><a href="/Series/Overview/@Model.SeriesEngStr.Replace(" ", "")">@Model.SeriesEngStr</a></li>
    <li class="breadcrumb-item active" aria-current="page">產品規格</li>
}

@section scripts{
    <script>
        $(function () {
            var laminate = '@laminate';
            var vinyl = '@vinyl';
            $('.menu_2').addClass(laminate);
            $('.menu_3').addClass(vinyl);

            $('#a_spec').addClass('active');
        });
    </script>
}