﻿@model Pergo.ViewModels.Series.OverviewView

@{
    string laminate = Model.brand == 1 ? "active" : "";
    string vinyl = Model.brand == 2 ? "active" : "";
    ViewBag.SeriesEngStr = Model.SeriesEngStr;
}

@section header{
}

@section headersection{
}

@Html.Partial("SeriesMenu")

<section>
    @if (Model.SeriesBannerList.Count() > 0)
    {
        foreach (var item in Model.SeriesBannerList)
        {
            string text_white = item.TextChange ? "text-white" : "";
            string subtext_white = item.TextChange ? "text-white" : "text-4d";
            string textposition = "center";
            if (item.Position != null)
            {
                switch (item.Position)
                {
                    case 1:
                        textposition = "top-left";
                        break;
                    case 2:
                        textposition = "top-center";
                        break;
                    case 3:
                        textposition = "top-right";
                        break;
                    case 4:
                        textposition = "mid-left";
                        break;
                    case 5:
                        textposition = "mid-center";
                        break;
                    case 6:
                        textposition = "mid-right";
                        break;
                    case 7:
                        textposition = "btm-left";
                        break;
                    case 8:
                        textposition = "btm-center";
                        break;
                    case 9:
                        textposition = "btm-right";
                        break;
                    default:
                        textposition = "mid-center";
                        break;
                }
            }

            if (!string.IsNullOrEmpty(item.Link) && item.Link.IndexOf("youtube.com") > 0)
            {
                string videolink = item.Link.Replace("watch?v=", "embed/");
                <div class="jumbotron bg-cover mb-2 p-0" style="background-image:url('/FileUploads/SeriesBannerPhoto/@item.MainPic" id="series_@item.ID">
                    <div class="container-fluid text-center">
                        <iframe class="mb-0" width="100%" height="600" src="@videolink" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                    </div>
                </div>
            }
            else if (!(item.WhiteSpace))
            {
                <div class="banner @text_white text-center">
                    <img class="w-100" src="~/FileUploads/SeriesBannerPhoto/@item.MainPic" alt="" id="series_@item.ID" />
                    <div class="banner-txt @textposition">
                        <div class="rwd-title">@item.EngTitle</div>
                        <div class="rwd-title">@item.Title</div>
                        @if (!string.IsNullOrEmpty(item.SubTitle))
                        {
                            string SubTitle = (item.SubTitle.IndexOf(' ') > 0 ) ? item.SubTitle.Replace(" ", "<br/>") : item.SubTitle;
                            <div class="@subtext_white my-xl-4 rwd-subtitle font-weight-normal">@Html.Raw(SubTitle)</div>
                        }
                        @if (!string.IsNullOrEmpty(item.Link))
                        {
                            <a class="rwd-parapraph" href="@item.Link">@item.LinkText &gt;</a>
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="container-fluid text-center" id="series_@item.ID">
                    <div class="banner @text_white text-center">
                        <img class="w-100" src="~/FileUploads/SeriesBannerPhoto/@item.MainPic" alt="" />
                        <div class="banner-txt @textposition">
                            <div class="rwd-title">@item.EngTitle</div>
                            <div class="rwd-title">@item.Title</div>
                            @if (!string.IsNullOrEmpty(item.SubTitle))
                            {
                                string SubTitle = (item.SubTitle.IndexOf(' ') > 0) ? item.SubTitle.Replace(" ", "<br/>") : item.SubTitle;
                                <div class="@subtext_white my-xl-4 rwd-subtitle font-weight-normal">@Html.Raw(SubTitle)</div>
                            }
                            @if (!string.IsNullOrEmpty(item.Link))
                            {
                                <a class="rwd-parapraph" href="@item.Link">@item.LinkText &gt;</a>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    }
</section>
@Html.Partial("Other")

@section bread{
     @{
        string brandType = Model.brand == 1 ? "Laminate" : "Vinyl";
        string brandTypeUpper = brandType.ToUpper();
    }
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Characteristic", new { id = Model.brand, value = brandType} )">@brandTypeUpper</a></li>
    <li class="breadcrumb-item"><a href="/Series/Overview/@Model.SeriesEngStr.Replace(" ", "")">@Model.SeriesEngStr</a></li>
    <li class="breadcrumb-item active" aria-current="page">專利技術</li>
}

@section scripts{
    <script>
        $(function () {
            var laminate = '@laminate';
            var vinyl = '@vinyl';
            $('.menu_2').addClass(laminate);
            $('.menu_3').addClass(vinyl);

            $('#a_tech').addClass('active');
        });
    </script>
}