﻿@model Pergo.ViewModels.Series.UsageView

@{
    string laminate = Model.brand == 1 ? "active" : "";
    string vinyl = Model.brand == 2 ? "active" : "";
    ViewBag.SeriesEngStr = Model.SeriesEngStr;
}

@section header{
    <style>
         .icon-0 {
                padding: 60% 50%;
                background-image: url('/Content/img/icon-All.svg');
            }
        a:hover .icon-0 {
            background-image: url('/Content/img/icon-All-hover.svg');
        }
    </style>
    @if (Model.SiteList.Count > 0)
    {
        int n = 0;
        foreach (var item in Model.SiteList)
        {
            if (n > 0)
            {
            string imgpath = $"/FileUploads/CaseSitePhoto/icon-{ item.ID }.svg";
            string hoverimgpath = $"/FileUploads/CaseSitePhoto/icon-{ item.ID }-hover.svg";
            <style>
            .icon-@item.ID {
                padding: 60% 50%;
                background-image: url(@imgpath);
            }
            a:hover .icon-@item.ID {
                background-image: url(@hoverimgpath);
            }
            </style>
            }
            else
            {
                n++;
            }
        }
    }
}

@section headersection{ 
}

@Html.Partial("SeriesMenu")

<section class="inset-shadow">
    <div class="container py-4 py-lg-8 border-bottom">
        <div class="row justify-content-center">
          <div class="col-xl-10 col-xxl-8">
            <div class="carousel slide" id="usages" data-ride="carousel">
                <div class="carousel-inner">
                    @if (Model.SiteList.Count() > 0)
                    {
                        for (int i = 1; i <= Model.SiteList.Count(); i++)
                        {
                            string Id = "site_icon_" + Model.SiteList[i - 1].ID;
                            string atv = i == 1 ? "active" : "true";
                            if (i % 5 == 1)
                            {
                            @Html.Raw($"<div class='carousel-item {atv}' data-interval='1000000'><div class='form-row justify-content-center filter-buttons'>");
                            }
                            @*if (i == 1)
                            {
                                <a class="svg-link text-hide" href="#" data-filter="*">All<span class="icon icon-All"></span></a></div>
                            }*@
                            <div class="col-2">
                                <a class="svg-link text-hide" href="#" data-filter=".mix-@Model.SiteList[i - 1].ID">@Model.SiteList[i - 1].Name<span id="@Id" class="icon icon-@Model.SiteList[i - 1].ID" style="background-size:initial;"></span></a>
                            </div>
                            if (i % 5 == 0 || i == Model.SiteList.Count())
                            {
                            @Html.Raw("</div></div>");
                            }
                        }
                    }
                    </div>
                    <a class="carousel-control-prev" href="#usages" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#usages" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">Next</span></a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-xl-10 col-xxl-8">
                <div class="row justify-content-center my-xl-8 filterd-list">
                    @if (Model.SiteList.Count() > 0)
                    {
                        foreach (var item in Model.UsageList)
                        {
                            string sitetext = "";
                            string[] sitetype = item.SiteTypeInt.Split(',');
                            foreach (var type in sitetype)
                            {
                                if (!string.IsNullOrEmpty(type))
                                {
                                    sitetext += $"mix-{type} ";
                                }
                            }
                        <div class="col-6 col-md-4 col-xl-4 my-3 el-item @sitetext">
                            <div class="bg-square usage-img" style="background-image:url('/FileUploads/UsagePhoto/@item.MainPic')" data-img="/FileUploads/UsagePhoto/@item.MainPic" data-toggle="modal" data-target=".show-usage" data-name="@item.Title" data-href="@Url.Action("Color", "Series", new { sid = item.SeriesID, cid = $"2-{item.ProductID}" })"></div>
                        </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade show-usage" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered mt-xl-5 mt-md-4">
        <div class="modal-content bg-transparent border-0">
            <a class="text-hide text-right" href="#" data-dismiss="modal" aria-label="Close">close<img src="~/Content/img/icon-cross.svg" alt="close" width="40" height="40" /></a>
            <div class="carousel slide" id="carousel" data-ride="carousel" data-interval="100000">
                <div class="carousel-inner"></div>
            </div><a class="carousel-control-prev" id="carousel-prev" href="#carousel" role="button" data-slide="prev"><span class="carousel-control-prev-icon-white" aria-hidden="true"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" id="carousel-next" href="#carousel" role="button" data-slide="next"><span class="carousel-control-next-icon-white" aria-hidden="true"></span><span class="sr-only">Next</span></a>
        </div>
    </div>
</div>
@Html.Partial("Other")

@section bread{
     @{
        string brandType = Model.brand == 1 ? "Laminate" : "Vinyl";
        string brandTypeUpper = brandType.ToUpper();
    }
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Characteristic", new { id = Model.brand, value = brandType} )">@brandTypeUpper</a></li>
    <li class="breadcrumb-item"><a href="/Series/Overview/@Model.SeriesEngStr.Replace(" ", "")">@Model.SeriesEngStr</a></li>
    <li class="breadcrumb-item active" aria-current="page">應用</li>
}

@section scripts{
    <script>
        $(function () {
            var laminate = '@laminate';
            var vinyl = '@vinyl';
            $('.menu_2').addClass(laminate);
            $('.menu_3').addClass(vinyl);

            $('#a_usage').addClass('active');

            $('.icon-0').parent().attr('data-filter', '*');

            $('.icon').on('click', function () {
                var icId = $(this).attr('id');
                var Id = icId.split('_')[2];
                filiterIcon(Id);
            });

            function filiterIcon(id) {
                $('.icon').each(function () {
                    var icId = $(this).attr('id');
                    var Id = icId.split('_')[2];
                    if (Id == '0') {
                        $('#site_icon_0').attr('style', 'background-image: url(/Content/img/icon-All-hover.svg); padding: 60% 50%;');
                    }
                    else if (Id == id) {
                        $('#' + icId).attr('style', 'background-image: url(/FileUploads/CaseSitePhoto/icon-' + Id + '-hover.svg);');
                        $('#site_icon_0').removeAttr('style', 'background-image: url(/Content/img/icon-All-hover.svg); padding: 60% 50%;');
                    }
                    else {
                        $('#' + icId).removeAttr('style', 'background-image: url(/FileUploads/CaseSitePhoto/icon-' + Id + '-hover.svg);');
                        $('#site_icon_0').removeAttr('style', 'background-image: url(/Content/img/icon-All-hover.svg); padding: 60% 50%;');
                    }
                });
            }
        });
    </script>
}