﻿@model Pergo.ViewModels.Characteristic.CharacteristicView

@{
    string laminate = Model.brand == 1 ? "active" : "";
    string vinyl = Model.brand == 2 ? "active" : "";
    Pergo.Controllers.BaseController baseC = new Pergo.Controllers.BaseController();
}

@section header{
    @if (Model.BrandSeriesList.Count > 0)
    {
        foreach (var item in Model.BrandSeriesList)
        {
            string sName = item.SeriesEngName.ToLower().Replace(" ", "");
            string createdateStr = item.CreateDate.ToString("yyyyMMddHHmms");
            string imgpath = $"/FileUploads/SeriesPhoto/icon-{ sName }-{ createdateStr }.svg";
            string hoverimgpath = $"/FileUploads/SeriesPhoto/icon-{ sName }-{ createdateStr }-hover.svg";
            <style>
            .icon-@sName-@createdateStr {
                padding: 12px;
                background-image: url(@imgpath);
            }
            @@media (min-width: 768px)
            {
                .icon-@sName-@createdateStr {
                    padding: 17px;
                }
            }
            a:hover .icon-@sName-@createdateStr {
                background-image: url(@hoverimgpath);
            }
            </style>
        }
    }
}
@section headersection{    
}
 <div class="container pad-category-btn">
    <div class="row">
        <div class="col-12">
            @{
                string material = Model.id == 1 ? "Laminate 耐磨" : " Vinyl防水";
                string materialEng = Model.id == 1 ? "Laminate" : "Vinyl";
            }
            <div class="bg-mask">
                <label class="pl-2" for="pad-category-series"><span class="pad-category-label">&nbsp;@material 地板</span></label>
            </div>
        </div>
    </div>
</div>
@*<div class="w-100 bg-mask fixed-top py-2 d-lg-none">
      <div class="container mobile-menu-buttom active">
        <label for="mobile-category">&nbsp;@material 地板</label>
    </div>
</div>*@
<input class="d-none" id="pad-category-series" type="checkbox" />
<div class="inset-shadow category-series">
    <div class="container">
        <nav class="row no-gutters justify-content-center">
            @foreach (var item in Model.BrandSeriesList)
            {
                string thisName = item.SeriesEngName.ToLower().Replace(" ", "");
                string createdateStr = item.CreateDate.ToString("yyyyMMddHHmms");
                string text_nowrap = thisName.Length <= 10 ? "text-nowrap" : "text-sm-nowrap";

                <div class="col-3 col-xl-1 text-center mx-xl-1">
                    <a class="font-xs svg-link @text_nowrap" href="/Series/Overview/@item.SeriesEngName.Replace(" ", "")">
                        <span class="icon icon-@thisName-@createdateStr d-block"></span>
                        <span class="eng">@item.SeriesEngName</span>
                        <span class="chn">@item.SeriesName</span>
                    </a>
                </div>
            }

            <div class="col-3 col-lg col-xl-1 text-center mx-xl-1"><a class="font-xs svg-link text-nowrap" href="@Url.Action("Accessories", "Home", new { ch = Model.brand, value = materialEng })"><span class="icon icon-tool d-block"></span>配件</a></div>
            <div class="col-3 col-lg col-xl-1 text-center mx-xl-1"><a class="font-xs svg-link text-nowrap" href="@Url.Action("Index", "Comparison", new { ch = Model.brand, value = materialEng })"><span class="icon icon-compare d-block"></span>比較</a></div>
        </nav>
    </div>
</div>
<section>
    <div class="text-center">
        @if (Model.BannerListTop.Count > 0)
        {
            foreach(var item in Model.BannerListTop)
            {
                string text_white = item.TextChange ? "text-white" : "";
                string subtext_white = item.TextChange ? "text-white" : "text-4d";
                string textposition = "mid-center";
                if (item.Position != null)
                {
                    switch (item.Position)
                    {
                        case 1:
                            textposition = "top-left";
                            break;
                        case 2:
                            textposition = "top-center";
                            break;
                        case 3:
                            textposition = "top-right";
                            break;
                        case 4:
                            textposition = "mid-left";
                            break;
                        case 5:
                            textposition = "mid-center";
                            break;
                        case 6:
                            textposition = "mid-right";
                            break;
                        case 7:
                            textposition = "btm-left";
                            break;
                        case 8:
                            textposition = "btm-center";
                            break;
                        case 9:
                            textposition = "btm-right";
                            break;
                        default:
                            textposition = "mid-center";
                            break;
                    }
                }
                if(!string.IsNullOrEmpty(item.Link) && item.Link.IndexOf("youtube.com") > 0)
                {
                    string videolink = item.Link.Replace("watch?v=", "embed/");
                        <div class="jumbotron bg-cover mb-2 p-0" style="background-image:url('/FileUploads/FixedBannerPhoto/@(baseC.IsMobile() && !string.IsNullOrEmpty(item.MobileMainPic) ? item.MobileMainPic : item.MainPic)')" id="fixed_@(item.Type)_@item.ID">
                            <div class="container-fluid text-center">
                                <iframe class="mb-0" width="100%" height="600" src="@videolink" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                            </div>
                        </div>
                }
                else if (!(item.WhiteSpace))
                {
                 <div class="banner @text_white text-center mb-2" id="fixed_@(item.Type)_@item.ID"><img class="w-100" src="~/FileUploads/FixedBannerPhoto/@(baseC.IsMobile() && !string.IsNullOrEmpty(item.MobileMainPic) ? item.MobileMainPic : item.MainPic)" alt=""/>
                     <div class="banner-txt @textposition">
                        <div class="rwd-title">@item.EngTitle</div>
                        <div class="rwd-title">@item.Title</div>
                         @if (!string.IsNullOrEmpty(item.SubTitle))
                         {
                             string SubTitle = (item.SubTitle.IndexOf(' ') > 0) ? item.SubTitle.Replace(" ", "<br/>") : item.SubTitle;
                        <div class="@subtext_white my-xl-4 rwd-subtitle font-weight-normal">@Html.Raw(SubTitle)</div>
                         }
                        @if(!string.IsNullOrEmpty(item.Link))
                        { 
                        <a class="rwd-parapraph" href="@item.Link">@item.LinkText &gt;</a>
                        }
                    </div>
                </div>
                }
                else
                {
                    <div class="container-fluid text-center" id="fixed_@(item.Type)_@item.ID">
                        <div class="banner @text_white text-center"><img class="w-100" src="~/FileUploads/FixedBannerPhoto/@(baseC.IsMobile() && !string.IsNullOrEmpty(item.MobileMainPic) ? item.MobileMainPic : item.MainPic)" alt=""/>
                            <div class="banner-txt @textposition">
                                <div class="rwd-title">@item.EngTitle</div>
                                <div class="rwd-title">@item.Title</div>
                                @if (!string.IsNullOrEmpty(item.SubTitle))
                                {
                                    string SubTitle = (item.SubTitle.IndexOf(' ') > 0) ? item.SubTitle.Replace(" ", "<br/>") : item.SubTitle;
                                <div class="@subtext_white my-xl-4 rwd-subtitle">@Html.Raw(SubTitle)</div>
                                }
                                @if (!string.IsNullOrEmpty(item.LinkText))
                                {
                                    string link = string.IsNullOrEmpty(item.Link) ? "#" : item.Link;
                                    <a class="rwd-parapraph" href="@link">@item.LinkText ></a>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</section>
<section class="bg-secondary" style="border:1px solid #e4e4e4">
    <div class="container-fluid text-center">
        @if (Model.BannerListMid.Count > 0)
        {
            var data = Model.BannerListMid;
            for (int i = 0; i < data.Count; i = i + 2)
            {
                if (i % 4 == 0)
                {
                    string text_white = data[i].TextChange ? "text-white" : "";
                    string subtext_white = data[i].TextChange ? "text-white" : "text-4d";
                    <div class="row no-gutters my-2 my-lg-4 @text_white" id="fixed_@(data[i].Type)_@data[i].ID">
                        <div class="col-lg-6">
                            <div class="bg-bottom bg-h-rect" style="background-image:url('/FileUploads/FixedBannerPhoto/@(baseC.IsMobile() && !string.IsNullOrEmpty(data[i].MobileMainPic) ? data[i].MobileMainPic : data[i].MainPic)')"></div>
                        </div>
                        <div class="col-lg-6 bg-white d-flex flex-column justify-content-center">
                            <div class="rwd-title">@data[i].EngTitle</div>
                            <div class="rwd-title">@data[i].Title</div>
                            @if (!string.IsNullOrEmpty(data[i].SubTitle))
                            {
                                string SubTitle = (data[i].SubTitle.IndexOf(' ') > 0) ? data[i].SubTitle.Replace(" ", "<br/>") : data[i].SubTitle;
                                <div class="@subtext_white rwd-subtitle">@Html.Raw(SubTitle)</div>
                            }
                            @if (!string.IsNullOrEmpty(data[i].LinkText))
                            {
                                string link = string.IsNullOrEmpty(data[i].Link) ? "#" : data[i].Link;
                                <a class="h4" href="@link">@data[i].LinkText ></a>
                            }
                        </div>
                    </div>
                    if (i + 1 != data.Count)
                    {
                        string text_white2 = data[i+1].TextChange ? "text-white" : "";
                        string subtext_white2 = data[i + 1].TextChange ? "text-white" : "text-4d";
                        <div class="row no-gutters my-2 my-lg-4 flex-lg-row-reverse @text_white2" id="fixed_@(data[i+1].Type)_@data[i+1].ID">
                            <div class="col-lg-6">
                                <div class="bg-bottom bg-h-rect" style="background-image:url('/FileUploads/FixedBannerPhoto/@(baseC.IsMobile() && !string.IsNullOrEmpty(data[i+1].MobileMainPic) ? data[i+1].MobileMainPic : data[i+1].MainPic)')"></div>
                            </div>
                            <div class="col-lg-6 bg-white d-flex flex-column justify-content-center">
                                <div class="rwd-title">@data[i + 1].EngTitle</div>
                                <div class="rwd-title">@data[i + 1].Title</div>
                                @if (!string.IsNullOrEmpty(data[i + 1].SubTitle))
                                {
                                    string SubTitle = (data[i+1].SubTitle.IndexOf(' ') > 0) ? data[i+1].SubTitle.Replace(" ", "<br/>") : data[i+1].SubTitle;
                                    <div class="@subtext_white2 rwd-subtitle">@Html.Raw(SubTitle)</div>
                                }
                                @if (!string.IsNullOrEmpty(data[i + 1].LinkText))
                                {
                                     string link = string.IsNullOrEmpty(data[i+1].Link) ? "#" : data[i+1].Link;
                                    <a class="h4" href="@link">@data[i + 1].LinkText ></a>
                                }
                            </div>
                        </div>
                    }
                }
                else if (i % 4 == 2)
                {
                    string text_white = data[i].TextChange ? "text-white" : "";
                    string subtext_white = data[i].TextChange ? "text-white" : "text-4d";
                    <div class="row my-n2" id="fixed_@(data[i].Type)_@data[i].ID">
                        <div class="col-lg-6 my-2 my-lg-4 @text_white">
                            <div class="bg-v-rect" style="background-image:url('/FileUploads/FixedBannerPhoto/@(baseC.IsMobile() && !string.IsNullOrEmpty(data[i].MobileMainPic) ? data[i].MobileMainPic : data[i].MainPic)')">
                                <div class="width-stretch top mt-5 mt-xl-8 px-4 px-xl-6">
                                    <div class="rwd-title">@data[i].EngTitle</div>
                                    <div class="rwd-title">@data[i].Title</div>
                                    @if (!string.IsNullOrEmpty(data[i].SubTitle))
                                    {
                                        string SubTitle = (data[i].SubTitle.IndexOf(' ') > 0 ) ? data[i].SubTitle.Replace(" ", "<br/>") : data[i].SubTitle;
                                        <div class="@subtext_white rwd-subtitle">@Html.Raw(SubTitle)</div>
                                    }
                                    @if (!string.IsNullOrEmpty(data[i].LinkText))
                                    {
                                        string link = string.IsNullOrEmpty(data[i].Link) ? "#" : data[i].Link;
                                        <a class="rwd-parapraph" href="@link">@data[i].LinkText ></a>
                                    }
                                </div>
                            </div>
                        </div>
                        @if (i + 1 != data.Count)
                        {
                            string text_white2 = data[i + 1].TextChange ? "text-white" : "";
                            string subtext_white2 = data[i + 1].TextChange ? "text-white" : "text-4d";
                            <div class="col-lg-6 my-2 my-lg-4 @text_white2" id="fixed_@(data[i+1].Type)_@data[i+1].ID">
                                <div class="bg-v-rect" style="background-image:url('/FileUploads/FixedBannerPhoto/@(baseC.IsMobile() && !string.IsNullOrEmpty(data[i+1].MobileMainPic) ? data[i+1].MobileMainPic : data[i+1].MainPic)')">
                                    <div class="width-stretch top mt-5 mt-xl-8 px-4 px-xl-6">
                                        <div class="rwd-title">@data[i + 1].EngTitle</div>
                                        <div class="rwd-title">@data[i + 1].Title</div>
                                        @if (!string.IsNullOrEmpty(data[i + 1].SubTitle))
                                        {
                                            string SubTitle = (data[i+1].SubTitle.IndexOf(' ') > 0 ) ? data[i+1].SubTitle.Replace(" ", "<br/>") : data[i+1].SubTitle;
                                            <div class="@subtext_white2 rwd-subtitle">@Html.Raw(SubTitle)</div>
                                        }
                                        @if (!string.IsNullOrEmpty(data[i + 1].LinkText))
                                        {
                                            string link = string.IsNullOrEmpty(data[i+1].Link) ? "#" : data[i+1].Link;
                                            <a class="rwd-parapraph" href="@link">@data[i + 1].LinkText ></a>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            }
        }

        <div class="col-lg-12 my-2 my-lg-4">
            <div class="rwd-title">訂製您的質感生活</div>
        </div>
        @if (Model.BannerListCustom.Count > 0)
        {
            var data = Model.BannerListCustom;
            for (int i = 0; i < data.Count; i = i + 2)
            {
                if (i % 4 == 0)
                {
                    string text_white = data[i].TextChange ? "text-white" : "";
                    string subtext_white = data[i].TextChange ? "text-white" : "text-4d";
                    <div class="row my-n2" id="fixed_@(data[i].Type)_@data[i].ID">
                        <div class="col-lg-6 my-2 my-lg-4 @text_white">
                            <div class="bg-v-rect" style="background-image:url('/FileUploads/FixedBannerPhoto/@(baseC.IsMobile() && !string.IsNullOrEmpty(data[i].MobileMainPic) ? data[i].MobileMainPic : data[i].MainPic)')">
                                <div class="width-stretch top mt-5 mt-xl-8 px-4 px-xl-6">
                                    <div class="rwd-title">@data[i].EngTitle</div>
                                    <div class="rwd-title">@data[i].Title</div>
                                    @if (!string.IsNullOrEmpty(data[i].SubTitle))
                                    {
                                        string SubTitle = (data[i].SubTitle.IndexOf(' ') > 0) ? data[i].SubTitle.Replace(" ", "<br/>") : data[i].SubTitle;
                                        <div class="@subtext_white rwd-subtitle">@Html.Raw(SubTitle)</div>
                                    }
                                    @if (!string.IsNullOrEmpty(data[i].LinkText))
                                    {
                                        string link = string.IsNullOrEmpty(data[i].Link) ? "#" : data[i].Link;
                                        <a class="rwd-parapraph" href="@link">@data[i].LinkText ></a>
                                    }
                                </div>
                            </div>
                        </div>
                        @if (i + 1 != data.Count)
                        {
                            string text_white2 = data[i + 1].TextChange ? "text-white" : "";
                            string subtext_white2 = data[i + 1].TextChange ? "text-white" : "text-4d";
                            <div class="col-lg-6 my-2 my-lg-4 @text_white2" id="fixed_@(data[i+1].Type)_@data[i+1].ID">
                                <div class="bg-v-rect" style="background-image:url('/FileUploads/FixedBannerPhoto/@(baseC.IsMobile() && !string.IsNullOrEmpty(data[i+1].MobileMainPic) ? data[i+1].MobileMainPic : data[i+1].MainPic)')">
                                    <div class="width-stretch top mt-5 mt-xl-8 px-4 px-xl-6">
                                        <div class="rwd-title">@data[i + 1].EngTitle</div>
                                        <div class="rwd-title">@data[i + 1].Title</div>
                                        @if (!string.IsNullOrEmpty(data[i + 1].SubTitle))
                                        {
                                            string SubTitle = (data[i+1].SubTitle.IndexOf(' ') > 0 ) ? data[i+1].SubTitle.Replace(" ", "<br/>") : data[i+1].SubTitle;
                                            <div class="@subtext_white2 rwd-subtitle">@Html.Raw(SubTitle)</div>
                                        }
                                        @if (!string.IsNullOrEmpty(data[i + 1].LinkText))
                                        {
                                            string link = string.IsNullOrEmpty(data[i+1].Link) ? "#" : data[i+1].Link;
                                            <a class="rwd-parapraph" href="@link">@data[i + 1].LinkText ></a>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
                else if (i % 4 == 2)
                {
                    string text_white = data[i].TextChange ? "text-white" : "";
                    string subtext_white = data[i].TextChange ? "text-white" : "text-4d";
                    <div class="row no-gutters my-2 my-lg-4 @text_white" id="fixed_@(data[i].Type)_@data[i].ID">
                        <div class="col-lg-6">
                            <div class="bg-bottom bg-h-rect" style="background-image:url('/FileUploads/FixedBannerPhoto/@(baseC.IsMobile() && !string.IsNullOrEmpty(data[i].MobileMainPic) ? data[i].MobileMainPic : data[i].MainPic)')"></div>
                        </div>
                        <div class="col-lg-6 bg-white d-flex flex-column justify-content-center">
                            <div class="rwd-title">@data[i].EngTitle</div>
                            <div class="rwd-title">@data[i].Title</div>
                            @if (!string.IsNullOrEmpty(data[i].SubTitle))
                            {
                                string SubTitle = (data[i].SubTitle.IndexOf(' ') > 0) ? data[i].SubTitle.Replace(" ", "<br/>") : data[i].SubTitle;
                                <div class="@subtext_white rwd-subtitle">@Html.Raw(SubTitle)</div>
                            }
                            @if (!string.IsNullOrEmpty(data[i].LinkText))
                            {
                                string link = string.IsNullOrEmpty(data[i].Link) ? "#" : data[i].Link;
                                <a class="h4" href="@link">@data[i].LinkText ></a>
                            }
                        </div>
                    </div>
                    if (i + 1 != data.Count)
                    {
                        string text_white2 = data[i + 1].TextChange ? "text-white" : "";
                        string subtext_white2 = data[i + 1].TextChange ? "text-white" : "text-4d";
                        <div class="row no-gutters my-2 my-lg-4 flex-lg-row-reverse @text_white2" id="fixed_@(data[i+1].Type)_@data[i+1].ID">
                            <div class="col-lg-6">
                                <div class="bg-bottom bg-h-rect" style="background-image:url('/FileUploads/FixedBannerPhoto/@(baseC.IsMobile() && !string.IsNullOrEmpty(data[i+1].MobileMainPic) ? data[i+1].MobileMainPic : data[i+1].MainPic)')"></div>
                            </div>
                            <div class="col-lg-6 bg-white d-flex flex-column justify-content-center">
                                <div class="rwd-title">@data[i + 1].EngTitle</div>
                                <div class="rwd-title">@data[i + 1].Title</div>
                                @if (!string.IsNullOrEmpty(data[i + 1].SubTitle))
                                {
                                    string SubTitle = (data[i+1].SubTitle.IndexOf(' ') > 0) ? data[i+1].SubTitle.Replace(" ", "<br/>") : data[i+1].SubTitle;
                                    <div class="@subtext_white2 rwd-subtitle">@Html.Raw(SubTitle)</div>
                                }
                                @if (!string.IsNullOrEmpty(data[i + 1].LinkText))
                                {
                                    string link = string.IsNullOrEmpty(data[i+1].Link) ? "#" : data[i+1].Link;
                                    <a class="h4" href="@link">@data[i + 1].LinkText ></a>
                                }
                            </div>
                        </div>
                    }
                }
            }
        }
    </div>
</section>

@section bread{
    @{string brandType = Model.brand == 1 ? "LAMINATE" : "VINYL";}
    <li class="breadcrumb-item active" aria-current="page">@brandType</li>
}

@section scripts{
    <script>
        $(function () {
            var laminate = '@laminate';
            var vinyl = '@vinyl';
            $('.menu_2').addClass(laminate);
            $('.menu_3').addClass(vinyl);
        });
    </script>
}