﻿@model Pergo.Areas.Admin.ViewModels.ProductImage.ProductImageIndexView
@{
    ViewBag.Title = "Edit";
}

<section class="content-header">
    <h1>
        @Model.ProductStr - 花色展示圖管理
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">編輯展示圖</h3>
                </div>

                @using (Html.BeginForm("Edit", "ProductImageAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ProductID)
                    @*@Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.Creater)*@

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CarousePictures) &nbsp;(尺寸：寬:1665 x 高:937 px , 格式：jpg、png , 可上傳多張圖片)
                            @Html.TextBoxFor(m => m.CarousePictures, new { @type = "file", @accept = "image/x-png,image/jpeg", @multiple = "multiple" })                            
                        </div>   
                        
                        @if (Model.ImageList.Count() > 0)
                        {
                            foreach (var item in Model.ImageList)
                            {
                            <div id="@item.ID">
                                 <img src="~/FileUploads/ProductImagePhoto/@item.CarousePic" class="img-thumbnail" style="width:400px" />        
                                 <button type="button" class="delete_photo">刪除</button>
                            </div>
                            }
                        }

                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Edit", "ProductAdmin", new { id = Model.ProductID}, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            $('.delete_photo').on('click', function () {
                var photoId = $(this).parent().attr('id');
                $.ajax({
                    type: "POST",
                    url: "/Admin/ProductImageAdmin/DeletePhoto",
                    async: false,
                    data: { photoId: photoId },
                    dataType: 'text',
                    //contentType: "application/json",
                    success: function (data) {
                        console.log(data);
                        $(`#${photoId}`).remove();
                    },
                });
            });
        });
    </script>    
}

