﻿@model Pergo.Areas.Admin.ViewModels.CaseImage.CaseImageView
@{
    ViewBag.Title = "Edit";
    string h1Title = string.IsNullOrEmpty(Model.CaseStr) ? "案例圖片管理" : "案例圖片管理 - " + Model.CaseStr;
}

<section class="content-header">
    <h1>
        @h1Title
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">編輯</h3>
                </div>

                @using (Html.BeginForm("Edit", "CaseImageAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.CaseID)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.Creater)

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CarousePic) &nbsp;(尺寸：寬:0 x 高:0 px , 格式：svg)
                            <input type="file" id="pic_file" name="pic_file" accept="image/x-png,image/jpeg">
                            @*@Html.TextBoxFor(m => m.CarousePic, new { @type = "file", @accept = "image/x-png,image/jpeg" })*@
                            <p class="help-block">上傳圖片</p>
                            @Html.ValidationMessageFor(model => model.CarousePic, "", new { @class = "text-danger" })
                            @if (!string.IsNullOrEmpty(Model.CarousePic))
                            {
                                <img src="~/FileUploads/CaseImagePhoto/@Model.CarousePic" class="img-thumbnail" style="width:200px" />
                                @Html.HiddenFor(model => model.CarousePic)
                                <br />
                            }
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Sort)
                            @Html.TextBoxFor(model => model.Sort, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Sort, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-check">
                            @Html.CheckBoxFor(model => model.IsOnline, new { @class = "form-check-input" })
                            <label class="form-check-label" for="check-box-status">
                                @Html.DisplayNameFor(model => model.IsOnline)
                            </label>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">儲存</button>
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>