﻿@{
    var siteNameAbbreviation = @Pergo.Models.Cmind.SiteSetting.SiteNameAbbreviation;
    var siteName = @Pergo.Models.Cmind.SiteSetting.SiteName;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin@(siteNameAbbreviation) | @siteName</title>
    <link rel="shortcut icon" href="~/Content/img/cmind.ico" type="image/png">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link href="~/Content/AdminLTE-2.4.5/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Content/AdminLTE-2.4.5/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link href="~/Content/AdminLTE-2.4.5/Ionicons/css/ionicons.min.css" rel="stylesheet" />
    <!-- DataTables -->
    <link href="~/Content/AdminLTE-2.4.5/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Content/AdminLTE-2.4.5/css/AdminLTE.min.css" rel="stylesheet" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="~/Content/AdminLTE-2.4.5/css/skins/_all-skins.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <!--以下為自訂STYLE-->
    <!--bootstrap-tagsinput-->
    <link href="~/Content/bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.css" rel="stylesheet" />

    <!--顯示訊息-->
    <link href="~/Content/Admin/toastr/toastr.css" rel="stylesheet" />
    <link href="~/Content/Admin/custom.css" rel="stylesheet" />
    <style>
        .text-danger {
            color: darkred;
        }
    </style>
    @RenderSection("styles", required: false)
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="@Url.Action("Index", "HomeAdmin")" class="logo">
                <span class="logo-mini"><b>A</b>@siteNameAbbreviation</span>
                <span class="logo-lg"><b>Admin</b>@siteName</span>
            </a>
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </nav>
        </header>
        <!-- 左側選單 -->
        <aside class="main-sidebar">
            @Html.Partial("_SidebarMenu")
        </aside>
        <!--左側選單 END-->
        <!--主要內容 START-->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!--主要內容 END-->
        <!-- Main Footer -->
        <footer class="main-footer">
            <strong><a href="@Pergo.Models.Cmind.SiteSetting.MaintainerWebSite" target="_blank">@Pergo.Models.Cmind.SiteSetting.Maintainer</a>.</strong>
        </footer>
    </div>

    <!-- jQuery 3 -->
    <script src="~/Content/AdminLTE-2.4.5/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/AdminLTE-2.4.5/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script src="~/Content/AdminLTE-2.4.5/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/AdminLTE-2.4.5/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/Content/AdminLTE-2.4.5/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/AdminLTE-2.4.5/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Scripts/AdminLTE-2.4.5/js/adminlte.min.js"></script>

    <!--以下為自訂js-->
    <!--bootstrap-tagsinput-->
    <script src="~/Content/bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.min.js"></script>

    <!--顯示訊息-->
    <script src="~/Scripts/Admin/toastr/toastr.min.js"></script>

    <!--自訂設定-->
    <script src="~/Scripts/Admin/cmind.setting.js"></script>

    <script src="~/Scripts/Admin/custom.js"></script>

    <!--錯誤訊息-->
    @Html.Partial("_PromptNotification")
    @RenderSection("scripts", required: false)

    <script>
        $(function () {
            $('#copy_anchor').on('click', function () {
                var copyText = $(this);
                copyText.select();
                document.execCommand("Copy");
                setTimeout(function () {
                    $(this).css("background-color", "skyblue");
                }, 200);
            });
            ActiveMenu();
            function ActiveMenu() {
                $('.sidebar-menu tree li').each(function () {
                    $(this).removeClass('active');
                    if ($(this).hasClass('treeview')) {
                        $(this).children().each(function () {
                            $(this).removeClass('active');
                        });
                    }
                });
                if ($('li a[href*="' + window.location.pathname + '"]').parent('li').parent().attr('class').indexOf('treeview-menu') > -1) {
                    $('li a[href*="' + window.location.pathname + '"]').parent('li').parent().parent('li').addClass('active');
                }
                $('li a[href*="' + window.location.pathname + '"]').parent('li').addClass('active');
            }
        });
    </script>
</body>
</html>