﻿@model Pergo.Models.Cmind.Page
@{
    var prePageDisable = Model.CurrentPage == 1;
    var prePageDisableCss = prePageDisable ? "disabled" : null;
    var prePage = (Model.CurrentPage - 1);

    var nextPageDisable = Model.CurrentPage == Model.TotalPages;
    var nextPageDisableCss = nextPageDisable ? "disabled" : null;
    var nextPage = (Model.CurrentPage + 1);

    var currentPage = Model.CurrentPage;

    var start = (Model.CurrentPage - 1) * Model.PageSize + 1;
    var end = start + (Model.Count - 1);

    int showPagesCount = 2;
    int showPageStart = Math.Max(Model.CurrentPage - showPagesCount, 1);
    int showPageEnd = Math.Min(Model.CurrentPage + showPagesCount, Model.TotalPages);
}

<div>
    <div class="col-sm-5">
        <div class="dataTables_info" id="dataList_info">
            第 @start 筆到 @end 筆，總共 @Model.Total 筆
        </div>
    </div>
    <div class="col-sm-7">
        <div class="dataTables_paginate paging_simple_numbers" id="dataList_paginate">

            <ul class="pagination">
                <li class="paginate_button previous @prePageDisableCss" id="dataList_previous">
                    <a href="#" data-pager="@prePage">上一頁</a>
                </li>

                @if (showPageStart > 1)
                {
                    <li class="paginate_button"><a href="#" data-pager="1">1</a></li>
                }
                @if (showPageStart > 2)
                {
                     <li class="disabled paginate_button"><a href="#" class="" data-pager="">...</a></li>
                }

                @for (int i = showPageStart; i <= showPageEnd; i++)
                {
                    var currentPageActive = (i == currentPage) ? "active" : null;
                    <li class="paginate_button @currentPageActive">
                        <a href="#" data-pager="@i">@i</a>
                    </li>
                }

                @if (showPageEnd < Model.TotalPages - 1)
                {
                    <li class="disabled paginate_button"><a href="#" class="" data-pager="">...</a></li>
                }
                 @if (showPageEnd != Model.TotalPages)
                {
                     <li class="paginate_button"><a href="#" data-pager="@Model.TotalPages">@Model.TotalPages</a></li>
                }

                <li class="paginate_button next @nextPageDisableCss" id="dataList_next">
                    <a href="#" data-pager="@nextPage">下一頁</a>
                </li>
            </ul>
        </div>
    </div>
</div>